<!doctype html>
html(lang="ru")
	head

		<meta property="og:url" content="http://meltzer.kdm1.ru/" />
		<meta property="og:type" content="Meltzer Group юридическая компания" />
		<meta property="og:title" content="Юридические услуги по сопровождению бизнеса и юридическому аутсорсингу компания Meltzer Group." />
		<meta property="og:description" content="Meltzer litignation & consulting юридические услуги для частных и корпоративных клиентов" />
		<meta property="og:image" content="images/present-logo.png" />
		<meta property="og:image:type" content="image/png" />


		<meta name="title" content="Юридические услуги по сопровождению бизнеса и юридическому аутсорсингу компания Meltzer Group." />
		<meta name="description" content="Meltzer litignation & consulting юридические услуги для частных и корпоративных клиентов" />
		<link rel="image_src" href="images/present-logo.png" />

		meta(charset="UTF-8")
		link(rel="stylesheet", href="vendor/bootstrap/css/bootstrap.min.css")
		link(rel="stylesheet", href="css/meltzer.css")
		link(rel="shortcut icon", type="image/x-icon", href="favicon.ico")
		meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0")
		<script type="text/javascript" src="http://vk.com/js/api/share.js?94" charset="windows-1251"></script>






		block title
			title Meltzer
	body
		include addons/_mixins.jade
		include addons/_data.jade
		include addons/_variables.jade
		include external/_header.jade
		include external/_navbar.jade
		block content
		include external/_ffooter.jade
		include external/_sfooter.jade
		include external/_navfixed.jade
		include external/_modal-contact.jade
		include external/_scripts.jade