extends _layout.jade
block title
	title Абонентское юридическое обслуживание юридических лиц в Москве – компания «Meltzerfirm».
block content
	section.jumbotron.section-present.abon
		div.container
			.row
				div.col-md-20.col-sm-20.text-center
					ol.breadcrumb
						li
							a.main(href="index.html") Главная
						li
							a(href="#") Услуги
						li
							a.active(href="#") Юридическое сопровождение бизнеса
					h1.
						Юридическое<br />
						сопровождение бизнеса
					h4.
						Любой компании время от&nbsp;времени требуется юридическая поддержка. Чаще это&nbsp;мелочи,<br />
						вроде проверки договоров. Но&nbsp;иногда бывают и&nbsp;серьезные вопросы: например, взыскание<br />
						дебиторской задолженности или налоговая проверка. Вы&nbsp;понимаете, что вам требуется<br />
						такая помощь, но&nbsp;до&nbsp;сих пор не&nbsp;уверены в&nbsp;том, нужен&nbsp;ли юрист в&nbsp;штат?
						<span>
						Хватит сомневаться. Вам&nbsp;стоит нанять Meltzer Group.
						</span>
					div.col-md-20.button-sect
						button.btn.btn-default.modal-contact-button-open.
							Заказать звонок
	div#waypointMenu
	section.jumbotron.section-need.abon
		div.container
			div.col-md-16.col-sm-12
				h1.
					Юридическое<br />
					сопровождение бизнеса &mdash;
				h3.
					одна из&nbsp;самых востребованных услуг<br />
					компании Meltzer Group
				h4.
					Наша поддержка поможет вам не&nbsp;только решить, но&nbsp;и&nbsp;предупредить множество проблем<br />
					с&nbsp;государственными органами и&nbsp;службами, недобросовестными контрагентами,<br />
					а&nbsp;также регулировать трудовые и&nbsp;корпоративные споры внутри компании.
			div.col-md-4.col-sm-8.image-block.hidden-xs
				img.img-responsive(src="images/yur-man.png",  alt="Это нужно")
	//- SECTION SERVER [ROW, COLS]
	section.section-service.abon
		div.container
			h1 Что сюда входит?
			div.row
				.col-md-5.col-sm-5.col-xs-10
					figure
						img(src="images/a-people.png", alt="Обслуживание")
						figcaption.
							Консультирование<br />
							по&nbsp;всем правовым<br />
							вопросам организации
				.col-md-5.col-sm-5.col-xs-10
					figure
						img(src="images/a-price.png", alt="Активы")
						figcaption.
							Работа с&nbsp;договорами<br />
							и&nbsp;проверка<br />
							контрагентов
				.col-md-5.col-sm-5.col-xs-10
					figure
						img(src="images/a-paper.png", alt="Недвижимость")
						figcaption.
							Кадровые<br />
							документы
				.col-md-5.col-sm-5.col-xs-10
					figure
						img(src="images/a-stand.png", alt="В суде")
						figcaption.
							Работа с&nbsp;претензиями,<br />
							жалобами
			div.row
				.col-md-5.col-sm-5.col-xs-10
					figure
						img(src="images/icon-housetree.png", alt="Обслуживание")
						figcaption.
							Выезды к&nbsp;клиенту<br />
							в&nbsp;офис
				.col-md-5.col-sm-5.col-xs-10
					figure
						img(src="images/icon-pageplus.png", alt="Планирование")
						figcaption.
							Сопровождение<br />
							при проверках налоговых<br />
							и&nbsp;правоохранительных<br />
							органов
				.col-md-5.col-sm-5.col-xs-10
					figure
						img(src="images/icon-museum.png", alt="Изменения")
						figcaption.
							Представление<br />
							интересов клиента<br />
							в&nbsp;суде
				.col-md-5.col-sm-5.col-xs-10
					figure
						img(src="images/icon-pagepen.png", alt="Обслуживание")
						figcaption.
							Внесение изменений<br />
							в&nbsp;учредительные<br />
							документы организации
	//- SECTION YOURQUEST [ROW, COLS]
	section.section-yourquest.abon
		div.container
			div.row
				.col-md-20.col-lg-20.col-xs-20.col-sm-20
					h1.
						Почему вам&nbsp;выгодно обратиться<br />
						в&nbsp;Meltzer Group?
			div.row
				.col-md-7.col-sm-10
					div.row
						.col-md-20.block-quest
							h3 Большой опыт
							p.
								Благодаря большому опыту Meltzer Group
								может согласовать договор с&nbsp;юристами
								контрагента в&nbsp;кратчайший срок и&nbsp;оперативно
								взыскать дебиторскую задолженность
								пока у&nbsp;должника есть активы и&nbsp;средства
								на&nbsp;счетах и&nbsp;не&nbsp;только. Это&nbsp;под&nbsp;силу не&nbsp;каждой
								компании, но&nbsp;мы&nbsp;уверены в&nbsp;своих силах.
						.col-md-20.block-quest
							h3 Сокращение издержек
							p.
								Вы&nbsp;сокращаете расходы на&nbsp;взносах в&nbsp;фонды,
								больничных, отпускных, страховке, дорогом
								лицензионном ПО&nbsp;для работы юриста
								и&nbsp;квадратных метрах. И&nbsp;в&nbsp;итоге оплата
								абонентского обслуживания обходится
								гораздо дешевле, чем&nbsp;содержание
								собственного юридического отдела.
						.col-md-20.block-quest
							h3 Больше, чем&nbsp;гарантия
							p.
								Наша профессиональная ответственность
								застрахована в&nbsp;компании &laquo;Альфа
								страхование&raquo;.
				.col-md-5.col-sm-10.hidden-xs.hidden-sm
					img.img-responsive(src="images/yourquest-man.png", alt="Вопрос")
				.col-md-8.col-sm-10.last-block-responsive
					.col-md-20.col-sm-20.block-quest
						h3 Работа на&nbsp;результат
						p.
							Юридические услуги компании на&nbsp;аутсорсинге
							по&nbsp;статистике более эффективны и&nbsp;качественны
							за&nbsp;счет отношений <nobr>заказчик-клиент</nobr>,
							а&nbsp;не&nbsp;<nobr>работодатель-сотрудник</nobr>. Мы&nbsp;дорожим
							своей репутацией, а&nbsp;значит, отвечаем
							за&nbsp;каждого сотрудника.
					.col-md-20.col-sm-20.block-quest
						h3 Действительно удобный формат
						p.
							Юридическую компанию, которая вас
							обслуживает удаленно, легче и&nbsp;быстрее
							заменить, чем&nbsp;заниматься увольнением
							и&nbsp;поиском новых юристов в&nbsp;штат.
					.col-md-20.col-sm-20.block-quest
						h3 Никакого стресса
						p.
							Наши клиенты испытывают меньше стрессов,
							а&nbsp;следовательно, у&nbsp;них улучшается состояние
							здоровья. Лучше сон.
	//- SECTION JUMBOTRON (SOLUTION)
	section.jumbotron.section-solution.abon
		div.container
			div.col-md-7.col-sm-10
				img.img-responsive(src="images/sit-man.png", alt="Решение")
			div.col-md-12.col-sm-10.col-md-offset-1
				h1.
					Как&nbsp;работает<br />
					юридический аутсорсинг?
				p.
					После заключения договора с&nbsp;Meltzer Group за&nbsp;вашей компанией<br />
					закрепляется персональный юрист, к&nbsp;которому ваши&nbsp;сотрудники<br />
					могут обращаться в&nbsp;любое время.
				p.
					Как только наш&nbsp;юрист получит задание он&nbsp;самостоятельно привлечет остальных специалистов узкой направленности компании Melzer Group для&nbsp;решения поставленной задачи.
				p.
					А&nbsp;вы&nbsp;в&nbsp;итоге получите только готовое решение. Мы&nbsp;передадим<br />
					его любым удобным для&nbsp;вас&nbsp;способом (по&nbsp;электронной почте,<br />
					в&nbsp;письменном виде или&nbsp;устно по&nbsp;телефону).
	section.section-table.abon.hidden-xs
		div.container
			div.row
				h1.
					Выберите свой тариф
				h3.
					Стоимость обслуживания зависит от&nbsp;пакета предоставляемых<br />
					юридических услуг, который составляется индивидуально<br />
					с&nbsp;учетом ваших&nbsp;пожеланий, потребностей и&nbsp;возможностей
				img(src="images/table-discont.png", alt="Скидка")
			div.row
				table.table.table-condensed
					thead
						tr
							th.
								&nbsp;
							th.table-head-prime
								img.img-responsive(src="images/icon-penblue.png", alt="Прайм")
							th.table-head-opt
								img.img-responsive(src="images/icon-fingup.png", alt="Оптиум")
							th.table-head-vip
								img.img-responsive(src="images/icon-diamond.png", alt="Премиум")
					tbody
						tr
							td Консультации
							td 5 часов
							td 15 часов
							td без ограничений
						tr
							td Работа с договорами
							td 5 договоров
							td 10 договоров
							td без ограничений
						tr
							td Кадровые документы
							td 5 документов
							td 20 документов
							td без ограничений
						tr
							td Работа с претезиями, жалобами
							td 5 документов
							td 10 документов
							td без ограничений
						tr
							td Выезды к клиенту
							td 2 раза в месяц
							td 4 раза в месяц
							td без ограничений
						tr
							td Внесение изменений в ООО
							td 1 раз в месяц
							td 2 раза в месяц
							td без ограничений
						tr
							td Сопровождение при проверках
							td &mdash;
							td 1 раз в месяц
							td без ограничений
						tr
							td Судебная работа
							td &mdash;
							td 1 судебный процесс в месяц
							td 3 судебных процесса в месяц
						tr
							td &nbsp;
							td 
								img.img-responsive(src="images/icon-disc5.png", alt="Дисконт")
							td 
								img.img-responsive(src="images/icon-disk10.png", alt="Дисконт")
							td 
								img.img-responsive(src="images/icon-disk15.png", alt="Дисконт")
					tfoot
						tr
							td &nbsp;
							td
								button.btn.btn-primary.modal-contact-button-open.
									Заказать
							td
								button.btn.btn-primary.modal-contact-button-open.
									Заказать
							td
								button.btn.btn-primary.modal-contact-button-open.
									Заказать
	section.section-newservice
		.container
			.row
				.col-md-20
					h1.
						У&nbsp;нас уже обслуживаются
			.row
				.col-md-6.blocks-service
					img(src="images/group-bg-one.png", alt="ФГБУ")
					h3.
						ФГБУ ЛОЦ &laquo;Елочки&raquo;<br />
						при Минфине России
				.col-md-6.col-md-offset-1.blocks-service
					img(src="images/group-bg-two.png", alt="ГК")
					h3.
						ФГБУ ЛОЦ &laquo;Елочки&raquo;<br />
						при Минфине России
				.col-md-6.col-md-offset-1.blocks-service
					img(src="images/group-bg-three.png", alt="ВЕСТ")
					h3.
						<nobr>ЗАО &laquo;Вест&raquo;</nobr>
			.row
				.col-md-6.blocks-service
					img(src="images/group-bg-four.png", alt="Progress")
					h3.
						Межгосударственная<br />
						корпорация развития
				.col-md-6.blocks-service.col-md-offset-1
					img(src="images/group-bg-five.png", alt="корпорация")
					h3.
						ОАО корпорация<br />
						тактическое военное<br />
						вооружение
				.col-md-6.blocks-service.col-md-offset-1
					img(src="images/group-bg-six.png", alt="пром")
					h3.
						ГК&nbsp;ЗМК пром
			.row
				.col-md-6.blocks-service
					img(src="images/group-bg-seven.png", alt="Астеримед")
					h3.
						Астеримед
				.col-md-6.blocks-service.col-md-offset-1
					img(src="images/group-bg-eight.png", alt="куизон")
					h3.
						Де&nbsp;куизон<br />
						(ООО Интелс)
				.col-md-6.blocks-service.col-md-offset-1
					img(src="images/group-bg-nine.png", alt="Студия")
					h3.
						Студия красоты<br />
						&laquo;Дарья Гросс&raquo;
				.col-md-6.blocks-service
					img(src="images/group-bg-ten.png", alt="Фанкор")
					h3.
						Фанкор
				.col-md-6.blocks-service.col-md-offset-1
					img(src="images/group-bg-eleven.png", alt="Маркетинг")
					h3.
						Целевой маркетинг
				.col-md-6.blocks-service.col-md-offset-1
					img(src="images/group-bg-twenty.png", alt="Eleon")
					h3.
						Eleon place
	//- SECTION CAROUSEL (MOUNTH)
	section#carousel-mounth.carousel.slide.abon.hidden-xs(data-ride="carousel")
		div.container
			//- First
			div.carousel-inner(role="listbox")
					div.item.active
						figure
							img(src="images/icon-slider-gift.png", alt="Подарок")
							figcaption
								h3.
									Месяц обслуживания в&nbsp;подарок
								p.
									Мы&nbsp;разыгрываем месяц бесплатного юридического обслуживания.<br />
									Просто предъявите этот&nbsp;купон и&nbsp;следите за&nbsp;результатами.<br />
									Может быть именно вам повезет: наш&nbsp;менеджер вскоре позвонит<br />
									с&nbsp;хорошими новостями.
						div.block-content-slider
							.row
								div.col-md-3.col-sm-4.col-sm-offset-1.col-md-offset-3.padding-top-slider-cap
									a.btn.btn-default(href="/images/coupon.jpg" download).
										Скачать купон
								div.col-md-13.col-sm-12.col-sm-offset-1.col-md-offset-1.padding-top-slider-cap
									p.
										Количество купонов ограничено. Акция 	длится до&nbsp;30 сентября.
