extends _layout.jade
include addons/_data.jade
block title
	title Информация о компании «Meltzerfirm»
block content
	section.jumbotron.section-present.abon.centered-phone
		div.container
			.row
				div.col-md-20.col-sm-20.text-center
					ol.breadcrumb
						li
							a.main(href="index.html") Главная
						li
							a(href="#") О компании
						li
							a.active(href="#") История Meltzer Group
					h1.
						О компании
	div#waypointMenu
	each val in aboutCompany
		+imagetext(val)
	section.jumbotron.section-sliderabout.hidden-xs.hidden-sm
		.container
			each slideIn in sliderInfoContent
				+sliderInformation(slideIn)