extends _layout.jade
block title
	title Meltzer Group - Активы
block content
	section.jumbotron.section-present.abon
		div.container
			.row
				div.col-md-20.col-sm-20.text-center
					ol.breadcrumb
						li
							a.main(href="index.html") Главная
						li
							a(href="#") Услуги
						li
							a.active(href="#") Поиск и возврат активов за рубежом
					h1.
						Поиск и&nbsp;возврат активов<br />
						за&nbsp;рубежом
					h4.
						Мы&nbsp;оказываем профессиональную помощь в&nbsp;поиске и&nbsp;возврате активов<br />
						должника для юридических лиц. Если&nbsp;у&nbsp;вашего должника есть недвижимость,<br />
						транспорт или банковские счета, акции или долю в&nbsp;уставном капитале,<br />
						оформленные через оффшоры, мы&nbsp;непременно их&nbsp;отыщем.
					div.col-md-20.button-sect
						button.btn.btn-default.modal-contact-button-open.
							Заказать звонок
	div#waypointMenu
	//- SECTION JUMBOTRON (SOLUTION)
	section.jumbotron.section-solution.activ
		div.container
			div.col-md-6.hidden-xs.hidden-sm
				img.img-responsive(src="images/book-man.png", alt="Решение")
			div.col-md-14
				h1.
					Как это&nbsp;работает?
				h4.
					Поиск и&nbsp;установление активов юридических и&nbsp;физических лиц
				ul
					li.
						<span>
							розыск имущества, поиск счетов, денежных вкладов, а&nbsp;также нематериальных активов;
						</span>
					li.
						<span>
							поиск проблемных активов, на&nbsp;которые наложены финансовые или&nbsp;юридические ограничения;
						</span>
					li.
						<span>
							розыск активов за&nbsp;границей, в&nbsp;том числе оффшорных счетов и&nbsp;имущества.
						</span>
				h4.
					Установление и&nbsp;доказательство связи должника и&nbsp;скрытых активов <span>(даже при передаче прав
					собственности третьим лицам)</span>
				p.margin-bottom.
					Проверка и&nbsp;экспертиза всех документов и&nbsp;финансовой отчетности должника, анализ платежеспособности.
				p.
					Мы&nbsp;разработали правовую схему, которая позволяет кредитору накладывать арест и&nbsp;взыскивать задолженность
					в&nbsp;юрисдикции, где находятся активы должника. Сотрудники Meltzer Group совместно с&nbsp;партнерами
					из&nbsp;соответствующей юрисдикции, где находятся активы должника, подготавливает необходимые документы
					и&nbsp;участвует в&nbsp;судебном процессе по&nbsp;аресту найденных активов должника и&nbsp;взысканию задолженности.
	section.jumbotron.section-meltgroup.activ
		div.container
			div.meltgroup-text
				.row
					h2.text-font В&nbsp;нашей корпоративной базе
			div.meltgroup-prime
				.flex-container
					.flex-item.order-1
							h2.order-1.
								120
							h4.order-2.
								<span>
									миллионов<br />
									компаний в&nbsp;более
								</span>
					.flex-item.order-2
							h2.order-1.
								100
							h4.order-2.
								<span class="second">
									юрисдикциях
								</span>
	//- SECTION SERVER [ROW, COLS]
	section.section-service.activ
		div.container
			h1.
				Почему вам стоит обратиться<br />
				в&nbsp;Meltzer Group?
			div.row
				.col-md-5.col-sm-5.col-xs-10
					figure
						img(src="images/b-planet.png", alt="Обслуживание")
						figcaption.
							У&nbsp;нас партнерские<br />
							офисы в&nbsp;10&nbsp;странах<br />
							мира
				.col-md-5.col-sm-5.col-xs-10
					figure
						img(src="images/icon-pageplus.png", alt="Активы")
						figcaption.
							Розыск активов<br />
							и&nbsp;должника начнется<br />
							в&nbsp;день обращения
				.col-md-5.col-sm-5.col-xs-10
					figure
						img(src="images/b-listcup.png", alt="Недвижимость")
						figcaption.
							Более 10 лет<br />
							опыта поисков
				.col-md-5.col-sm-5.col-xs-10
					figure
						img(src="images/icon-museum.png", alt="В суде")
						figcaption.
							Нам неоднократно
							удавалось найти должника,
							которому в&nbsp;прочих
							обстоятельствах удалось&nbsp;бы&nbsp;
							скрыться с&nbsp;вашими деньгами
	section.jumbotron.section-flexmap
		.container
			.row
				.flex-container
					.flex-item.order-1
						img.img-responsive(src="images/map/bg.png", alt="Карта")
					.flex-item.order-2
						ul
							each itemp in mapList
								li.flex-in-flex
									i.itemp-icon.order-1
										img(src=itemp.icon, alt="Icon")
									h4.itemp-title.order-2!=itemp.title
									span.itemp-logo.order-3
										img(src=itemp.logo, alt="Logo")
									p.itemp-brand.order-4!=itemp.name