extends _layout.jade
block title
	title Услуги по абонентскому бухгалтерскому обслуживанию компаний в Москве - компания «Meltzerfirm».
block content
	section.jumbotron.section-present.abon.buhgalt
		div.container
			.row
				div.col-md-20.col-sm-20.text-center
					ol.breadcrumb
						li
							a.main(href="index.html") Главная
						li
							a(href="#") Услуги
						li
							a.active(href="#") Бухгалтерское обслуживание
					h1.
						Бухгалтерское обслуживание
					h4.
						Реалии современного бизнеса таковы, что&nbsp;без&nbsp;качественного бухгалтерского учета, <a href="nalog.html" class="underline-buhgalt">налогового&nbsp;планирования</a>, а&nbsp;также&nbsp;оптимизации финансовой и&nbsp;кадровойполитики удержаться на&nbsp;плаву довольно непросто даже самому процветающему предприятию.
					div.col-md-20.button-sect
						button.btn.btn-default.modal-contact-button-open.
							Заказать звонок
	div#waypointMenu
	+anyblock('section-buhgalt-present')
		.flex-container
			.flex-item.order-1.hidden-xs.hidden-sm
				img.img-responsive(src="images/bookman-new.png", alt="Человек")
			.flex-item.order-2
				p.
					В&nbsp;условиях стремительно меняющегося законодательства и&nbsp;внедрения в&nbsp;сферу учета цифровых технологий все большее количество компаний приходит к&nbsp;выводу, что бухгалтерское обслуживание предприятия рациональнее передать в&nbsp;руки профессионалам.
				p.
					С&nbsp;учетом того, что ведение бухгалтерии предприятий довольно трудоемкий процесс даже
					для малого бизнеса, привлечение аутсорсинговых компаний является действенным способом оптимизации бизнес-процессов.
	+anyblock('section-handup')
		.flex-container
			.flex-item.order-1.hidden-sm.hidden-xs
				img(src="images/yourquest-man.png", alt="")
			.flex-item.order-2
				h3.
					&laquo;Бухгалтерское обслуживание&raquo;&nbsp;&mdash; это&nbsp;целый комплекс услуг,
					охватывающий практически все&nbsp;сферы деятельности
					организации. В&nbsp;него входит:
				ul
					li.
						восстановление учета;
					li.
						обработка и&nbsp;занесение в&nbsp;реестры первичной документации;
					li.
						составление и&nbsp;сдача налоговой отчетности, а&nbsp;также отчетов в&nbsp;различные контролирующие органы (в&nbsp;том числе и&nbsp;для&nbsp;ИП);
					li.
						начисление заработной платы сотрудникам;
					li.
						налоговое планирование;
					li.
						анализ и&nbsp;сопровождение хозяйственной деятельности.
				p.
					Наиболее выгодной услугой для большинства наших клиентов является абонентское бухгалтерское обслуживание. Комплексное оказание услуг позволяет оптимизировать работу предприятия, а&nbsp;стоимость такого пакета даже ниже, чем консультации специалистов разного профиля.
				p.
					В&nbsp;Москве конкуренция среди юридических компаний достаточно высока, но&nbsp;компания Meltzer litigation and Consulting LLC уверенно чувствует себя на&nbsp;этом рынке. Более 15&nbsp;лет наша компания предоставляет исключительно качественные бухгалтерские и&nbsp;юридические услуги для&nbsp;крупных и&nbsp;малых предприятий в&nbsp;Москве, о&nbsp;чем&nbsp;свидетельствует многочисленное количество отзывов удовлетворенных клиентов.
				.function-center-button
					button.btn.btn-primary.modal-contact-button-open(type="button").
						Заказать услугу
	+anyblock('section-table hidden-xs section-buhgalt-table')
		div.container
			div.row
				table.table.table-condensed
					thead
						tr
							th.
								&nbsp;
							th.table-head-prime
								img.img-responsive(src="images/icon-penblue.png", alt="Прайм")
							th.table-head-opt
								img.img-responsive(src="images/icon-fingup.png", alt="Оптиум")
							th.table-head-vip
								img.img-responsive(src="images/icon-diamond.png", alt="Премиум")
					tbody
						tr
							td Консультации
							td 10 раз в месяц
							td 20 раз в месяц
							td без ограничений
						tr
							td Актов и накладных
							td 20 документов в месяц
							td 100 документов в месяц
							td без ограничений
						tr
							td Численность сотрудников
							td до 5 человек
							td до 20 человек
							td до 50 человек
						tr
							td Кадровый учет
							td до 5 человек
							td до 20 человек
							td до 50 человек
						tr
							td Обслуживание счета
							td 20 банковских платежей в месяц
							td 100 банковских платежей в месяц
							td без ограничений
						tr
							td Выезды к клиенту
							td 1 раз в месяц
							td 2 раза в месяц
							td 4 раза в месяц
						tr
							td Сопровождение проведения налоговой проверки
							td &mdash;
							td 1 раз в квартал
							td 1 раз в месяц
						tr
							td &nbsp;
							td 
								img.img-responsive(src="images/icon-disc5.png", alt="Дисконт")
								p.text-disc.
									5% скидочная карта на услуги компании
							td 
								img.img-responsive(src="images/icon-disk10.png", alt="Дисконт")
								p.text-disc.
									10% скидочная карта на услуги компании
							td 
								img.img-responsive(src="images/icon-disk15.png", alt="Дисконт")
								p.text-disc.
									15% скидочная карта на услуги компании
					tfoot
						tr
							td &nbsp;
							td
								button.btn.btn-primary.modal-contact-button-open.
									Заказать
							td
								button.btn.btn-primary.modal-contact-button-open.
									Заказать
							td
								button.btn.btn-primary.modal-contact-button-open.
									Заказать
	+anyblock('section-ordering')
		h3.
			Расчет стоимости персонального пакета
		form.flex-container#addFormCheckbox(action="#" method="post")
			.flex-item.order-1
					h4.
						В&nbsp;качестве кого вы&nbsp;зарегистрированы в&nbsp;налоговой?
					each orderFirst in orderingInfoFirst
						.order-blue
							+radioChecks(orderFirst)
			.flex-item.order-2
					h4.
						Ваша система налогооблажения
					each orderSecond in orderingInfoSecond
						.order-blue
							+radioChecks(orderSecond)
			.flex-item.order-3
					h4.
						Общее количество операций
						по <i class="rouble-course-font">у</i>/счёту в месяц
					each orderThird in orderingInfoThird
						.order-blue
							+radioChecks(orderThird)
			.flex-item.order-4
					h4.
						Общее количество сотрудников,
						включая генерального директора
					each orderFour in orderingInfoFourth
						.order-blue
							+radioChecks(orderFour)
			.flex-item.order-5
					h4.
						Вид вашей деятельности
					each orderFiveth in orderingInfoFiveth
						.order-blue
							+radioChecks(orderFiveth)
			.flex-item.order-6
					h4.
						Ваш примерный оборот в&nbsp;месяц
					each orderSixth in orderingInfoSixth
						.order-blue
							+radioChecks(orderSixth)
		.function-ajax-add-form
			button.btn.btn-primary.modal-contact-button-open.
				Отправить заявку
	+anyblock('section-last-overover')
		.flex-container
			.flex-item.order-1
				img.img-responsive(src="images/sit-man.png", alt="Человек")
			.flex-item.order-2
				h2.
					5 шагов
				h3.
					сотрудничества с&nbsp;нами
				ul
					li.
						<span class="icon-order-list">
							1
						</span>
						Персональная консультация
					li.
						<span class="icon-order-list">
							2
						</span>
						Объективный расчет стоимости, исходя из&nbsp;специфики вашего бизнеса
					li.
						<span class="icon-order-list">
							3
						</span>
						Заключение договора
					li.
						<span class="icon-order-list">
							4
						</span>
						Обработка документов и&nbsp;формирование базы&nbsp;1С
					li.
						<span class="icon-order-list">
							5
						</span>
						Сдача отчетности без ошибок точно в&nbsp;срок
				button.btn.btn-primary.modal-contact-button-open.
					Заказать услугу
