extends _layout.jade
block title
	title Meltzer Group - клиенты компании
block content
	section.jumbotron.section-present.abon.centered-phone
		div.container
			.row
				div.col-md-20.col-sm-20.text-center
					ol.breadcrumb
						li
							a.main(href="index.html") Главная
						li
							a(href="#") О компании
						li
							a.active(href="#") Наши клиенты
					h1.
						Наши клиенты
	div#waypointMenu
	+anyblock('section-clientsBlock')
		each clientBlock in clientInfoPage
			.col-lg-8.col-lg-offset-2
				+blockclients(clientBlock)
	+anyblock('section-wecare')
		.flex-container
			.flex-item.order-1
				img.img-responsive(src="images/happy-man.png", alt="Забота")
			.flex-item.order-2
				h1.order-1.
					Мы заботимся
				h3.order-2.
					о&nbsp;благополучии и&nbsp;правах своих клиентов
				ul.order-3
					li.
						Наши клиенты крупные корпорации;
					li.
						представители среднего и&nbsp;малого бизнеса;
					li.
						граждане&nbsp;РФ и&nbsp;подданные других стран.
				.flex-in-flex
					.flex-inner.order-1
						h2 37
						p.
							корпоративных клиентов
					.flex-inner.order-2
						h2 140
						p.
							частных клиентов
	+anyblock('section-clientsBlock')
		each clienther in clientInfoPageAfter
			.col-lg-8.col-lg-offset-2
				+blockclients(clienther)




