extends _layout.jade
block title
	title Meltzer Group - отзывы
block content
	section.jumbotron.section-present.abon.centered-phone
		div.container
			.row
				div.col-md-20.col-sm-20.text-center
					ol.breadcrumb
						li
							a.main(href="index.html") Главная
						li
							a.active(href="#") Отзывы
					h1.
						Отзывы
	section.jumbotron.comment-slider.carousel.slide#carousel-trusty(data-ride="carousel")
		.container
			.carousel-inner
				each value in commentsSlider
					+commentSlider(value)
		a.left.carousel-control(href="#carousel-trusty"  role="button" data-slide="prev")
				span.arrow-left-slide
		a.right.carousel-control(href="#carousel-trusty" role="button" data-slide="next")
				span.arrow-right-slide
	div#waypointMenu
	+block-recomend(recs)
		each recs in recommendSlides
			.flex-item(class=recs.order)
				.image-recom
					img.img-responsive(src=recs.logo, alt=recs.logoName)
				.document-recom
					img.img-responsive.show-document(src=recs.document, alt=recs.documentName)
	.modal.fade#PopImage(tabindex="-1", role="dialog")
		.modal-dialog(role="document")
				.modal-content.popup
					.modal-body
						button(type="button" class="close" data-dismiss="modal" aria-label="close")
							span.close-btn
						div#popimagepaste