extends _layout.jade
block title 
	title Meltzer Group - контакты
block content
	section.jumbotron.section-present.abon.centered-phone
		div.container
			.row
				div.col-md-20.col-sm-20.text-center
					ol.breadcrumb
						li
							a.main(href="index.html") Главная
						li
							a.active(href="#") Контакты
					h1.
						Контакты
	section.jumbotron.section-contact
		.container
			.row
				.flex-container
					.flex-item.order-1
						p.
							г. Москва, БЦ&nbsp;&laquo;Ситидел&raquo;,<br>
							ул. Земляной Вал, д.&nbsp;9
						p.
							Пн-Чт&nbsp;/ 10:00 до&nbsp;22:00<br>
							Пт-Сб&nbsp;/ 13:00 до&nbsp;17:00
						p.
							+7 (495) 121-07-28
						button.btn.btn-default.
							Получить купон
					.flex-item.order-2
						p.
							<b>ОГРН</b>  1157746494828
						p.
							<b>ИНН/КПП</b> 7709459492/770901001
						p.
							<b>Р/с </b>40702&nbsp;810&nbsp;9028&nbsp;8000&nbsp;1092<br>В&nbsp;ОАО &laquo;АЛЬФА БАНК&raquo;
						p.
							<b>К/с</b> 30101810200000000593
						p.
							<b>БИК </b>044525593
						p.

					.flex-item.order-3
						.contact-metro.order-1
							img.img-responsive(src="images/contact/1.png", alt="Метро")
						.contact-metro.order-2
							img.img-responsive(src="images/contact/2.png", alt="Метро")
						.contact-button-visit.order-4
							button.btn.btn-primary.modal-contact-button-open(type="button").
								Сообщить о&nbsp;визите
						.contact-button-parc.order-5
							button.btn.btn-primary.open-path-pop(type="button").
								Схема проезда на&nbsp;гостевой паркинг
	div#map-contact
	.modal.fade#modalPopup(tabindex="-1", role="dialog")
		.modal-dialog(role="document")
				.modal-content.popup
					.modal-body
						button(type="button" class="close" data-dismiss="modal" aria-label="close")
							span.close-btn
						img.img-responsive(src="images/image-modal.png", alt="Карта")

