extends _layout.jade
block title
	title Юридические услуги по сопровождению бизнеса и юридическому аутсорсингу – компания «Meltzerfirm».
block content
	//- SECTION JUMBOTRON (PRESENT)
	section.jumbotron.section-present
		div.container
			.row
				aside.present-logo.col-md-3.col-md-offset-2.col-sm-7.col-xs-20
					img(src="images/present-logo.png", alt="Мельцер фирма")
				div.present-text.col-md-14.col-md-offset-1.col-sm-12.col-xs-20
					div.present-title
						h1 Первые
							span среди равных
					div.present-link
						a.
							Meltzer litignation & consulting &mdash;<br>
							юридические услуги <span>для&nbsp;частных<br /></span>
							и&nbsp;<span>корпоративных клиентов</span>
						button.btn.btn-default.modal-contact-button-open.
							Заказать звонок
	div#waypointMenu
	//- SECTION JUMBOTRON (NEED)
	section.jumbotron.section-need
		div.container
			div.col-lg-10.col-md-10.col-sm-10
				p.
					Рано или поздно юридические услуги требуются любой
					компании. Неважно, занимаетесь&nbsp;ли вы&nbsp;продажей
					шариковых ручек или&nbsp;же строите атомные
					электростанции. Многие компании нанимают в&nbsp;штат
					специалиста или&nbsp;даже формируют целый отдел.
				h1 Но так ли <br>это&nbsp;нужно?
			div.col-lg-10.col-md-10.col-sm-10.hidden-xs
				img.img-responsive(src="images/need-man.png",  alt="Это нужно")
	//- SECTION JUMBOTRON (SOLUTION)
	section.jumbotron.section-solution
		div.container
			div.col-md-8.col-sm-10
				img.img-responsive(src="images/sound-man.png", alt="Решение")
			div.col-md-12.col-sm-10
				p.
					Зачем выплачивать сотруднику (или&nbsp;нескольким) оклад и&nbsp;нести
					сопутствующие издержки, только лишь для&nbsp;того, чтобы раз в&nbsp;месяц
					получить консультацию или проверить несколько договоров?
				h1.
					Хватит сливать<br />
					свои деньги впустую
				h3.
					У&nbsp;нас есть другое решение
	//- SECTION JUMBOTRON (MELTGROUP)
	section.jumbotron.section-meltgroup
		div.container
			div.meltgroup-logo
				img.img-responsive(src="images/group-logo.png", alt="Мельцер")
			div.meltgroup-text
				h2 Meltzer Group
				h4 На&nbsp;страже ваших интересов
				button.btn.btn-default.modal-contact-button-open(role="button") Заказать звонок
	//- SECTION YOURQUEST [ROW, COLS]
	section.jumbotron.section-yourquest
		div.container
			div.row
				.col-md-20.col-lg-20.col-xs-20.col-sm-20
					h1.
						Знаем, как&nbsp;решить любой<br />
						юридический вопрос
					h3.
						И&nbsp;сэкономить ваши деньги и&nbsp;нервы
			div.row
				.col-md-7.col-sm-10
					div.row
						.col-md-20.block-quest
							h3 15 лет опыта
							p.
								За&nbsp;это время мы&nbsp;выиграли множество
								процессов и&nbsp;решили невероятное количество
								спорных вопросов. Уверены, мы
								также справимся и&nbsp;с&nbsp;вашими проблемами.
						.col-md-20.block-quest
							h3 Всегда рядом
							p.
								Мы&nbsp;закрепим за&nbsp;вами одного из&nbsp;наших
								сотрудников, который будет на&nbsp;связи всегда
								Но&nbsp;не&nbsp;переживайте, если&nbsp;он&nbsp;однажды уйдет
								в&nbsp;отпуск, все вопросы решат его коллеги.
						.col-md-20.block-quest
							h3 Больше, чем гарантия
							p.
								Наша профессиональная ответственность
								застрахована в&nbsp;&laquo;Альфа страхование&raquo;
								договору &#8470;&nbsp;0346R/761/00004/5
								от&nbsp;<nobr>21.09.2015 г.</nobr>

				.col-md-5.col-sm-10.hidden-xs.hidden-sm
					img.img-responsive(src="images/yourquest-man.png", alt="Вопрос")
				.col-md-8.col-sm-10.last-block-responsive
					.col-md-20.col-sm-20.block-quest.first
						h3 Авторитеты в своей области
						p.
							В&nbsp;Meltzer group нет новичков, есть только
							профессионалы. Мы&nbsp;работаем с&nbsp;различными сферами
							бизнеса. Наши специалисты ежедневно сталкиваются
							с&nbsp;вопросами из&nbsp;самых разных областей.
					.col-md-20.col-sm-20.block-quest.first
						h3 Никакого стресса
						p.
							Наши клиенты испытывают меньше стрессов,
							а&nbsp;следовательно, у&nbsp;них улучшается состояние
							здоровья. Лучше сон.
					.col-md-20.col-sm-20.block-quest.block-relative-image.first
						h3 Только то, что нужно
						p.
							Выбирайте только то, что вам действительно
							необходимо. Мы&nbsp;работаем в&nbsp;разных форматах:
							от&nbsp;абонентского сопровождения до&nbsp;разовых
							консультаций.
	//- SECTION SERVER [ROW, COLS]
	section.jumbotron.section-service
		div.container
			h1 Наши услуги
			.flex-container
				+iconic("images/icon-user.png", "Юридическое обслуживание бизнеса")
				+iconic("images/icon-pageplus.png", "Поиск и&nbsp;возврат активов")
				+iconic("images/icon-housetree.png", "Сопровождение сделок с&nbsp;недвижимостью")
				+iconic("images/icon-museum.png", "Представительство в&nbsp;суде")
				+iconic("images/icon-calc.png", "Бухгалтерское обслуживание")
				+iconic("images/icon-graph.png", "Налоговое планирование")
				+iconic("images/icon-pagepen.png", "Внесение изменений в&nbsp;ООО")
				+iconic("images/a-stand.png", "Сопровождение участия в&nbsp;тендере и&nbsp;аукционе на&nbsp;протяжение всей процедуры")

	div.jumbotron.section-oldservice
		.container
			h2.
				Мы&nbsp;искренне считаем, что юридические услуги<br />
				должны стоить разумных денег.<br />
				Поэтому у&nbsp;нас вы&nbsp;не&nbsp;найдете заоблачных цен
			h1.
				Убедитесь сами
	section.jumbotron.section-table.hidden-xs
		div.container
			div.row
				h3.
					Стоимость услуг зависит от&nbsp;количества и&nbsp;сложности задач.<br />
					Одно дело&nbsp;&mdash; заменить штатного юриста, и&nbsp;совсем другое<br />
					юридический отдел из&nbsp;пяти человек
			div.row
				table.table.table-condensed
					thead
						tr
							th.
								&nbsp;
							th.table-head-prime
								img.img-responsive(src="images/icon-penblue.png", alt="Прайм")
							th.table-head-opt
								img.img-responsive(src="images/icon-fingup.png", alt="Оптиум")
							th.table-head-vip
								img.img-responsive(src="images/icon-diamond.png", alt="Премиум")
					tbody
						tr
							td Консультации
							td 5 часов
							td 15 часов
							td без ограничений
						tr
							td Работа с договорами
							td 5 договоров
							td 10 договоров
							td без ограничений
						tr
							td Кадровые документы
							td 5 документов
							td 20 документов
							td без ограничений
						tr
							td Работа с претезиями, жалобами
							td 5 документов
							td 10 документов
							td без ограничений
						tr
							td Выезды к клиенту
							td 2 раза в месяц
							td 4 раза в месяц
							td без ограничений
						tr
							td Внесение изменений в ООО
							td 1 раз в месяц
							td 2 раза в месяц
							td без ограничений
						tr
							td Сопровождение при проверках
							td &mdash;
							td 1 раз в месяц
							td без ограничений
						tr
							td Судебная работа
							td &mdash;
							td 1 судебный процесс в месяц
							td 3 судебных процесса в месяц
						tr
							td &nbsp;
							td 
								img.img-responsive(src="images/icon-disc5.png", alt="Дисконт")
								p.text-disc.
									5% скидочная карта на услуги компании
							td 
								img.img-responsive(src="images/icon-disk10.png", alt="Дисконт")
								p.text-disc.
									10% скидочная карта на услуги компании
							td 
								img.img-responsive(src="images/icon-disk15.png", alt="Дисконт")
								p.text-disc.
									15% скидочная карта на услуги компании
					tfoot
						tr
							td &nbsp;
							td
								button.btn.btn-primary.modal-contact-button-open.
									Заказать
							td
								button.btn.btn-primary.modal-contact-button-open.
									Заказать
							td
								button.btn.btn-primary.modal-contact-button-open.
									Заказать
			div.row
				a(href="#").
					Подробнее про юридическое сопоровождение
				button.btn.btn-default.
					Наш прайс целиком
	//- SECTION JUMBOTRON (ANYBODY)
	section.jumbotron.section-anybody
		div.container
			div.col-md-9.col-md-offset-1.col-sm-10.col-sm-offset-0
				img.img-responsive(src="images/happy-man.png", alt="Говори")
			div.col-md-10.col-sm-10.col-sm-offset-0
				h3.
					Мы&nbsp;часто проводим различные акции
					для&nbsp;своих клиентов. Да, это не&nbsp;похоже
					на&nbsp;обычную юридическую фирму, но
				h1.
					никто не&nbsp;говорил,<br />
					что мы&nbsp;обычные
	//- SECTION CAROUSEL (MOUNTH)
	section#carousel-mounth.carousel.slide(data-ride="carousel").hidden-xs
		div.container
			//- First
			div.carousel-inner(role="listbox")
					div.item.active
						figure
							img(src="images/icon-slider-gift.png", alt="Подарок")
							figcaption
								h3.
									Месяц обслуживания в&nbsp;подарок
								p.
									Мы&nbsp;разыгрываем месяц бесплатного юридического обслуживания.<br />
									Просто предъявите этот купон и&nbsp;следите за&nbsp;результатами.<br />
									Может быть именно вам&nbsp;повезет: наш менеджер вскоре позвонит<br />
									с&nbsp;хорошими новостями.
						div.block-content-slider
							.row
								div.col-md-3.col-sm-4.col-sm-offset-1.col-md-offset-3.padding-top-slider-cap
									a.btn.btn-default(href="/images/coupon.jpg" target="_blank" download).
										Скачать купон
								div.col-md-13.col-sm-12.col-sm-offset-1.col-md-offset-1.padding-top-slider-cap
									p.
										Количество купонов ограничено. Акция длится <br /> до&nbsp;30 декабря.
					div.item
						figure
							img(src="images/icon-slider-gift.png", alt="Подарок")
							figcaption
								h3.
									Скидки для&nbsp;новых знакомых
								p.
									Станьте нашим клиентом и&nbsp;получите скидку&nbsp;
									20% на&nbsp;первые три месяца<br />абонентского юридического сопровождения.
						div.block-content-slider
							.col-md-16.col-md-offset-2
								p.
									Акция действует постоянно.
									Условия действительно при&nbsp;оплате трех месяцев обслуживания единовременно.
			//- CONTROLS
			a.left.carousel-control(href="#carousel-mounth"  role="button" data-slide="prev")
				span.arrow-left-slide
			a.right.carousel-control(href="#carousel-mounth" role="button" data-slide="next")
				span.arrow-right-slide
	//- SECTION SLIDER TRUST
	section.jumbotron.section-trust.hidden-xs
		div.container
			.row
				h1.
					Нам уже&nbsp;доверяют свой бизнес
			div#carousel-trust.carousel.slide(data-ride="carousel")
				div.carousel-inner(role="listbox")
					each datasIndex in indexSliderJade
						+indexSlider(datasIndex)
				//- CONTROLS
				div.hidden-xs
					a.left.carousel-control(href="#carousel-trust"  role="button" data-slide="prev")
						span.arrow-left-slide
					a.right.carousel-control(href="#carousel-trust" role="button" data-slide="next")
						span.arrow-right-slide
	section.jumbotron.section-business
		.container
			.row
				.col-md-9.offset-md-1.col-sm-10.col-sm-offset-0
					img.img-responsive(src="images/handshake-men.png", alt="Рукопожатие")
				.col-md-10.col-sm-10
					h4.
						Мы&nbsp;возьмем на&nbsp;себя все юридические хлопоты вашего бизнеса,
						выполним рутинные дела и&nbsp;поможем решить сложные правовые
						задачи: будь то&nbsp;судебный спор или&nbsp;налоговая проверка
					h2.
						Мы&nbsp;выполняем ваши поручения.
						Вы&nbsp;занимаетесь бизнесом
					button.btn.btn-primary.modal-contact-button-open.
						Начнем работать
