extends _layout.jade
block title
	title Партнеры компании «Meltzerfirm»
block content
	section.jumbotron.section-present.abon.centered-phone
		div.container
			.row
				div.col-md-20.col-sm-20.text-center
					ol.breadcrumb
						li
							a.main(href="index.html") Главная
						li
							a(href="#") О компании
						li
							a.active(href="#").
								Наши партнеры
					h1.
						Наши партнеры
	section.jumbotron.section-flexmap
		.container
			.row
				.flex-container
					.flex-item.order-1
						img.img-responsive(src="images/map/bg.png", alt="Карта")
					.flex-item.order-2
						ul
							each itemp in mapList
								li.flex-in-flex
									i.itemp-icon.order-1
										img(src=itemp.icon, alt="Icon")
									h4.itemp-title.order-2!=itemp.title
									span.itemp-logo.order-3
										img(src=itemp.logo, alt="Logo")
									p.itemp-brand.order-4!=itemp.name