extends _layout.jade
block title
	title Meltzer Group - Налоговое планирование
block content
	section.jumbotron.section-present.abon
		div.container
			.row
				div.col-md-20.col-sm-20.text-center
					ol.breadcrumb
						li
							a.main(href="index.html") Главная
						li
							a(href="#") Услуги
						li
							a.active(href="#") Налоговое планирование
					h1.
						Налоговое планирование
					h4.
						Сегодня стратегическое налоговое планирование&nbsp;&mdash; это мощный инструмент оптимизации работы любой компании, позволяющий снизить затраты
						на&nbsp;налогообложение в&nbsp;рамках закона. Эффективная налоговая оптимизация
						на&nbsp;предприятии позволяет минимизировать налоговые платежи и&nbsp;обезопасить себя,
						в&nbsp;первую очередь, от&nbsp;перерасхода прибыли и&nbsp;рисков банкротства, и,&nbsp;разумеется,
						от&nbsp;проблем с&nbsp;законом вследствие применения &laquo;черных&raquo; схем ухода от&nbsp;налогов.
					div.col-md-20.button-sect
						button.btn.btn-default.modal-contact-button-open.
							Заказать звонок
	div#waypointMenu
	+anyblock('section-nalog')
		.flex-container
			.flex-item.order-1.hidden-xs
				img.img-responsive(src="images/thinking-man.png", alt="Человек")
			.flex-item.order-2
				p.
					Налоговое планирование для&nbsp;любой организации&nbsp;&mdash; это&nbsp;сложный и&nbsp;многоэтапный процесс, требующий специальных знаний и&nbsp;навыков по&nbsp;разработке наиболее оптимальных стратегических и&nbsp;тактических мер по&nbsp;оптимизации налоговых платежей. Заказать услугу налогового планирования можно на&nbsp;любом этапе жизнедеятельности компании,
					но&nbsp;лучше продумать оптимизацию налогообложения еще до&nbsp;ее&nbsp;регистрации.
	section.jumbotron.section-yourquest.nalog
		div.container
			div.row
				.col-md-20.col-lg-20.col-xs-20.col-sm-20
					h1.
						Что включает в&nbsp;себя услуга
						налогового планирования?
			.flex-container
				.flex-item.order-1
					ul
						li.
							Юридические консультации по&nbsp;законодательным вопросам налогообложения;
						li.
							Определение юридического статуса и&nbsp;организационной формы предприятия;
						li.
							Анализ финансовой и&nbsp;юридической документации компании;
						li.
							Прогнозирование налоговой нагрузки предприятия;
						li.
							Расчет и&nbsp;оптимизация системы налогообложения;
						li.
							Разработка стратегии минимизации налоговых платежей в&nbsp;рамках налогового права&nbsp;РФ;
						li.
							Корректировка существующей системы налогообложения
							предприятия, устранение слабых мест;
						li.
							Просчет рисков, связанных с&nbsp;налоговыми проверками и&nbsp;потерей прибыли;
				.flex-item.order-2.hidden-xs
					img.img-responsive(src="images/yourquest-man.png", alt="Вопрос")
				.flex-item.order-3
					ul
						li.
							Оценка налоговых рисков при&nbsp;заключении сделок и&nbsp;договоров с&nbsp;контрагентами;
						li.
							Корректировка договоров с&nbsp;целью минимизации налоговых рисков;
						li.
							Юридическое сопровождение до&nbsp;и&nbsp;во&nbsp;время
							налоговых проверок;
						li.
							Защита ваших интересов в&nbsp;налоговых органах;
						li.
							Оспаривание решения налоговых органов по&nbsp;итогам
							проверок;
						li.
							Представление ваших интересов в&nbsp;арбитражном суде
							при возникновении налоговых споров;
						li.
							Абонентское юридическое обслуживание по&nbsp;вопросам
							ведения налогового учета, налоговое планирование.
			h3.
				Мы&nbsp;осуществляем стратегическое налоговое планирование и&nbsp;оптимизацию
				для&nbsp;компаний-заказчиков &laquo;под ключ&raquo;, с&nbsp;учетом специфики отрасли,
				территориальных и&nbsp;организационных признаков, факторов государственного
				регулирования деятельности предприятия, возможностей получения налоговых
				льгот, целей и&nbsp;задач заказчика и&nbsp;многого другого, предусматривая все&nbsp;риски
				и&nbsp;нюансы, связанные с&nbsp;ведением вашего налогового учета.
			.button-function-nalog
				button.btn.btn-primary.modal-contact-button-open(type="button").
					Оставить заявку
	+anyblock('section-nalogic')
		h2.
			Ситуации,
			где мы&nbsp;можем вам&nbsp;помочь:
		.flex-container
			each nalogico in infoNalogInfo
				.flex-item
					img.img-responsive(src=nalogico.image, alt="Иконка")
					h3!=nalogico.text
	+anyblock('section-workin')
		.flex-container
			.flex-item.order-1
				img.img-responsive(src="images/bookman-new.png", alt="Человек")
			.flex-item.order-2
				h3.
					Как строится наша работа?
				h4.
					Встреча
				p.
					На&nbsp;первой встрече мы&nbsp;знакомимся с&nbsp;вами, вашим бизнесом. Сразу на&nbsp;встрече мы&nbsp;обсудим все вопросы, которые вас беспокоят или интересуют, спланируем дальнейшую работу и&nbsp;сориентируем по&nbsp;стоимости.
				h4.
					Юридический и&nbsp;финансовый аудит компании
				p.
					Анализ бизнес-процессов позволяет определить реальное положение вещей в&nbsp;вашей компании.
					На&nbsp;основании анализа разрабатывается модель налогового планирования.
				h4.
					Разработка индивидуальной модели налогового планирования
				p.
					Суть разработанной модели налогового планирования в&nbsp;уменьшении расходов компании. Меньше расходов&nbsp;&mdash; меньше налогов. Никаких теневых и&nbsp;нелегальных схем.
				h4.
					Внедрение
				p.
					Запускаем разработанную модель налогового планирования.
				h4.
					Бухгалтерское и&nbsp;юридическое сопровождение
				p.
					Мы&nbsp;обязуемся регулярно поддерживать применяемую налоговую схему, с&nbsp;контролем и&nbsp;изменением тех&nbsp;или&nbsp;иных ее&nbsp;показателей. От&nbsp;компетентности вашего бухгалтера и&nbsp;юриста напрямую зависят доходы
	+anyblock('section-whyus')
		.flex-container
			.flex-item.order-1
				h2.
					Почему стоит работать
				h1.
					именно с&nbsp;нами?
				p.
					Мы&nbsp;берем на&nbsp;себя всю налоговую политику и&nbsp;главный удар налоговых проверок.
				p.
					Мы&nbsp;гарантированно уменьшим налоговую нагрузку в&nbsp;разы, при&nbsp;этом&nbsp;абсолютно без&nbsp;рисков для&nbsp;Вас!
				h3.
					И&nbsp;это не&nbsp;пустые слова. Мы&nbsp;реально это&nbsp;делаем.
				button.btn.btn-primary.modal-contact-button-open(type="button").
					Оставить заявку
			.flex-item.order-2
				img.img-responsive(src="images/sit-man.png", alt="Человек")