extends _layout.jade
block title
	title Юридическое сопровождение сделок с недвижимостью – компания «Meltzerfirm».
block content
	section.jumbotron.section-present.abon
		div.container
			.row
				div.col-md-20.col-sm-20.text-center
					ol.breadcrumb
						li
							a.main(href="index.html") Главная
						li
							a Услуги
						li
							a.active(href="#") Сопровождение сделок с недвижимостью
					h1.
						Сопровождение сделок<br />
						с&nbsp;недвижимостью
					h4.
						Сделки с&nbsp;недвижимостью&nbsp;&mdash; один из&nbsp;самых сложных вопросов,<br />
						которые возникают у&nbsp;наших клиентов.<br />
						Как&nbsp;правило, здесь&nbsp;таится множество подводных камней<br />
						и&nbsp;нюансов, которые невозможно увидеть на&nbsp;первый взгляд.
					div.col-md-20.button-sect
						button.btn.btn-default.modal-contact-button-open.
							Заказать звонок
	div#waypointMenu
	section.section-service.sud.nedv
		div.container
			h1.
				 Услуги Meltzer Group<br />
				в&nbsp;сфере недвижимости
			div.row
				.col-md-5.col-sm-5.col-xs-10
					figure
						img(src="images/b-listcup.png", alt="Обслуживание")
						figcaption.
							Сопровождение<br />
							<nobr>купли-продажи</nobr>,<br />
							дарения недвижимости
						div.price-block-nedv.
							<b>15 000 </b><i class="rouble-course-font">г</i>
				.col-md-5.col-sm-5.col-xs-10
					figure
						img(src="images/icon-calc.png", alt="Активы")
						figcaption.
							Оспаривание<br />
							кадастровой<br />
							стоимости
						div.price-block-nedv.
							<b>от 50 000 </b><i class="rouble-course-font">г</i>
				.col-md-5.col-sm-5.col-xs-10
					figure
						img(src="images/icon-pageplus.png", alt="Недвижимость")
						figcaption.
							Проверка<br />
							юридической чистоты<br />
							объекта, анализ рисков
						div.price-block-nedv.
							<b>от 19 000 </b><i class="rouble-course-font">г</i>
				.col-md-5.col-sm-5.col-xs-10
					figure
						img(src="images/c-housecar.png", alt="В суде")
						figcaption.
							Сопровождение
							при&nbsp;заключении
							договора долевого
							участия + проверка
							застройщика
						div.price-block-nedv.
							<b>15 000 </b><i class="rouble-course-font">г</i>
	section.section-bighouse
		.container
			.row
				.col-lg-5
					img(src="images/b-bighouse.png", alt="Дом")
				.col-lg-14.col-lg-offset-1
					h3.
						Сопровождение
					h1.
						<nobr>купли-продажи</nobr>,<br />
						дарения недвижимости
					p.
						Сопровождение сделки <nobr>купли-продажи</nobr>, дарения недвижимости грамотными юристами<br />
						не&nbsp;только оптимизирует ваше время и&nbsp;затраты, но&nbsp;и&nbsp;обезопасит от&nbsp;возможных неприятностей,<br />
						которые может предвидеть только опытный специалист по&nbsp;коммерческой недвижимости.
	section.jumbotron.section-yourquest.nedv
		div.container
			div.row
				.col-md-20.col-lg-20.col-xs-20.col-sm-20
					h1.
						Что входит в&nbsp;полноценное<br />
						сопровождение сделки?
			div.row
				.col-lg-7
					ul.list-sect
						li.
							Помощь в&nbsp;оплате необходимых государственных
							пошлин и&nbsp;сборов;
						li.
							Регистрация перехода права собственности
							недвижимого имущества;
						li.
							Юридическая консультация;
						li.
							Проверка чистоты сделки и&nbsp;Due diligence объекта
							недвижимости;
						li.
							Составление договоров <nobr>купли-продажи</nobr> (дарения,&nbsp;
							аренды), договоров участия в&nbsp;долевом
							строительстве и&nbsp;др;
				.col-lg-5.hidden-xs.hidden-sm.hidden-md
					img.img-responsive(src="images/yourquest-man.png", alt="Вопрос")
				.col-lg-8
					ul
						li.
							Взаимоотношения с&nbsp;риэлторскими компаниями<br />
							и&nbsp;государственными органами по&nbsp;вопросам<br />
							государственной регистрации;
						li.
							Сопровождение инвестиционных проектов
							по&nbsp;приобретению/продаже крупных объектов
							недвижимости, структурирование сделок,
							включая проработку корпоративных вопросов
							владения, финансирования и&nbsp;налогообложения;
						li.
							Подготовка и&nbsp;юридическая экспертиза всей
							необходимой документации (кадастровый паспорт,
							согласие супруга, выписка из&nbsp;домовой книги;
						li.
							Сопровождение заключения сделок и&nbsp;у&nbsp;нотариуса.
			.row
				h4.
					Дополнительно мы&nbsp;осуществляем проверку контрагента<br />
					на&nbsp;добросовестность, чтобы обезопасить&nbsp;вас<br />
					от&nbsp;невыгодной сделки.
				div.text-center-in-block
					button.btn.btn-primary.modal-contact-button-open.
						Оставить заявку
	section.jumbotron.section-meltgroup.nedv
		div.container
			h3.
				Оспаривание
			h1.
				кадастровой стоимости
			p.
				Обратитесь к&nbsp;нам сегодня, и&nbsp;в&nbsp;срок не&nbsp;позднее 1&nbsp;месяца мы&nbsp;поможем установить кадастровую<br />
				стоимость объекта недвижимости равной рыночной в&nbsp;комиссии при Росреестре с&nbsp;понижением<br />
				до&nbsp;90% от&nbsp;текущей арендной платы или налоговой ставки, а&nbsp;так&nbsp;же выкупной стоимости объекта<br />
				недвижимости.
	section.jumbotron.section-bookmanlist
		.container
			.row
				.col-lg-5.hidden-xs.hidden-sm.hidden-md
					img(src="images/book-man.png", alt="Человек")
				.col-lg-15
					ul
						h1.
							Как мы работаем?
						li.
							Заявка;
						li.
							Рассмотрение перспектив установления кадастровой стоимости равной рыночной;
						li.
							Заключение соглашения;
						li.
							Подготовка необходимых документов и&nbsp;положительного экспертного заключения СРО;
						li.
							Подача заявления в&nbsp;комиссию при Росреестре;
						li.
							Получение положительного решения комиссии;
						li.
							Уменьшение арендных и&nbsp;налоговых платежей, выкупной стоимости объекта недвижимости.
	section.section-formgroup
		.container
			.row
				h1.
					Закажите бесплатно
				p.
					Рассмотрение перспективы установления кадастровой стоимости равной рыночной<br />
					в&nbsp;Комиссии при управлениях Росреестра г.&nbsp;Москвы и&nbsp;МО.
			.row
				form#formValidateNedvFirst
					.col-lg-15.col-centered.col-sm-15.col-xs-20
						.col-lg-10.col-md-10.col-xs-20-col
							.form-group
								input.form-control(type="text" placeholder="Наименование объекта")
							.col-lg-8.padding-none.col-md-8.col-sm-10.col-xs-10.width-hung
								.form-group
									input.form-control.space(type="text" placeholder="Площадь")
							.col-lg-12.padding-none.col-md-12.col-sm-10.col-xs-10.width-hung.margin-bottom
								.form-group.margin-none
									input.form-control(type="text" placeholder="Кадастровая стоимость")
							.form-group
								input.form-control#validateNedvPhone(type="text" name="phone" placeholder="Ваш телефон")
						.col-lg-10.col-md-10.col-xs-20-col
							.form-group
								input.form-control(type="text" placeholder="Кадастровый номер объекта")
							.form-group
								input.form-control(type="text" placeholder="Предполагаемая рыночная стоимость")
							.form-group
								input.form-control(type="text" placeholder="Ваша эл. почта")
					.col-lg-20.text-center
						p.
								Мы&nbsp;гарантируем конфиденциальность предоставленной нам&nbsp;информации.
						br
						input.btn.btn-primary(type="submit", value="Оставить заявку")
	section.jumbotron.section-solutionnew.nedv
		div.container
			div.col-lg-6.col-md-6.hidden-sm
				img.img-responsive(src="images/sit-man.png", alt="Решение")
			div.col-lg-14.col-md-14
				h1.
					Проверка
				h2.
					юридической чистоты объекта<br />
					недвижимости, анализ рисков
				p.
					Согласно статистике, примерно 20% продаваемых объектов недвижимости не&nbsp;являются чистыми
					с&nbsp;юридической точки зрения. А&nbsp;это значит, что&nbsp;факт приобретения в&nbsp;дальнейшем может быть оспорен
					в&nbsp;суде, и&nbsp;покупатель потеряет значительную сумму. Вот&nbsp;почему так&nbsp;важно проверить чистоту объекта
					перед совершением сделки и&nbsp;просчитать все&nbsp;риски.
	section.jumbotron.section-service.nedvsec
		div.container
			h1.
				 Что входит в&nbsp;проверку объекта недвижимости?
			div.row
				.col-lg-4.col-md-5.col-sm-4.col-xs-10
					figure
						img(src="images/a-people.png", alt="Обслуживание")
						figcaption.
							Консультация
						div.price-block-nedv
				.col-lg-4.col-md-5.col-sm-4.col-xs-10
					figure
						img(src="images/icon-housetree.png", alt="Активы")
						figcaption.
							Проверка истории<br />
							объекта недвижимости
				.col-lg-4.col-md-5.col-sm-4.col-xs-10
					figure
						img(src="images/c-mantable.png", alt="Недвижимость")
						figcaption.
							Проверка
							продавца покупателя
							объекта недвижимости
				.col-lg-4.col-md-5.col-sm-4.col-xs-10
					figure
						img(src="images/icon-pageplus.png", alt="В суде")
						figcaption.
							Проверка прав
							третьих лиц
							и&nbsp;других обременений
				.col-lg-4.col-md-5.col-sm-4.col-xs-10
					figure
						img(src="images/b-listcup.png", alt="В суде")
						figcaption.
							Письменное
							заключение
							юриста
	section.section-objectnedv
		.container
			.row
				h1.
					<nobr>Онлайн-проверка</nobr> юридической<br />
					чистоты объекта недвижимости
				form#formValidateNedv
					div.col-lg-20.col-centered.checkbox
						.form-group
							div
								input(type="radio" value="basic" checked name="status" id="checkbasic")
								label(for="checkbasic").
									<span></span>
									Базовая проверка <b>9&nbsp;000 </b><i class="rouble-course-font">г</i>
						.form-group
							div
								input(type="radio" value="vip" name="status" id="checkvip")
								label(for="checkvip").
									<span></span>
									Vip проверка <b>19 000 </b><i class="rouble-course-font">г</i>
					div.col-lg-20.col-centered.clearfix.form-text
							.form-group
								input.form-control(type="text" placeholder="Имя" name="name")
							.form-group
								input.form-control.required#validateNedvPhoneSec(type="text" placeholder="Телефон" name="phone")
							.form-group
								input.form-control(type="text" placeholder="Эл. почта" name="email")
					div.col-lg-20.col-centered.files.col-xs-20
							.form-group
								input.form-control(type="text" placeholder="Кадастровый номер объекта" name="kadastr")
							.form-group
								input.form-control.uplodafile(type="file" id="fileTra" accept=".doc, .txt, .pdf")
								label.form-label(for="fileTra").
									Прикрепить документ
					div.col-lg-20
						p.
							Мы&nbsp;гарантируем конфиденциальность предоставленной нам информации.
						div.center-log
							input.btn.btn-primary(type="submit", value="Оформить заказ")
	section.jumbotron.section-service.nedvthird
		div.container
			h1.
				 Что входит в&nbsp;проверку договора долевого участия?
			div.row.row-centered
				.col-lg-5.col-centered.col-md-5.col-sm-5.col-xs-20
					figure
						img(src="images/a-people.png", alt="Обслуживание")
						figcaption.
							Консультация
						div.price-block-nedv
				.col-lg-5.col-centered.col-md-5.col-sm-5.col-xs-20
					figure
						img(src="images/icon-housetree.png", alt="Активы")
						figcaption.
							Письменное заключение&nbsp;по порядку получения
							налогового вычета
				.col-lg-5.col-centered.col-md-5.col-sm-5.col-xs-20
					figure
						img(src="images/c-mantable.png", alt="Недвижимость")
						figcaption.
							Комплексная проверка документов на&nbsp;строительство объекта недвижимости
			div.row.row-centered
				.col-lg-5.col-centered.col-md-5.col-sm-5.col-xs-20
					figure
						img(src="images/icon-pageplus.png", alt="В суде")
						figcaption.
							Юридическая проверка застройщика на&nbsp;предмет надежности, выявления судебных споров, долгов в&nbsp;реестре исполнительных производств
				.col-lg-5.col-centered.col-md-5.col-sm-5.col-xs-20
					figure
						img(src="images/b-listcup.png", alt="В суде")
						figcaption.
							50% гонорара оплачивается по&nbsp;факту оказания услуг
				.col-lg-5.col-centered.col-md-5.col-sm-5.col-xs-20
					figure
						img(src="images/b-listcup.png", alt="В суде")
						figcaption.
							Гарантия на&nbsp;сделку&nbsp;три&nbsp;года
	section.section-objectnedv.sec
		.container
			.row
				h1.
					Проверка договора ДДУ&nbsp;онлайн
				h3.
					стоимость услуги&nbsp;500 <i class="rouble-course-font">е</i>
				form#requiredFileForm
					div.col-lg-20.col-centered.checkbox
						.form-group
							div
								input(type="checkbox" value="subject" checked name="service" id="checksubj")
								label(for="checksubj").
									<span></span>
									<div>
										Проверка застройщика<br />
										на&nbsp;надежность <b>+ 900 </b><i class="rouble-course-font">г</i>
									</div>
						.form-group
							div
								input(type="checkbox" checked value="proto" name="service" id="checkproto")
								label(for="checkproto").
									<span></span>
									<div>
										Составить протокол<br />
										&nbsp;разногласий <b>+ 500</b> <i class="rouble-course-font">г</i>
									</div>
						.form-group
							div
								input(type="checkbox" value="faster" name="service" id="checkfaster")
								label(for="checkfaster").
									<span></span>
									<div>
										Ускорить проверку&nbsp;<br />
										договора + <b>500 </b><i class="rouble-course-font">г</i>
									</div>
					div.col-lg-20.col-centered.files
						div.col-lg-10.col-centered
							.form-group
								input.form-control.uplodafile(type="file" id="fileTran" accept=".doc, .txt, .pdf")
								label.form-label(for="fileTran").
									Прикрепить документ
						div.col-lg-10.col-centered.required-email
							.form-group
								input.form-control(type="text" placeholder="Эл. почта" name="email")
					div.col-lg-20
						p.
							Мы&nbsp;гарантируем конфиденциальность предоставленной нам&nbsp;информации.
						div.center-log
							input.btn.btn-primary(type="submit", value="Оформить заказ")
	section.section-howpayservice.nedv
		.container
			.row
				.col-md-6.col-md-offset-1.hidden-xs.hidden-sm
					img(src="images/helloinverse-man.png", alt="Привет")
				.col-md-13.col-xs-20
					h2.
						Сразу приступаем к&nbsp;работе
					p.
						После оформления заказа вы&nbsp;будете получать уведомления о&nbsp;статусе заказа
						по&nbsp;электронной почте. После проверки договора мы&nbsp;вышлем вам правовое заключение.
					h2.
						Гарантия возврата денег
					p.
						Если вы&nbsp;посчитаете, что наши юристы ненадлежащим образом проверили договор,
						просто напишите нам, и&nbsp;мы&nbsp;вернём вам деньги.
					p
						b.
							Риски клиента при&nbsp;отсутствии квалифицированного сопровождения<br />
							по&nbsp;договору долевого участия.
					ul
						li.
							риск банкротства застройщика;
						li.
							риск увеличения сроков долевого строительства;
						li.
							риск передачи застройщиком квартиры с&nbsp;существенными недостатками.
					button.btn.btn-primary.modal-contact-button-open.
						Заказать услугу
	