extends _layout.jade
block title
	title Блог
block content
	section.jumbotron.section-present.abon.centered-phone
		div.container
			.row
				div.col-md-20.col-sm-20.text-center
					ol.breadcrumb
						li
							a.main(href="index.html") Главная
						li
							a.active(href="#").
								Блог
					h1.
						Блог
	div#waypointMenu
	+anyblock('section-newsblocks-tag')
		.block-text-center
		.flex-container
			.flex-item
				each tag in newsTags
					a.newsblock-tag(href="#" + tag.name, data-tag=tag.data)!=tag.name
	+anyblock('section-newsblock')
		.flex-container
			each post in newsPost
				.flex-item.order-by(data-cat=post.catData)
					.post-image
						a(href="newsec.html")
							img.img-responsive(src=post.image, alt="Пост")
						a.tagimage-yellow!=post.tagname
					.post-title
						a(href="newsec.html")
							h4!=post.title
					.post-preview
						p!=post.preview