extends _layout.jade
block content
	section.jumbotron.section-present.abon.centered-phone
		div.container
			.row
				div.col-md-20.col-sm-20.text-center
					ol.breadcrumb
						li
							a.main(href="index.html") Главная
						li
							a(href="newspage.html" style="cursor: pointer") Блог
						li
							a.active(href="#") Что&nbsp;делать, если&nbsp;банкомат не&nbsp;выдает деньги?
					h1.
						Что делать, если банкомат не&nbsp;выдает деньги?
	div#waypointMenu
	+blocknews
		each news in Text
			.flex-item.order-1
				.subtitle-news
					h3!=news.subtitle
				.list-news
					ul
						h3!=news.listtitle
						each listItem, val in news.list
							li!=listItem
			.flex-item.order-2
				.image-news
					img.img-responsive(src=news.image, alt=news.imageName)

			.flex-item.order-3
				p!=news.text

