extends _layout.jade
block title
	title Meltzer Group - Специальные предложения
block content
	section.jumbotron.section-present.abon.centered-phone
		div.container
			.row
				div.col-md-20.col-sm-20.text-center
					ol.breadcrumb
						li
							a.main(href="index.html") Главная
						li
							a.active(href="#") Специальные предложения
					h1.
						Специальные предложения
	div#waypointMenu
	+anyblock('section-newblock')
		.flex-container
			.flex-item.order-1
				img.img-responsive(src="images/graph-man.png", alt="Человек")
			.flex-item.order-2
				h1.
					Не&nbsp;нашли подходящий тариф?
				h3.
					У&nbsp;нас&nbsp;есть особые предложения для&nbsp;особых компаний.
	+anyblock('section-startup')
		.flex-container
			each startup in startupInfo
				.flex-item
					h4!=startup.title
					p!=startup.text
					button.btn.btn-primary.modal-contact-button-open.
						Заказать
	+anyblock('section-blockmaps')
		.flex-container
			.flex-item.order-1
				+specMaps("images/mz-maps/1.jpg", "Скидка 10%")
				+specMaps("images/mz-maps/2.jpg","Скидка 15%")
			.flex-item.order-2
				h2.
					Скидочные карты
				h3.
					Для постоянных клиентов Meltzer Group мы&nbsp;разработали гибкую систему скидок. Получите карту&nbsp;5% уже&nbsp;при&nbsp;первом обращении!


	+anyblock('section-blockslide')
		each slidersli in sliderInfoSpec
			+sliderInformation(slidersli)
	+anyblock('section-blockcenter')
		.flex-container
				.flex-in-flex
					.flex-inner.order-1
						img.img-responsive(src="images/yourquest-man.png", alt="Человек")
					.flex-inner.order-2
						h1.
							Подпишитесь на&nbsp;рассылку
						h2.
							и&nbsp;узнавайте первым об&nbsp;акциях Meltzer Group
						button.btn.btn-primary.
							Подписаться на рассылку




