extends _layout.jade
block title
	title Meltzer Group - Представительство в суде
block content
	section.jumbotron.section-present.abon
		div.container
			.row
				div.col-md-20.col-sm-20.text-center
					ol.breadcrumb
						li
							a.main(href="index.html") Главная
						li
							a(href="#") Услуги
						li
							a.active(href="#") Представительство в суде
					h1.
						Представление интересов<br />
						в&nbsp;суде
					h4.
						Представительство компании в&nbsp;суде&nbsp;&mdash; одна из&nbsp;самых востребованных услуг.<br />
						Для&nbsp;победы необходимы доскональные знания отрасли, законодательной базы<br />
						и&nbsp;прецедентов. Линия защиты должна быть безукоризненной, а&nbsp;речь&nbsp;&mdash; блестящей<br />
						Закастую к&nbsp;нам&nbsp;обращаются даже те&nbsp;компании, где есть&nbsp;штатный юрист.<br />
						Ведь в&nbsp;таком деле одна голова хорошо, а&nbsp;много&nbsp;&mdash; лучше.
					div.col-md-20.button-sect
						button.btn.btn-default.modal-contact-button-open.
							Заказать звонок
	div#waypointMenu
	//- SECTION SERVER [ROW, COLS]
	section.section-service.sud
		div.container
			h1.
				 Когда вам&nbsp;стоит обратиться<br />
				в&nbsp;Meltzer Group:
			div.row
				.col-md-5.col-sm-5
					figure
						img(src="images/icon-handshake.png", alt="Обслуживание")
						figcaption.
							Досудебное<br />
							урегулирование<br />
							спора
				.col-md-5.col-sm-5
					figure
						img(src="images/icon-museum.png", alt="Активы")
						figcaption.
							Взыскание<br />
							дебиторской<br />
							задолженности
				.col-md-5.col-sm-5
					figure
						img(src="images/c-pig.png", alt="Недвижимость")
						figcaption.
							Налоговые споры<br />
							(возмещение НДС)
				.col-md-5.col-sm-5
					figure
						img(src="images/c-mantable.png", alt="В суде")
						figcaption.
							Трудовые споры
			div.row
				.col-md-5.col-sm-5
					figure
						img(src="images/c-housecar.png", alt="Обслуживание")
						figcaption.
							Страховые<br />
							и&nbsp;кредитные споры
				.col-md-5.col-sm-5
					figure
						img(src="images/c-paperman.png", alt="Планирование")
						figcaption.
							Защита<br />
							деловой репутации
				.col-md-5.col-sm-5
					figure
						img(src="images/c-chain.png", alt="Изменения")
						figcaption.
							Уголовные<br />
							и&nbsp;административные<br />
							дела
				.col-md-5.col-sm-5
					figure
						img(src="images/c-tablet.png", alt="Изменения")
						figcaption.
							Сопровождение<br />
							исполнительного<br />
							производства
			div.row
				h4.
					И&nbsp;многие другие вопросы. Мы&nbsp;готовы представлять ваши интересы в&nbsp;судах<br />
					Москвы и&nbsp;московской области по&nbsp;делам всех категорий и&nbsp;любого уровня сложности.
	//- SECTION JUMBOTRON (SOLUTION)
	section.jumbotron.section-solution.sud
		div.container
			.row
				h1.
					Как это&nbsp;работает?
				h4.
					Вам необходимо лишь составить доверенность на&nbsp;представление ваших интересов в&nbsp;суде,<br />
					и&nbsp;дать нашим юристам возможность детально ознакомиться с&nbsp;материалами дела.<br />
					Остальное они&nbsp;возьмут на&nbsp;себя
			div.col-md-12.col-sm-10.block-sud
				h4.
					Первичная консультация, ознакомление с&nbsp;документами
				h4.
					Проведение комплекса мероприятий по&nbsp;досудебному<br />
					урегулированию спора
				p.
					В&nbsp;Meltzer Group нет новичков, есть только профессионалы. Мы&nbsp;работаем с&nbsp;различными<br />
					сферами бизнеса. Наши специалисты ежедневно сталкиваются с&nbsp;вопросами из&nbsp;самых<br />
					разных областей.
				h4.
					Представительство в&nbsp;суде
				p.
					Участие в&nbsp;судебных заседаниях. Защита прав доверителя в&nbsp;суде на&nbsp;всех стадиях<br />
					разбирательства.
				h4.
					Участие в&nbsp;ходе исполнения решения суда в&nbsp;службе<br />
					судебных приставов
				p.
					Обжалование в&nbsp;суде действий или&nbsp;бездействия судебного пристава.
			div.col-md-8.col-sm-10.hidden-xs
				img.img-responsive(src="images/yourquest-man.png", alt="Решение")
	//- SECTION JUMBOTRON (SOLUTION)
	section.jumbotron.section-solutionnew.sud
		div.container
			div.col-md-7.col-sm-10
				img.img-responsive(src="images/sit-man.png", alt="Решение")
			div.col-md-12.col-sm-10.col-md-offset-1
				h2.
					Доверьте защиту интересов<br />
					вашей компании или&nbsp;организации<br />
					в&nbsp;суде профессионалам &mdash;
				p.
					мы&nbsp;избавим вас&nbsp;от&nbsp;тяжелой и&nbsp;кропотливой бумажной волокиты,<br />
					продолжительного стресса и&nbsp;постоянного общения<br />
					с&nbsp;представителями различных инстанций.
	section.section-anybody.sud
		div.container
			div.col-md-11.col-sm-10.col-sm-offset-0
				h3.
					Важный момент: в&nbsp;соответствии с&nbsp;действующим законодательством,<br />
					оплата услуги &laquo;представительство юридического лица в&nbsp;суде&raquo;<br />
					относится к&nbsp;категории судебных издержек и,
				h1.
					при удачном исходе дела,<br />
					возмещается за&nbsp;счет<br />
					проигравшей стороны
			div.col-md-9.col-sm-10.col-sm-offset-0
				img.img-responsive(src="images/happy-man.png", alt="Говори")
	section.section-howpayservice
		.container
			.row
				.col-md-20
					h1.
						Сколько стоят наши&nbsp;услуги?
			.row
				.col-md-6.col-md-offset-1.hidden-xs.col-sm-6
					img(src="images/helloinverse-man.png", alt="Привет")
				.col-md-13.col-sm-13
					.col-md-10
						.col-md-20
							h4.
								Ознакомление с&nbsp;материалами<br />
								дела
							h3.
								3 000 <i class="rouble-course-font">е</i>
						.col-md-20
							h4.
								Предварительная оценка<br />
								перспективы спора
							h3.
								5 000 <i class="rouble-course-font">е</i>
						.col-md-20
							h4.
								Досудебное урегулирование<br />
								спора
							h3.
								от 10 000 <i class="rouble-course-font">е</i>
						.col-md-20
							h4.
								Исковое заявление,<br />
								апелляционная жалоба
							h3.
								от&nbsp;10&nbsp;000 <i class="rouble-course-font">е</i>
					.col-md-10
						.col-md-20
							h4.
								Участие представителя<br />
								в&nbsp;судебном заседании
							h3.
								10&nbsp;000 <i class="rouble-course-font">е</i>
						.col-md-20
							h4.
								Ведение судебного процесса<br />
								в&nbsp;арбитражном суде
							h3.
								от&nbsp;30 000 <i class="rouble-course-font">е</i>
						.col-md-20
							h4.
								Ведение судебного процесса<br />
								в&nbsp;гражданском суде
							h3.
								от&nbsp;30&nbsp;000 <i class="rouble-course-font">е</i>
						.col-md-20
							h4.
								Сопровождение исполнительного<br />
								производства
							h3.
								25&nbsp;000 <i class="rouble-course-font">е</i>
	section.section-lawyer
		.container
			.row
				h1.
					Адвокат по&nbsp;уголовным делам
				h4.
					Специалисты Meltzer Group готовы представлять ваши&nbsp;интересы и&nbsp;в&nbsp;уголовных делах.<br/> Большой опыт и&nbsp;широкая специализация&nbsp;&mdash; вот&nbsp;что&nbsp;выгодно отличает&nbsp;нас. Более 10 лет практики и&nbsp;множество<br> выигранных дел&nbsp;говорят сами за&nbsp;себя
			.row
				.col-md-8.col-md-offset-2.col-xs-20
					.col-md-20.block-law.col-xs-20
						.col-md-20.col-xs-20.col-sm-10
							h4.
								<b>Стоимость услуг:</b>
						.col-md-20.col-xs-20.col-sm-10
							h4.
								Консультация
							h3.
								5 000 <i class="rouble-course-font">е</i>
						.col-md-20.col-xs-20.col-sm-10
							h4.
								Участие на&nbsp;этапе следствия<br />
								по&nbsp;уголовному делу
							h3.
								от 50 000 <i class="rouble-course-font">е</i>
						.col-md-20.col-xs-20.col-sm-10
							h4.
								Составление процессуальных<br />
								документов по&nbsp;уголовному делу
							h3.
								от 10 000 <i class="rouble-course-font">е</i>
						.col-md-20.col-xs-20.col-sm-10
							h4.
								Защита в&nbsp;суде
							h3.
								от 80 000 <i class="rouble-course-font">е</i>
				.col-md-10.text-left.col-xs-20.col-sm-20
					h4.
						Уголовные специализации:
					ul
						li.
							розыск имущества, поиск счетов, денежных вкладов,<br />
							а&nbsp;также нематериальных активов;
						li.
							поиск проблемных активов, на&nbsp;которые наложены<br />
							финансовые или юридические ограничения;
						li.
							розыск активов за&nbsp;границей, в&nbsp;том числе оффшорных<br />
							счетов и&nbsp;имущества.
					button.btn.btn-primary.modal-contact-button-open.
						Оставить заявку
	section.jumbotron.section-trust.hidden-xs
		div.container
			div.row
				h1.
					Выигранные дела
			div#carousel-trust.sud.carousel.slide(data-ride="carousel")
				div.carousel-inner(role="listbox")
					each datasSlide in sudSlide
						+sudSlider(datasSlide)
				a.left.carousel-control(href="#carousel-trust"  role="button" data-slide="prev")
						span.arrow-left-slide
				a.right.carousel-control(href="#carousel-trust" role="button" data-slide="next")
					span.arrow-right-slide