extends _layout.jade
block title
	title Meltzer Group - Участие в тендерах
block content
	section.jumbotron.section-present.abon
		div.container
			.row
				div.col-md-20.col-sm-20.text-center
					ol.breadcrumb
						li
							a.main(href="index.html") Главная
						li
							a(href="#") Услуги
						li
							a.active(href="#") Юридические сопровождение участия в&nbsp;тендерах, конкурсах, аукционах
					h1.
						Юридические сопровождение<br>
						участия в&nbsp;тендерах, конкурсах,<br>
						аукционах
					div.col-md-20.button-sect
						button.btn.btn-default.modal-contact-button-open.
							Заказать звонок
	div#waypointMenu
	+anyblock('section-forthink')
		.flex-container
			.flex-item.order-1
				img.img-responsive(src="images/thinking-man.png", alt="Think")
			.flex-item.order-2
				p.
					Участие в&nbsp;государственных и&nbsp;коммерческих тендерах и&nbsp;аукционах всегда было довольно рискованным мероприятием, сопровождающимся массивной бюрократической волокитой
					и&nbsp;имеющим множество подводных камней, разобраться в&nbsp;которых может только опытный специалист. Незначительная ошибка в&nbsp;заявке на&nbsp;участие или юридические противоречия
					в&nbsp;тендерной документации, как&nbsp;правило, составленной весьма хитрым юридическим образом, могут пустить&nbsp;под&nbsp;откос всю&nbsp;подготовку и&nbsp;убрать кандидата из&nbsp;гонки. С&nbsp;трудностями
					в&nbsp;обработке и&nbsp;подготовке документации сталкиваются не&nbsp;только новички, но&nbsp;и&nbsp;бывалые участники. Поэтому своевременное юридическое сопровождение тендеров и&nbsp;аукционов
					для&nbsp;участника играет чуть&nbsp;ли&nbsp;не&nbsp;решающую роль в&nbsp;их&nbsp;результатах.
	+anyblock('section-iconstrend')
		h3.centered.
			Услуги по юридическому сопровождению участия
		h1.centered.
			включают:
		.flex-container
			each iconic in iconsInfo
				+tendericons(iconic)
	+anyblock('section-tenderpresent')
		.flex-container
			.flex-item.order-1
				img(src="images/sideman-left.png", alt="Человек")
			.flex-item.order-2
				p.
					Большинство аукционов сейчас проводится в&nbsp;онлайн-режиме. Для&nbsp;этого создаются
					электронные площадки, требующие специального технического оснащения участников
					и&nbsp;оформления электронной документации.
				h4.
					Наши юристы также оказывают сопровождение онлайн-аукционов,
					которое, помимо вышеперечисленных услуг, включает:
				ul
					li.
						техническую проверку электронной площадки;
					li.
						отладку программного обеспечения для&nbsp;участия;
					li.
						подготовку электронной документации и&nbsp;заявки;
					li.
						изучение и&nbsp;расшифровку правил участия в&nbsp;онлайн-аукционе;
					li.
						сопровождение участия и хода аукциона вместе с клиентом.
	+anyblock('section-ordering tender')
		h3.
			Cколько стоит тендерное сопровождение?
		form.flex-container#addFormCheckbox(action="#" method="post")
			.flex-item.order-1
					h4.
						Аккредитация на&nbsp;торговых площадках
					each first in firstFromSix
						.order-blue
							+radioChecks(first)
			.flex-item.order-2
					h4.
						Поиск актуальных тендеров
					each second in secondFromSix
						.order-blue
							+radioChecks(second)
			.flex-item.order-3
					h4.
						Подача запросов для&nbsp;разъяснения тендерной документации
					each third in thirdFromSix
						.order-blue
							+radioChecks(third)
			.flex-item.order-4
					h4.
						Участие в&nbsp;тендерном отборе
					each four in FourthFromSix
						.order-blue
							+radioChecks(four)
			.flex-item.order-5
					h4.
						Проверка заказчика и&nbsp;контракта на&nbsp;риски
					each five in FiveFromSix
						.order-blue
							+radioChecks(five)
			.flex-item.order-6
					h4.
						Выезды к&nbsp;клиенту в&nbsp;офис
					each six in SixFromSix
						.order-blue
							+radioChecks(six)
		.function-ajax-add-form
			button.btn.btn-primary.modal-contact-button-open.
				Отправить заявку
	+anyblock('section-tablemanin')
		.flex-container
			.flex-item.order-1
				p.
					Не&nbsp;секрет, что&nbsp;среди участников многих тендеров заранее выделены фавориты, шансы на&nbsp;победу которых 	априори гораздо выше,
					чем у&nbsp;других. Но&nbsp;даже несмотря на&nbsp;это, зная и&nbsp;верно применяя законодательную базу, у&nbsp;вас&nbsp;всегда есть шанс победить. Грамотное юридическое сопровождение вашего участия в&nbsp;тендере, аукционе, торгах и&nbsp;других конкурсах поможет вам&nbsp;оставаться в&nbsp;игре и&nbsp;повысить шансы на&nbsp;победу.
				div.button-function
					button.btn.btn-primary.modal-contact-button-open.
						Заказать услугу
			.flex-item.order-2.hidden-xs.hidden-sm
				img.img-responsive(src="images/sit-man.png", alt="Человек")