/*
	*AGORA SANS FONT FACE
	*Regular
	*Bold
	*Black
	*Light
	**Source : fonts/Agora Sans Pro
*/
@font-face
	font-family 'AgoraSans'
	font-style normal
	font-weight 400
	src url(../fonts/Agora\ Sans\ Pro/PFAgoraSansPro-Reg.ttf) format('truetype')

@font-face
	font-family 'AgoraSans'
	font-style normal
	font-weight 700
	src url(../fonts/Agora\ Sans\ Pro/PFAgoraSansPro-Bold.ttf) format('truetype')

@font-face
	font-family 'AgoraSans'
	font-style normal
	font-weight 900
	src url(../fonts/Agora\ Sans\ Pro/PFAgoraSansPro-Black.ttf) format('truetype')

@font-face
	font-family 'AgoraSans'
	font-style normal
	font-weight 300
	src url(../fonts/Agora\ Sans\ Pro/PFAgoraSansPro-Light.ttf) format('truetype')

/*
	*Agora Serif Pro
	*Regular
	*Bold
	*Black
	**Source : fonts/Agora Serif Pro
*/

@font-face
	font-family 'AgoraSerif'
	font-style normal
	font-weight 400
	src url(../fonts/Agora\ Serif\ Pro/PFAgoraSerifPro-Regular.ttf) fomart('truetype')

@font-face 
	font-family 'AgoraSerif'
	font-style normal
	font-weight 700
	src url(../fonts/Agora\ Serif\ Pro\PFAgoraSerifPro-Bold.ttf) format('truetype')

@font-face
	font-family 'AgoraSerif'
	font-style normal
	font-weight 900
	src url(../fonts/Agora\ Serif\ Pro/PFAgoraSerifPro-Black.ttf) format('truetype')
	
/*
	*Agora Slab Pro
	*Regular
	*Bold
	*Black
	*Light
*/

@font-face
	font-family 'AgoraSlab'
	font-style normal
	font-weight 400
	src url(../fonts/Agora\ Slab\ Pro/PFAgoraSlabPro-Reg.ttf) format('truetype')

@font-face
	font-family 'AgoraSlab'
	font-style normal
	font-weight 700
	src url(../fonts/Agora\ Slab\ Pro/PFAgoraSlabPro-Bold.ttf) format('truetype')

@font-face
	font-family 'AgoraSlab'
	font-style normal
	font-weight 900
	src url(../fonts/Agora\ Slab\ Pro/PFAgoraSlabPro-Black.ttf) format('truetype')

@font-face
	font-family 'AgoraSlab'
	font-style normal
	font-weight 300
	src url(../fonts/Agora\ Slab\ Pro/PFAgoraSlabPro-Light.ttf) format('truetype')

@font-face
	font-family 'PFD'
	font-style normal
	font-weight 400
	src url('../fonts/PFD/PFDinDisplayPro-Reg.ttf');

@font-face
	font-family 'PFD'
	font-style normal
	font-weight 700
	src url('../fonts/PFD/PFDinDisplayPro-Bold.ttf')

@font-face
	font-family 'PFD'
	font-style normal
	font-weight 900
	src url('../fonts/PFD/PFDinDisplayPro-Black.ttf')

@font-face
	font-family 'PFD'
	font-weight 300
	src url('../fonts/PFDinDisplayPro-Light.ttf')
	font-style normal

@font-face
	font-family 'RUBL'
	font-weight 400
	src url('../fonts/RUBSN.OTF') format('opentype')
	font-style normal