.flexbox-class
	display flex
	flex-direction row
	flex-wrap nowrap
	justify-content center
	align-items center
	align-item center
	padding 30px 0

	@media (max-width: 768px)
			flex-wrap wrap
			justify-content space-around
			align-items space-between
	.flex-item
		@media (max-width: 768px)
				&.order-1
					margin-left 0 !important
					margin-right 0 !important
				&.order-2
					margin-right 0 !important
					margin-left 0 !important

.about-start
	background-color #fff
	.flex-container
		@extend .flexbox-class
		.flex-item
			&.order-1
				flex-basis 264px
				order 3
				flex-grow .1
				margin-left 50px
				@media (max-width: 768px)
					order 1
					flex-shrink 2
			&.order-2
				order 1
				flex-grow .1
				flex-basis 468px
				order 2
				font-size 17px
				font-weight 300
				h1
					font-family 'PFD'
					line-height 35px
					@media (max-width: 768px)
						font-size 20px
.about-first
	background-color #f4f4f4
	.flex-container
		@extend .flexbox-class
		.flex-item
			&.order-2
				order 2
				flex-grow .1
				flex-basis 468px
				order 2
				font-size 17px
				font-weight 300
				h1
					font-family 'PFD'
					line-height 35px
					@media (max-width: 768px)
						font-size 20px
			&.order-1
				flex-basis 264px
				order 1
				flex-grow .1
.about-crysis
	background-color #fff
	.flex-container
		@extend .flexbox-class
		.flex-item
			&.order-1
				flex-basis 264px
				order 3
				flex-grow .1
				margin-left 50px
				@media (max-width: 768px)
					order 1
			&.order-2
				order 1
				flex-grow .1
				flex-basis 468px
				order 2
				font-size 17px
				font-weight 300
				h1
					font-family 'PFD'
					line-height 35px
					@media (max-width: 768px)
						font-size 20px
.about-numbers
	@extends .about-first
.about-web
	@extends .about-crysis
	a
		color #474747
		font-weight bold
		text-decoration underline