.section-anybody
	background-color white
	padding 80px 0
	@media (max-width: 768px)
		padding-bottom 10px
	.container
		@media (max-width: 360px)
			padding-left 0
			padding-right 0
	h3
		font-weight 400
		font-size 25px
		line-height 35px
		@media (max-width: 1199px)
			font-size 20px
			line-height 25px
		@media (max-width: 992px)
			font-size 21px
			line-height 20px
		@media (max-width: 768px)
			font-size 20px
			line-height 25px
			font-weight 400
	h1
		font-size 50px
		text-transform lowercase
		line-height 55px
		@media (max-width: 1199px)
			font-size 45px
			line-height 40px
		@media (max-width: 992px)
			font-size 30px
			line-height 30px
		@media (max-width: 768px)
			font-size 30px
			line-height 35px
.section-anybody.sud
	.container
		@media (max-width: 560px)
			padding-right 0
			padding-left 0
	h3
		font-family 'AgoraSans'
		font-size 19px
		line-height 28px
		font-weight 300
	h1
		font-size 30px
		line-height 35px
		@media (max-width: 560px)
			font-size 20px
		@media (max-width: 768px)
			line-height 1.5
			margin-bottom 40px