.section-bighouse
	padding-top 80px
	padding-bottom 80px
	@media (max-width: 375px)
		padding-bottom 20px
	h3
		font-family 'PFD'
		margin-top 10px
		font-size 35px
		margin-bottom 10px
		line-height 35px
		font-weight 400
	h1
		font-family 'PFD'
		margin-top 10px
		font-size 50px
		margin-bottom 30px
		line-height 50px
		@media (max-width: 375px)
			font-size 35px
			line-height 40px
		p
			font-size 17px
