.section-blockslide
	background-color #f4f4f4
	@media (max-width: 768px)
		display none
	.slider-wrapper
		width 926px
		height 431px
		@media (max-width: 992px)
			width 800px
		@media (max-width: 910px)
			width: 700px
			p
				font-size 17px
		.flex-in-flex
			@media (max-width: 992px)
				padding-left 100px !important
				padding-right 100px !important
				padding-top 0 !important
