.section-blockcenter
	background-color #fff
	.flex-container
		@extends .flexbox-class
		justify-content center
		flex-flow row nowrap
		align-items flex-start
		@media (max-width: 768px)
			flex-flow row wrap
		.flex-in-flex
			flex-basis 70%
			@extends .flexbox-class
			flex-flow row nowrap
			justify-content space-between
			align-items flex-start
			@media(max-width: 768px)
				flex-basis 50%
				flex-flow row wrap
				padding 0
			.flex-inner
				flex-basis 50%
				&.order-1
					@media (max-width: 768px)
						display none
				@media (max-width: 768px)
					flex-basis 100%
				h1
					font-size 58px
					line-height 1
					@media (max-width: 666px)
						font-size 40px
				h2
					font-size 32px
					@media (max-width: 666px)
						font-size 24px
						margin-bottom 40px
				.btn.btn-primary
					background-color #264fa0
					color white
					border-radius 50px
					padding-left 20px
					padding-right 20px


