.section-newblock
	background-color #fff
	.flex-container
		@extends .flexbox-class
		justify-content space-between
		align-items flex-start
		@media (max-width: 768px)
			flew-flow row wrap
		.flex-item
			h1
				font-size 58px
				line-height 1
			h3
				font-size 35px
				line-height 1.2
			&.order-1
				flex-basis 50%
				@media (max-width: 768px)
					flex-basis 100%
			&.order-2
				flex-basis 50%
				@media (max-width: 768px)
					flex-basis 100%
					h1
						font-size 50px
						@media (max-width: 768px)
							font-size 30px
					h3
						@media (max-width: 768px)
							font-size 25px
