
.section-buhgalt-present
	background-color #fff
	.flex-container
		@extends .flexbox-class
		justify-content space-around
		align-items flex-start
		@media (max-width: 767px)
			flex-flow row wrap
		.flex-item
			&.order-1
				flex-basis 15%
				text-align right
				@media (max-width: 767px)
					img
						display inline-block
					flex-basis 100%
					text-align center
			&.order-2
				flex-basis 70%
				align-self center
				@media (max-width: 767px)
					flex-basis 100%
				p
					font-size 18px
.section-handup
	.flex-container
		@extends .flexbox-class
		justify-content space-between
		align-items flex-item
		@media (max-width: 767px)
			flex-flow row wrap
		.flex-item
			&.order-1
				flex-basis 40%
				order 2
				text-align right
			&.order-2
				flex-basis 80%
				order 1
				@media (max-width: 767px)
					flex-basis 100%
				p
					font-size 17px
				ul
					margin 0
					padding 0
					margin-left 15px
					li
						font-size 17px
						margin-bottom 10px
						font-weight lighter
				.function-center-button
					margin-top 40px
					.btn.btn-primary
						background-color #264fa0
						padding 10px
						padding-right 30px
						padding-left 30px
						border-radius 50px
.section-ordering.tender
	background-color #fff
	.flex-container
		.order-blue
			label
				span
					border 1px solid #ccc
.section-ordering
	background-color #f4f4f4
	h3
		margin-top 0
		text-align center
		font-size 50px
		line-height 1
		@media (max-width: 767px)
			font-size 30px
	.function-ajax-add-form
		text-align center
		.btn.btn-primary
			background-color #264fa0
			color #fff
			border-radius 50px
			padding 10px
			padding-left 30px
			padding-right 30px
	.flex-container
			@extends .flexbox-class
			justify-content space-between
			align-items flex-start
			flex-flow row wrap
			padding-bottom 0
			@media (max-width: 767px)
				flex-flow row wrap
			.flex-item
				flex-basis 33.33%
				margin-bottom 50px
				@media (max-width: 767px)
					flex-basis 50%
				@media (max-width: 500px)
					flex-basis 100%
				h4
					margin-top 0
			.order-blue
				margin-bottom 10px
				input[type="radio"]
					display none
					&:checked + label span
						background url('../images/okay.png') no-repeat
						border 1px solid transparent
					&:checked + label
						font-weight bold
				label
					cursor pointer
					font-weight normal
					span
						display inline-block
						background-color white
						border-radius 50px
						width 22px
						height 22px
						float left
						margin-right 15px
						border 1px solid #dfdfdf

.section-last-overover
	background-color #fff
	.flex-container
		@extends .flexbox-class
		justify-content space-between
		align-items flex-start
		@media (max-width:767px)
			flex-flow row wrap
		.flex-item
			h2
				margin-top 0
				margin-bottom 0
				font-size 63px
			h3
				font-size 35px
				margin 0
			ul
				list-style none
				margin 0
				margin-top 40px
				padding 0
				li
					margin-bottom 10px
					span.icon-order-list
						text-align center
						display inline-block
						border 2px solid #000
						padding 10px 10px 
						border-radius 50px
						font-size 18px
						font-weight bold
						margin-right 10px
						line-height .6
			.btn.btn-primary
				margin-top 25px
				background-color #264fa0
				padding 10px
				padding-right 30px
				padding-left 30px
				border-radius 50px
			&.order-1
				order 1
				flex-basis 30%
				@media (max-width: 767px)
					flex-basis 100%
			&.order-2
				order 2
				flex-basis 50%
				@media (max-width: 767px)
					flex-basis 100%
					
.section-present.abon.buhgalt
	.underline-buhgalt
		color white
		text-decoration underline