.section-business
	background-color #f4f4f4
	padding-top 100px
	padding-bottom 130px
	@media (max-width: 768px)
		border-bottom 1px solid #ccc
	h4
		font-size 18px
		font-weight 400
	h2
		font-size 30px
		@media (max-width: 1199px)
			font-size 33px
			line-height 35px
	button.btn.btn-primary
		margin-top 25px
		font-size 18px
		background-color #264fa0
		border-radius 50px
		padding 10px 30px