.section-clientsBlock
	background-color #fff
	margin-bottom 0
	.flex-container
		@extend .flexbox-class
		align-items flex-start
		justify-content flex-start
		flex-flow row wrap
		
		.flex-item
			&.order-1
				flex-basis 100%
				img
					float left
					margin-right 20px
				h4
					vertical-align middle
					padding-top 10px
					margin-top 0
					margin-bottom 0
					a
						color #333
						text-decoration none !important
						&:active
							text-decoration none !important
						&:focus
							text-decoration none !important
			&.order-2
				@extend .flexbox-class
				flex-flow row wrap
				flex-basis 100%
				justify-content flex-start
				.flex-inner
					flex-basis 100%
					@extends .flexbox-class
					padding 0
					justify-content flex-start
					margin-bottom 10px
					.rouble-course-font
						display none
					&:last-child
						flex-flow row wrap
						align-items flex-start
						justify-content flex-start
						.rouble-course-font
							display inline
							font-size 35px
						.order-1
							align-self center
						.order-2
							order 3
							margin-left 60px
							@media (max-width: 1199px)
								order 3
								margin-left 0
							h3
								margin 0
						.order-3
							order 2
							@media (max-width: 1199px)
								margin 0
								flex-basis 20%
							@media (max-width: 768px)
								flex-basis 25%
					.order-1
						flex-basis 30px
						margin-right 20px
					.order-2
						flex-basis 40px

						h3
							font-family 'PFD'
							font-size 36px
							margin 0
							line-height 1
						margin-right 10px
					.order-3
						flex-basis 250px
						p
							font-size 17px