.comment-slider
	background-color #fff
	position relative
	height 400px
	overflow-y hidden
	@media (max-width: 768px)
		height 590px
	@media (max-width: 640px)
		height 700px
	@media (max-width: 440px)
		display none
	.flex-container
		@extends .flexbox-class
		justify-content center
		align-items stretch
		@media (max-width: 768px)
			justify-content center
			flex-wrap wrap
		.flex-item
			&.order-1
				flex-basis 150px
				flex-shrink 1
				margin-right 50px
				text-align center
				img
					display inline-block
					border-radius 50%
				@media (max-width: 768px)
					flex-basis 180px
					margin-right 0
					margin-bottom 40px
				order 1
			&.order-2
				order 2
				flex-basis 600px
				flex-shrink 1
				@media (max-width: 768px)
					text-align center
					padding 0 10px
				p
					font-size 17px
					padding-top 0
					margin-top 0
				h3
					margin-bottom 0
				h4
					margin-top 10px
	.carousel-control
		.arrow-left-slide
			background-image url('../images/arrow-left-slide.png')
			background-repeat no-repeat
			height 66px
			width 33px
			display inline-block
		.arrow-right-slide
			background-image url('../images/arrow-right-slide.png')
			background-repeat no-repeat
			height 66px
			width 33px
			display inline-block
	.left.carousel-control
	.right.carousel-control
		background-image none
		color #000
		text-shadow none
		font-size 50px
		font-weight 400
		top 40%
		background none
		@media (max-width: 1027px)
			top 80%
		@media (max-width: 768px)
			top 20%
		@media (max-width: 546px)
			top 20%
