.section-contact
	.contact-button-visit
		margin-bottom 40px
	background #fff
	.flex-container
		@extends .flexbox-class
		align-items flex-start 
		justify-content space-between
		@media (max-width: 768px)
			justify-content space-around
			flex-flow row wrap
		.flex-item
			p
				font-size 16px
			button.btn.btn-default
				border 1px solid #5980cc
				padding 8px
				padding-left 15px
				padding-right 15px
				background-color transparent
				border-radius 50px
			&.order-1
				flex-basis 200px
				@media (max-width: 586px)
					flex-basis 80%
			&.order-2
				flex-basis 270px
				@media (max-width: 586px)
					flex-basis 80%
			&.order-3
				@media (max-width : 586px)
					flex-basis 80%
				@extends .flexbox-class
				width 400px
				flex-flow row wrap
				justify-content flex-start
				align-items flex-start
				padding 0
				.contact-metro
					margin-bottom 15px
				button.btn.btn-primary
					background transparent
					font-size 17px
					border none
					color #474747
					border 1px solid #5980cc
					border-radius 50px
					padding 8px
					padding-left 15px
					padding-right 15px
