#carousel-mounth
	background-color #f4f4f4
	.arrow-left-slide
		background-image url('../images/arrow-left-slide.png')
		background-repeat no-repeat
		height 66px
		width 33px
		display inline-block
	.arrow-right-slide
		background-image url('../images/arrow-right-slide.png')
		background-repeat no-repeat
		height 66px
		width 33px
		display inline-block
	.left.carousel-control
	.right.carousel-control
		background-image none
		color #000
		text-shadow none
		font-size 50px
		font-weight 400
		top 45%
		@media (max-width: 768px)
			top 83%
	.left.carousel-control
		@media (max-width: 768px)
			left: 200px
	.right.carousel-control
		@media (max-width: 768px)
			right 200px
	.carousel-inner
		.item
			background-image url('../images/slider-image-bg.png')
			background-repeat no-repeat
			background-position center center
			height 414px
			padding-top 70px
			@media (max-width: 768px)
				background-size contain
		text-align center
		margin 100px 0
		figure
			display inline-block
			text-align initial
			img
				padding-top 20px
				float left
				margin-right 20px
			figcaption
				float right
		.block-content-slider
			display inline-block
			border-top 1px solid #e8e8e8
			margin-top 40px
			width 904px
			padding-left 40px
			@media (max-width: 768px)
				width 704px
			a.btn.btn-default
				margin-top 10px
				display inline-block
				float left
				border-radius 50px
				padding-left 30px
				padding-right 30px
				border 1px solid #95b5e8
			p
				text-align left
				font-weight 700
				font-size 15px
.padding-top-slider-cap
	padding-top 20px
	@media (max-width: 768px)
		padding-top 0

#carousel-mounth.abon
	background-color #f4f4f4
	border-bottom 1px solid #e8e8e8
	
#carousel-trust.sud
	.item-trust-logo
		display inline-block
		vertical-align middle
	.item-trust-title
		padding 10px
	h3
		font-size 17px
		line-height 23pxpx
		font-weight normal
		font-style normal

#carousel-trust
	padding-bottom 80px
	font-family 'PFD'
	.item
		.item-trust-body.sud
			.row
				margin-top 40px
				margin-bottom 40px
		.item-trust-body
			.trust-body-list
				img
					float left
					margin-right 15px
				a
					display block
					cursor pointer
					span
						border-bottom 1px solid #d9d9d9
					color #333
					&:hover
						color #333
						text-decoration none
					&:active
						color #333
						text-decoration none
			.blocks-trust
				h1
					font-size 50px
					margin-bottom 0
				h3
					margin-bottom 0
					font-size 18px
					line-height 20px
			.price-block
				h1
					font-size 40px
				h3
					margin-top 30px
					line-height 20px
				h4
					margin-top 0
		.item-block-trust
			width 85%
			height auto
			margin 0 auto
	.arrow-left-slide
		background-image url('../images/arrow-left-slide-white.png')
		background-repeat no-repeat
		height 66px
		width 33px
		display inline-block
	.arrow-right-slide
		background-image url('../images/arrow-right-slide-white.png')
		background-repeat no-repeat
		height 66px
		width 33px
		display inline-block
	.left.carousel-control
		left -50px
	.right.carousel-control
		right -50px
	.left.carousel-control
	.right.carousel-control
		background-image none
		color #000
		text-shadow none
		font-size 50px
		font-weight 400
		top 35%
		

.flexbox-slider
	display flex
	flex-flow row wrap
	justify-content flex-start
	align-items flex-start

#carousel-trust.sud
	.carousel-control
		top 20% !important
		padding 0
		@media (max-width: 1024px)
			top 20% !important
		@media (max-width: 768px)
			top 20% !important
		&.left
			left -10%
			@media (max-width: 1024px)
				left -8%
			@media (max-width: 768px)
				left -8%
		&.right
			right -10%
			@media (max-width: 1024px)
				right -8%
			@media (max-width: 768px)
				right -8%

	height 500px
	.mz-sudslide
		background-color #fff
		width 90%
		border-radius 10px
		margin 0 auto
		.mz-sudslider-header
			border-bottom 1px solid #e6e6e6
			padding 10px
			.flex-container
				@extends .flexbox-slider
				padding 0
				flex-flow row nowrap
				.order-1
					flex-basis 20%
					order 1
					padding 20px
				.order-2
					flex-basis 70%
					padding 20px
					order 2
					color #000
					font-size 18px
		.mz-sudslider-body
			.flex-container
				@extends .flexbox-slider
				justify-content space-between
				width: 90%
				margin 40px auto
				.flex-item
					flex-basis 33.33%
					margin-bottom 20px
					figure
						padding 10px
						img
							float left
							margin-right 10px
						figcaption
							a
								color #000
								text-decoration underline