.section-flexmap
	.flex-container
		@extends .flexbox-class
		flex-flow row nowrap
		justify-content space-between
		align-items flex-start
		@media (max-width: 768px)
			flex-wrap wrap
			justify-content center

		.flex-item
			&.order-1
				order 2
				flex-basis 528px
				flex-shrink 3
				@media (max-width: 768px)
					order 1
			&.order-2
				order 1
				flex-basis 480px
				flex-shrink 1
				@media (max-width: 768px)
					order 2
			ul
				padding 0
				margin 0
			.flex-in-flex
				@extends .flexbox-class
				flex-flow row nowrap
				padding 0
				justify-content space-around
				align-items center
				border-bottom 1px solid #e3e3e3
				@media (max-width: 470px)
					flex-flow row wrap
					justify-content center
					
				.itemp-brand
					font-size 15px
				.order-1
					flex-basis 30px
				.order-2
					flex-basis 100px
				.order-3
					flex-basis 100px
				.order-4
					flex-basis 200px
