.section-documents
	.flex-container
		@extend .flexbox-class
		flex-direction row
		flex-wrap wrap
		justify-content space-around
		align-items space-around
		.flex-item
			margin 20px
			flex-basis 264px
			margin-bottom 50px