.section-footer
	background-color #f4f4f4
	@media (max-width: 548px)
		text-align center
		.logo-footer
			display none
		.last-block-from
			width 100%
			display inline-block
			text-align center
			img
				float none

.section-footer-first
	padding 20px
	background-color #f4f4f4
	@media (max-width: 833px)
		.contact-city
			padding-left 0
		.cotact-int
			padding-left 0
	@media (max-width: 536px)
		.contact-int
			display none
		.contact-logo
			width 50%
		.contact-button
			width 50%
	@media (max-width: 370px)
		.contact-logo
			width 100%
			text-align center
		.contact-button
			display none
	a
		color #000
		&:hover
			color #000
			text-decoration none
		&:active
			color #000
			text-decoration none
	.contact-int
		padding-top 15px
		.underline
			border-bottom 1px solid #d6d6d6
	.contact-city
		padding-top 15px
	.contact-days
		padding-top 15px
	.contact-button
		padding-top 20px
		button
			background-color transparent
			float right
			padding-left 20px
			padding-right 20px
			border 1px solid #5980cc
			border-radius 50px
			font-size 16px
			&:active
				outline none
			&:focus
				outline none

.section-footer
	padding 25px
	border-top 1px solid #e8e8e8

.footer-social
	padding-top 5px

.last-block-from
	float right
.logo-footer
	padding-top 25px

.icon-facebook
	background-image url('../images/facebook.png')
	background-repeat no-repeat
	display block
	width 24px
	height 24px
	margin-bottom 10px

.icon-googleplus
	background-image url('../images/googleplus.png')
	background-repeat no-repeat
	display block
	width 24px
	height 25px


.last-block-from
	color #000
	&:hover
		color #000
		text-decoration none
	&:active
		color #000
		text-decoration none
	.padding-top
		margin-top 10px
		display inline-block
	a
		color #000
		cursor pointer
		text-decoration none
		&:hover
			color #000
			text-decoration none
		&:active
			color #000
			text-decoration none

.last-block-from
	img
		float left
		margin-right 10px
.text-underline-footer
	border-bottom 1px solid #d6d6d6
