.section-formgroup
	text-align center
	background-color #f4f4f4
	.form-group
		input[type="text"]
			height 45px
			padding-left 10px
			padding-right 10px
			box-shadow inset 0px 1px 6px rgba(0,0,0,.1)
			border 1px solid #dedede
			color #474747
			&::-webkit-input-placeholder
				color #474747
			&:-moz-placeholder
				color #474747
			&::-moz-placeholder
				color #474747
			&:-ms-input-placeholder
				color #474747
	.width-hung
		@media (max-width: 375px)
			width 100%
		.form-group
			@media (max-width: 375px)
				margin-right 0 !important
	.margin-bottom
		@media (max-width: 375px)
			margin-bottom 15px
	.padding-none
		padding-left 0
		padding-right 0
		.form-group
			margin-right 10px
	.margin-none
		margin 0 !important
	.col-centered
		float none
		margin 0 auto
	h1
		font-size 60px
		font-weight bold
		font-family 'PFD'
		text-align center
		margin-bottom 10px
		@media (max-width: 600px)
			font-size 35px
		@media (max-width: 375px)
			font-size 30px
	p
		font-size 17px
		margin-top 0
		text-align center
		margin-bottom 40px
		@media (max-width: 600px)
			font-size 15px
	.col-lg-20.text-center
		margin-top 30px
		text-align center
		p
			font-size 17px
			font-weight normal
			margin-bottom 10px
		input[type="submit"]
			padding 10px
			padding-left 30px
			padding-right 30px
			border-radius 50px
			background-color #264fa0
			margin-bottom 40px

	.form-control.space
		background-image url('../images/square-metr.png')
		background-repeat no-repeat
		background-position 90%
