@import 'addons/_mixins.styl'
@import 'addons/_variables.styl';

.meltzer-header
	padding 20px 0
	a
		display inline-block
		color #000
		font-size 16px
		&:first-child
			margin-bottom 3px
		&:hover
			text-decoration none
	.contact-logo
		text-align center
		@media (max-width: 1199px)
			padding-left 0
		@media (max-width: 768px)
			padding-left 33px
		@media (max-width: 550px)
			width 50%
		@media (max-width: 400px)
			width 100%
			text-align center
		
		img
			display inline-block
	.contact-int
		padding-top 10px
		@media (max-width: 550px)
			width 50%
		@media (max-width: 400px)
			display none
		.underline
			border-bottom 1px solid #d9d9d9
	.contact-city
		padding-top 10px
		@media (max-width: 550px)
			display none
	.contact-days
		padding-top 10px
	.contact-button
		padding-top 15px
		button
			float right
			padding-left 20px
			padding-right 20px
			border 1px solid #5980cc
			border-radius 50px
			font-size 16px
			&:active
				outline none
			&:focus
				outline none


.section-present
	background-image url('../images/page-header-bg.png')
	background-repeat no-repeat
	background-position top left
	background-size cover
	margin-bottom 0
	.row
		margin-top 80px
		@media (max-width: 992px)
			margin-top 40px
		@media (max-width: 768px)
			margin-top 30px
	.present-title
		color white
		h1
			margin-top 0
			line-height 116px
			position relative
			font-size present-font-size-title
			margin-bottom 110px
			@media (max-width: 768px)
				text-align left
			@media (max-width: 992px)
				font-size 110px
				margin-bottom 60px
			@media (max-width: 768px)
				font-size 100px
				margin-bottom 80px
				line-height 80px
			@media (max-width: 760px)
				text-align center
			@media (max-width: 436px)
				margin-bottom 40px
				font-size 60px
			span
				line-height initial
				position absolute
				top 111px
				left 264px
				font-size present-font-size-subtitle
				@media (max-width: 992px)
					font-size 29px
					top 100px
					left 190px
				@media (max-width: 768px)
					font-size 30px
					top 80px
					left 45%
				@media (max-width: 436px)
					top 63px
					left 44%
					font-size 20px
	.present-logo
		@media (max-width: 768px)
			text-align center
	.present-link
		margin-bottom 100px
		@media (max-width: 767px)
			padding-left 24%
		@media (max-width: 660px)
			padding-left 20%
		@media (max-width: 575px)
			padding-left 15%
		@media (max-width: 360px)
			padding-left 8%
		a
			color #c3dcff 
			font-size present-font-size-links
			text-decoration none !important
			span
				color white
		button.btn
			display block !important
			margin-top 50px
			background-color present-button-background
			border none
			border-radius 50px
			color white
			padding-top 8px
			padding-bottom 8px
			padding-right 20px
			padding-left 20px
			font-size 16px
			&:focus
				outline none
			&:active
				outline none
				
// OTHER PAGE
.section-present.abon
	padding-top 0
	.button-sect
		margin-bottom 40px
		text-align center
		button
			display inline-block
			background-color #7e8ca9
			border none
			color white
			border-radius 50px
			padding-right 30px
			padding-left 30px
			padding-top 8px
			padding-bottom 8px
			font-size 17px
			margin-top 30px
			margin-bottom 30px
			&:active
				outline none
			&:focus
				outline none
	h1
		color white
		text-align center
		font-size 63px
		margin-bottom 60px
		font-family 'PFD'
		line-height 63px
		@media (max-width: 750px)
			font-size 2.5em
			line-height 50px
		@media (max-width: 700px)
			br
				display none
		@media (max-width: 375px)
			font-size 30px
			line-height 30px
	h4
		color #c3dcff
		font-size 20px
		text-align center
		font-family 'AgoraSans'
		line-height 30px
		font-weight 400
		@media (max-width: 768px)
			font-size 17px
		@media (max-width: 750px)
			font-size 16px
			line-height 23px
		@media (max-width: 667px)
			font-size 15px
		@media (max-width: 700px)
			br
				display none
		span
			display block
			color white
			margin-top 25px
			margin-bottom 25px
	.row
		margin-top 0
	.breadcrumb
		background-color transparent
		text-align center
		margin-bottom 30px
		li
			&:first-child
				&:before
					content ""
			&:before
				font-family 'Glyphicons Halflings'
				font-size 10px
				content "\e258"
				color #3e598d
			a
				color #c3dcff
				font-size 14px
				cursor default
				&:focus
					text-decoration none
					color #c3dcff
				&:hover
					color #c3dcff
					text-decoration none
				&:active
					color #c3dcff
					text-decoration none
				&.active
					color #fff
				&.main
					cursor pointer