.section-howpayservice
	background-color #f4f4f4
	padding-bottom 50px
	h1
		text-align center
		font-size 63px
		font-family 'PFD'
		@media (max-width: 768px)
			line-height 1.1
		@media (max-width: 560px)
			font-size 50px
		@media (max-width: 375px)
			font-size 30px
			line-height 30px
	h4
		text-align left
		font-family 'AgoraSans'
		font-size 17px
		font-weight 400
		line-height 20px
		margin-bottom 10px
	h3
		text-align left
		margin-top 0
		margin-bottom 0
	.col-md-20
		margin-bottom 0
		margin-top 0
.section-howpayservice.nedv
	padding 40px
	background-color #fff
	.container
		@media (max-width: 375px)
			padding-left 0
			padding-right 0
	h2
		font-family 'PFD'
		font-size 35px
		margin-bottom 10px
		margin-top 10px
		@media (max-width: 600px)
			font-size 22px
	ul
		margin 0
		padding-left 20px
		li
			margin-bottom 15px
	button.btn.btn-primary
		padding 10px
		font-size 17px
		padding-left 30px
		padding-right 30px
		border-radius 50px
		background-color #264fa0
		margin-top 30px
	