#carousel-trust
	.carousel-control
		@media (max-width: 1199px)
			top 92% !important
			&.left
				left 30%
			&.right
				right 30%
.section-trust
	.carousel-inner
		article.article-slide
			background-color #fff
			width 880px
			margin 0 auto
			border-radius 8px
			color #000
			@media (max-width: 991px)
				width: 700px
	.index-slider-header
		margin-bottom 40px
		.flex-container
			@extend .flexbox-class
			padding 20px 0
			justify-content flex-start
			@media (max-width: 768px)
				justify-content center
			.order-1
				padding 10px
				flex-basis 20%
				text-align center
				@media (max-width: 768px)
					flex-basis 30%
			.order-2
				flex-basis 80%
				padding 10px
				font-size 20px
				padding-right 30px
				@media (max-width: 768px)
					flex-basis 50%
			border-bottom 1px solid #e6e6e6

	.index-slider-body
		.flex-container
			@extend .flexbox-class
			padding 0
			justify-content space-around
			align-items center
			.order-1
			.order-2
			.order-3
				text-align center
				margin-bottom 40px
				@media (max-width: 768px)
					flex-basis 45%
				img
					margin-bottom 20px
				h2
					margin 0
					line-height 1
					font-size 42px
					i
						font-size 37px
						margin-left 10px
				h3
					margin 10px