.section-lawyer
	padding-bottom 60px
	background-color white
	h1
		text-align center
		font-size 60px
		font-family 'PFD'
		margin-bottom 0
		@media (max-width: 768px)
			line-height 1.1
			font-size 50px
		@media (max-width: 375px)
			font-size 30px
	h4
		marign-top 0
		text-align center
		font-size 16px
		@media (max-width: 768px)
			padding 0 20px
		@media (max-width: 375px)
			font-size 14px
	.block-law
		.col-xs-20
			@media (max-width: 768px)
				padding 0
				text-align left
		h4
			text-align left
			margin-bottom 0
			font-weight 400
			@media (max-width: 768px)
				text-align left
				padding 0
		h3
			text-align left
			margin-bottom 0
			margin-top 5px
			@media (max-width: 768px)
				padding-left 0
				text-align left
	.text-left
		h4
			text-align left
			@media (max-width: 375px)
				margin 10px
				padding 10px
		ul
			margin-bottom 80px
			padding-left 20px
			li
				margin-bottom 10px
				font-weight 300
		button
			padding-left 30px
			padding-right 30px
			padding-top 8px
			padding-bottom 8px
			border-radius 50px
			background-color #264fa0
			font-size 18px
			margin 0
			display block
			&:active
				outline none
			&:hover
				outline none
			&:focus
				outline none