.modal-content.contact
	span.close-btn
		background-image url('../images/closebtn.png')
		background-repeat no-repeat
		display inline-block
		width 10px
		height 10px
	border-radius 0
	background-color #fff
	.form-group
		textarea.form-control
			resize none
			height 90px
			padding-left 20px
			box-shadow inset 0px 1px 3px rgba(0,0,0,.2)
			&::-webkit-input-placeholder
				color #474747
			&:-moz-input-placeholder
				color #474747
			&:-moz-placeholder
				color #474747
	.modal-dialog
		box-shadow none !important
	.modal-body
		form
			margin-bottom 50px
			label#idPhoneContact-error.error
				display none !important
			input.form-control.error
				border 1px solid red
			input.form-control.valid
				border 1px solid green
	.modal-header
		.modal-title
			text-align center
			font-size 40px
			padding-top 40px
		.close
			opacity .7
			text-shadow none
			font-weight bold
		border-bottom none
	.center-div
		width 50%
		margin 0 auto
		@media (max-width: 568px)
			width 70%
		@media (max-width: 360px)
			width 100%
		label
			color white
		.form-group
			margin-bottom 15px
			margin-right 0
			margin-left 0
			input
				height 45px
				padding-left 20px
				border 1px solid #dedede
				box-shadow inset 0px 1px 3px rgba(0,0,0,.2)
				&:-moz-input-placeholder
					color #474747
				&::-webkit-input-placeholder
					color #474747
				&:-moz-input-placeholder
					color #474747
				&:-moz-placeholder
					color #474747
		.button-center
			text-align center
			button
				background-color #264fa0
				border none
				padding 10px
				font-size 16px
				border-radius 50px
				padding-left 20px
				padding-right 20px
				margin-top 20px

#modalPopup
	button.close
		opacity 1
	span.close-btn
		background-image url('../images/close-btn-modal.png')
		background-repeat no-repeat
		display inline-block
		width 25px
		height 25px
	.modal-dialog
		border-radius none
	.modal-header
		border-bottom none