.section-nalog
	background-color #fff
	.flex-container
		@extends .flexbox-class
		justify-content center
		.flex-item
			&.order-1
				flex-basis 40%
				padding-right 30px
			&.order-2
				flex-basis 80%
				p
					font-size 18px
.section-yourquest.nalog
	background-color #f4f4f4
	.flex-container
		@extends .flexbox-class
		justify-content space-between
		align-items flex-start
		@media (max-width: 768px)
			flex-flow row wrap
			justify-content center
		.flex-item
			ul
				li
					margin-bottom 15px
					font-weight lighter
					
			&.order-1
				flex-basis 35%
				@media (max-width: 768px)
					flex-basis 100%
					margin-bottom 0
					padding-top 0
			&.order-2
				flex-basis 20%
				@media (max-width: 768px)
					display none
			&.order-3
				flex-basis 35%
				@media (max-width: 768px)
					flex-basis 100%
					margin-top 0
					padding-top 0
	h3
		width 60%
		margin 0 auto
		font-size 18px
		font-weight bold
		@media (max-width: 768px)
			width 80%
		@media (max-width: 768px)
			width 100%
			font-size 16px
	.button-function-nalog
		text-align center
		margin-top 40px
		.btn.btn-primary
			background-color #264fa0
			padding 10px
			padding-right 30px
			padding-left 30px
			border-radius 50px
.section-nalogic
	background-color #fff
	text-align center
	h2
		font-size 58px
		margin 0
		@media (max-width: 768px)
			font-size 30px
	.flex-container
		@extends .flexbox-class
		justify-content flex-start
		align-items flex-start
		flex-flow row wrap
		margin-top 30px
		@media (max-width: 768px)
			flex-flow row wrap
		.flex-item
			flex-basis 25%
			@media (max-width: 768px)
				text-align center
				flex-basis 50%
			@media (max-width: 430px)
				flex-basis 100%
			img
				display inline-block
			h3
				font-size 17px
				font-weight bold
				padding 10px
				@media (max-width: 768px)
					padding 10px
.section-workin
	background-color #f4f4f4
	.flex-container
		@extends .flexbox-class
		justify-content space-between
		align-items flex-start
		@media (max-width: 768px)
			flex-flow row wrap
		.flex-item
			&.order-1
				order 2
				flex-basis 30%
				text-align right
				@media (max-width: 768px)
					display none
			&.order-2
				order 1
				flex-basis 70%
				padding 20px
				@media (max-width: 768px)
					flex-basis 100%
				h3
					font-size 30px
					margin 0
					margin-bottom 40px
				h4
					font-size 24px
					margin 0
				p
					font-size 18px
.section-whyus
	background-color #fff
	.flex-container
		@extends .flexbox-class
		justify-content flex-start
		align-items flex-start
		@media (max-width: 768px)
			justify-content center
		.flex-item
			&.order-1
				order 2
				flex-basis 60%
				padding 30px
				@media (max-width: 768px)
					flex-basis 90%
				h2
					margin 0
					font-size 35px
					line-height 1.2
					@media (max-width: 768px)
						font-size 27px
				h1
					margin 0
					font-size 58px
					line-height 1.2
					@media (max-width: 768px)
						font-size 40px
						margin-top 20px
						line-height 1.2
				p
					font-size 18px
				.btn.btn-primary
					margin-top 20px
					background-color #264fa0
					padding 10px
					padding-right 30px
					padding-left 30px
					border-radius 50px
			&.order-2
				order 1
				flex-basis 40%
				@media (max-width: 768px)
					flex-basis 90%
					margin-bottom 20px