.navbar-default.fixed
	position fixed
	width 100%
	top 0
	left 0
	display none
	border-bottom 0
	box-shadow 0px 2px 3px rgba(0,0,0,.3)
	transtion display .3s
	.dropdown-menu
		box-shadow 0px 1px 3px rgba(0,0,0,.2)
		top 98.5%