@import 'addons/_variables.styl'

.navbar
	background-color nav-background
	border none
	border-radius 0
	margin-bottom 0
	border-bottom 1px solid nav-border-color
	.navbar-header
		.navbar-toggle
			border none
			background-color #253e70
			span
				background-color #fff
	.navbar-nav
		display inline-block
		float none
		vertical-align top
		li
			span
				text-transform uppercase
			a
				@media (max-width: 992px)
					padding-left 5px
					padding-right 5px

	.navbar-collapse
		text-align center
		border-color transparent
		@media (max-width: 992px)
			padding-left 0
			padding-right 0
	.nav.navbar-nav
		.dropdown.open
			box-shadow none
			&>a
				color nav-color
				background-color #0e1e3e
				&:hover
					text-decoration none
		li
			a
				text-transform uppercase
				color nav-color
				&:hover
					text-decoration underline
		.dropdown-menu
			background-color #0e1e3e
			padding-top 10px
			left -1px
			padding-bottom 10px
			padding-right 0
			padding-left 0
			border-radius 0
			box-shadow none
			@media (max-width: 767px)
				background-color transparent
				li
					text-align center
					a
						color #fff
						font-size 16px
			li
				&:hover
					background-color #0e1e3e
				padding 0
				&:last-child
					border none
				&>a
					padding 5px 15px
					&:hover
						text-decoration underline
				a
					text-transform lowercase
					font-size 16px
					&:first-letter
						text-transform uppercase
					
					&:hover
						background none
					&:active
						background none
					&:focus
						background none
.icon-text-menu-size
	font-size 12px
