.jumbotron.section-need
	margin-bottom 0
	background-color #f4f4f4
	.container
		@media (max-width: 560px)
			padding-left 0
			padding-right 0
	p
		@media (max-width: 1199px)
			font-size 20px
		@media (max-widht: 992px)
			font-size 20px
	h1
		line-height 64px
		font-size 75px
		@media (max-width: 1199px)
			font-size 63px
			line-height 60px
		@media (max-width: 992px)
			font-size 50px
		@media (max-width: 768px)
			font-size 50px
			line-height 50px
		@media (max-width: 400px)
			font-size 40px
			line-height 40px
// OTHER
.jumbotron.section-need.abon
	div.row
		margin-bottom 20px
		.col-md-5
			@media (max-width: 768px)
				margin-bottom 30px
	h1
		margin-top 0
		font-size 63px
		@media (max-width: 768px)
			font-size 50px
		@media (max-width: 750px)
			font-size 40px
		@media (max-width: 360px)
			font-size 35px
	h3
		font-size 35px
		font-weight 400
		line-height 35px
		@media (max-width: 768px)
			font-size 30px
		@media (max-width: 750px)
			font-size 28px
		@media (max-width: 360px)
			font-size 24px
	h4
		font-weight 400
		font-size 20px
		line-height 32px
		@media (max-width: 750px)
			font-size 16px
			line-height 28px
	.image-block
		margin-top 33px