.section-newsblocks-tag
	margin-bottom 0
	padding-bottom 0
	.block-text-center
		text-align center
	.flex-container
		@extends .flexbox-class
		flex-flow row wrap
		align-items flex-strat
		padding 0
		justify-content center
		.flex-item
			@extends .flexbox-class
			width 890px
			flex-flow row wrap
			align-items flex-start
			padding 0
			@media (max-width: 768px)
				justify-content center
			a.newsblock-tag
				display inline-block
				min-width 70px
				background #fff
				color #333
				margin 10px
				padding 8px
				padding-right 20px
				padding-left 20px
				border 1px solid transparent
				border-radius 50px
				transition all .2s
				&:hover
					text-decoration none
				&:focus
					text-decoration none
				&:active
					text-decoration none
			a.newsblock-tag.active
				border-color #5c82cd
				position relative
				padding-left 30px
				&:before
					content ""
					width 9px
					height 8px
					display block
					position absolute
					left 13px
					top 13px
					background url('../images/news/ok.png')
					background-repeat no-repeat

.section-newsblock
	.flex-container
		@extends .flexbox-class
		justify-content center
		flex-direction row
		flex-wrap wrap
		align-items flex-start
		justify-content flex-start
		padding 0
		.flex-item
			flex-basis 268px
			margin 0 40px
			.post-title
				font-size 17px
				a
					color #474747
					cursor pointer
					&:hover
						text-decoration none
					&:active
						color #474747
						text-decoration none
					&:hover
						color #474747
						text-decoration none
				h4
					margin-top 15px
					margin-bottom 0
			.post-image
				position relative
				a.tagimage-yellow
					position absolute
					bottom 10px
					left 10px
					background-color #ffde00
					padding 3px
					padding-left 10px
					padding-right 10px
					color #333
					border-radius 50px
					&:hover
						text-decoration none
					&:active
						text-decoration none
					&:focus
						text-deocration none

			.post-preview
				p
					margin-top 15px
					font-size 16px
