.section-newservice
	h1
		font-size 60px
		color #000 
		line-height 60px
		text-align center
		margin-top 80px
		margin-bottom 80px
		@media (max-width: 560px)
			font-size 35px
			line-height 50px
			margin-top 0px
	.blocks-service
		text-align center
		margin-bottom 40px
		font-size 14px