.section-newsec
	background-color #f4f4f4
	.flex-container
		justify-content space-between
		align-items flex-start
		flex-wrap wrap
		@extend .flexbox-class
		@media (max-width: 786px)
			justify-content center
	.flex-item
		&.order-1
			flex-basis 568px
			order 1
			.subtitle-news
				h3
					font-size 17px
					margin-top 0
					@media (max-width: 786px)
						padding 20px
			ul
				padding 0
				margin 0
				margin-bottom 20px
				@media (max-width: 786px)
						padding 20px
				h3
					font-size 17px
					margin 10px 0
				li
					margin 10px 5px
					font-size 15px
					font-weight 300
					list-style-position inside
			@media (max-width: 992px)
				flex-shrink 2
		&.order-2
			order 2
			flex-basis 396px
			@media (max-width: 1199px)
				flex-basis 300px
			@media (max-width: 992px)
				flex-basis 180px
			@media (max-width: 786px)
				flex-basis 300px
		&.order-3
			order 3
			flex-basis 100%
			alig-self flex-end
			p
				font-size 15px
			@media (max-width 786px)
				flex-basis 80%