section.section-objectnedv
	background-color #f4f4f4
	padding-bottom 40px
	.row-centered
		text-align center
	h1
		font-size 60px
		line-height 65px
		text-align center
		font-family 'PFD'
		margin-bottom 40px
		@media (max-width: 768px)
			font-size 40px
			line-height 50px
		@media (max-width: 600px)
			font-size 25px
			line-height 35px
	.col-centered
		float none
		text-align left
		margin 0 auto
	.col-lg-20
		text-align center
	.btn.btn-primary
		padding 10px
		padding-left 30px
		padding-right 30px
		border-radius 50px
		background-color #264fa0
		font-size 17px
		font-family 'PFD'
	.checkbox
		.form-group
			float left
			margin-right 20px
			display inline-block
		&:after
			content ""
			height 0
			visibility hidden
			display block
			clear both
	.col-centered.checkbox
		text-align center
		margin-bottom 30px
		div
			float none
			display inline-block
			input[type="radio"]
				display none
			input[type="radio"] + label span
				display inline-block
				width 22px
				height 22px
				background-color #fff
				border-radius 20px
				border 1px solid #ccc
				cursor pointer
				vertical-align middle
			input[type="radio"]:checked + label span
				border 1px solid transparent
				background-image url('../images/okay.png')
				background-repeat no-repeat
	.col-lg-20.col-centered.clearfix.form-text
		.form-group
			display inline-block
			margin-right 10px
			input
				height 45px
				padding-right 80px
				box-shadow inset 1px 2px 3px rgba(0,0,0,.1)
				border 1px solid #dedede
				&::-webkit-input-placeholder
					color #474747
				&:-moz-placeholder
					color #474747
				&::-moz-placeholder
					color #474747
				&:-ms-input-placeholder
					color #474747
			input.form-control.error
				border 1px solid red
			label#validateNedvPhoneSec-error
				display none !important

	.col-lg-20.col-centered.files
		.form-group
			vertical-align top
			display inline-block
			margin-right 10px
		input[type="text"]
			height 45px
			width 357px
			padding-right 80px
			box-shadow inset 1px 2px 3px rgba(0,0,0,.1)
			border 1px solid #dedede
			@media (max-width: 600px)
				width 100%
			&::-webkit-input-placeholder
				color #474747
			&:-moz-placeholder
				color #474747
			&::-moz-placeholder
				color #474747
			&:-ms-input-placeholder
				color #474747
		input[type="file"]
			opacity 0
			overflow hidden
			position absolute
			z-index -1
		input[type="file"] + .form-label
			width 357px
			border-radius 3px
			border 1px solid #dedede
			height 45px
			padding 10px
			margin-top 0
			font-size 17px
			font-weight 400
			word-wrap nowrap
			overflow hidden
			text-overflow ellipsis
			color #474747
			background-image url('../images/fileicon.png'), url('../images/line-vert.png')
			background-repeat no-repeat, repeat-x
			background-position 10px 15px, left top
			display inline-block
			text-align left
			cursor pointer
			padding-left 30px
			@media (max-width: 600px)
				width 236px
			@media (max-width: 375px)
				width 100%

.section-objectnedv.sec
	h1
		margin-bottom 10px
	h3
		text-align center
		font-size 35px
		font-weight 400
		margin-top 0
		@media (max-width: 768px)
			font-size 20px
	.col-lg-20.col-centered.checkbox
		input[type="checkbox"]
			display none
		input[type="checkbox"] + label span
			vertical-align top
			display inline-block
			width 22px
			height 22px
			background-color white
			border 1px solid #ccc
			border-radius 20px
		input[type="checkbox"] + label div
			margin-left 3px
			padding 0
		input[type="checkbox"]:checked + label span
			background-image url('../images/pluscirc.png')
			border 1px solid transparent
			background-repeat no-repeat
	div.col-lg-20.col-centered.files
		.col-centered
			text-align center

#formValidateNedv
	.col-lg-20.col-centered.checkbox
		label
			@media (max-width: 375px)
				font-size 15px


#formValidateNedvFirst
	.form-control.error
		border 1px solid red
	#validateNedvPhone-error
		display none !important

#requiredFileForm
	label.form-label
		white-space nowrap
		overflow hidden
		text-overflow ellipsis
	.required-email
		label
			display none !important
		input.error
			border 1px solid red
		input.valid
			border 1px solid green
