@import 'addons/_variables.styl';

.section-meltgroup
	margin-bottom 0
	padding-top 0
	padding-bottom 0
	background-color #122b5d
	.container
		padding-top 60px
		background-image url('../images/bg-group-image.jpg')
		background-repeat no-repeat
		background-size cover
		@media (max-width: 768px)
			background-size auto
			background-position center
	text-align center
	color white
	h2
		font-family 'PFD'
		margin-top 0
		margin-bottom 0
		font-size 90px
		@media (max-width: 616px)
			font-size 60px
		@media (max-width: 440px)
			font-size 40px
	h4
		font-family 'PFD'
		margin-top 0
		font-size 25px
		opacity .76
		text-transform lowercase
		@media (max-width: 616px)
			font-size 23px
		@media (max-width: 440px)
			font-size 20px
	button.btn.btn-default
		font-family 'AgoraSans'
		background-color present-button-background
		border none
		border-radius 50px
		color white
		padding-right 30px
		padding-left 30px
		font-size 18px
		margin-bottom 40px
	.meltgroup-logo
		display inline-block

.section-meltgroup.nedv
	.container
		background-image url('../images/bg-prom.jpg')
		@media (max-width: 375px)
			background-size cover
	h3
		font-size 35px
		margin-bottom 0
		@media (max-width: 375px)
			font-size 30px
	h1
		margin-top 0
		font-size 60px
		@media (max-width: 375px)
			font-size 40px
	p
		font-size 17px
		font-fmaily 'AgoraSans'
		color #c3dcff
		margin-bottom 40px

.section-meltgroup.activ
	.meltgroup-text
		.text-font
			@media (max-width: 767px)
				font-size 40px
	.flex-container
		display flex
		flex-flow row nowrap
		justify-content space-around
		@media (max-width: 767px)
			flex-flow row wrap
			justify-content center
		.flex-item
			display flex
			flex-flow row nowrap
			justify-content flex-start
			@media (max-width: 767px)
				flex-basis 80%
				flex-flow row wrap
				justify-content center
			&.order-1
				align-items flex-start
				@media(max-width: 767px)
					flex-basis 100%
					text-align center
					align-self center
				h4
					text-align left
					line-height 1
					margin-left 10px
					margin-top 10px
					@media (max-width: 767px)
						flex-basis 100%
						text-align center
						display block
						margin 0
						vertical-align top
						margin-bottom 30px
			&.order-2
				@media (max-width: 767px)
					align-self flex-start
					flex-basis 100%
					text-align center
					align-self center
				h4
					text-align left
					line-height 1
					margin-left 10px
					margin-top 10px
					@media(max-width: 767px)
						flex-basis 100%
						text-align center
						margin 0
						margin-bottom 40px
						vertical-align top
						padding-left 10px
	.container
		background none
		h2
			text-align center
			font-size 50px
			@media (max-width: 375px)
				font-size 30px
				line-height 38px
				margin-bottom 20px
		.block-group
			margin-top 30px
			margin-bottom 50px
			h2
				font-size 60px
				font-weight 700
				text-align left
				margin-right 10px
				@media (max-width: 375px)
					font-size 50px
			h4
				text-align left
				font-size 25px
				font-weight 400
				line-height 25px
				@media (max-width: 375px)
					vertical-align top
					font-size 20px
				span
					display inline-block
					padding-top 17px
				span.second
					padding-top 30px