.section-service
	.col-xs-10
		@media (max-width: 736px)
			margin-bottom 20px
		@media (max-width: 360px)
			width 100%
	.float-right
		@media (max-width: 736px)
			float right
		@media (max-width: 360px)
			float none
	.body-center-icon
		margin-bottom 70px
		margin-top 30px
		text-align center
		@media (max-width: 736px)
			text-align initial
			margin-bottom 30px
			margin-top 0
		div
			display inline-block
			float none
			div
				display block
				float left
	background-color #f4f4f4
	padding-top 90px
	@media (max-width: 768px)
		padding-top 30px
	h2
		margin-top 80px
		font-size 30px
		text-align center
	h1
		font-size 50px
		text-align center
		margin-bottom 50px
		@media (max-width: 560px)
			font-size 40px
	figure
		text-align center
		img
			display inline-block
			height 65px
			margin-bottom 10px
			@media (max-width: 768px)
				height 49px
		figcaption
			text-align center
			font-size 16px
			font-weight 700
			@media (max-width: 768px)
				font-size 14px


.section-service
	.flex-container
		display flex
		flex-flow row wrap
		justify-content flex-start
		figure.flex-item
			flex-basis 25%
			margin-bottom 20px
			@media (max-width: 790px)
				flex-basis 30%
			@media (max-width: 654px)
				flex-basis 50%
			@media (max-width: 480px)
				flex-basis 100%
			figcaption
				padding 10px
				p
					font-size 17px
					font-weight bold



.section-oldservice
	background-color #fff
	h2
		margin-top 80px
		font-size 28px
		text-align center
		@media (max-width: 768px)
			margin-top 40px
			font-size 20px
			margin-bottom 0
		@media (max-width: 360px)
			font-size 16px
	h1
		font-size 50px
		text-align center
		margin-bottom 50px
		@media (max-width: 768px)
			margin-bottom 10px
		@media (max-width: 360px)
			font-size 32px
	@media (max-width: 768px)
		padding-top 0
// OTHER BLOCK
.section-service.abon
	background-color white
	margin-bottom 20px
	padding-top 50px
	background white
	.row
		margin-bottom 30px
		@media (max-width: 768px)
			margin-bottom 0
		.col-md-5
			@media (max-width: 768px)
				margin-bottom 20px
		.col-xs-10
			@media (max-width: 384px)
				width 100%
	h1
		@media (max-width: 375px)
			font-size 32px
		@media (max-width: 360px)
			font-size 29px
	.col-md-5
		@media (max-width: 360px)
			margin-bottom 20px
// OTHER
.section-service.sud.nedv
	.container
		@media (max-width: 414px)
			padding-left 0
			padding-right 0
	h1
		line-height 50px
		@media (max-width: 414px)
			line-height 39px
	.col-xs-10
		@media (max-width: 400px)
			width 100%
.section-service.activ
	background-color white
	padding-top 40px
	h1
		margin-top 0
		@media (max-width: 375px)
			font-size 25px
	.row
		margin-bottom 70px
		.col-md-5
			@media (max-width: 767px)
				margin-bottom 20px
		.col-xs-10
			@media (max-width: 460px)
				width: 100%
// OTHER
.section-service.sud
	text-align center
	.row
		margin-bottom 50px
		@media (max-width: 768px)
			margin-bottom 0
		.col-md-5
			@media (max-width: 768px)
				margin-bottom 30px
	padding-top 40px
	background #f4f4f4
	h1
		margin-top 0
		@media (max-width: 560px)
			font-size 30px
			line-height 1.2
	h4
		taxt-align center
		font-size 17px
		font-weight 400
		@media (max-width: 768px)
			padding 0 15px
.section-service.nedvsec
	margin-bottom 40px
	background-color #fff
	padding-top 0
	h1
		font-size 30px
		font-weight bold
		@media (max-width: 600px)
			font-size 25px
		@media (max-width: 375px)
			font-size 18px
	.col-md-10
		margin-bottom 10px
		text-align center

.jumbotron.section-service.nedvthird
	margin-top 0
	background-color #fff
	text-align center
	.row-centered
		text-align center
		margin-bottom 40px
		@media (max-width: 768px)
			margin-bottom 0
			.col-xs-20
				margin-bottom 20px
	.col-centered
		display inline-block
		float none
		text-align left
		margin-right -4px
		vertical-align top
	h1
		margin-top 0
		font-size 30px
		line-height 30px
		@media (max-width: 600px)
			font-size 25px
.section-service.sud.nedv
	.price-block-nedv
		margin-top 10px
		font-size 20px