.section-footer
	.flex-container
		@extends .flexbox-class
		flex-flow row nowrap
		justify-content space-between
		padding 0
		margin 0
		@media (max-width: 767px)
			justify-content center
			flex-flow row wrap
	.flex-item
		&.order-1
			p
				margin 0
				font-size 17px
		&.order-3.flex-in-flex
			@extends .flexbox-class
			flex-flow row wrap
			a
				color #333
				&:hover
					text-decoration none
				&:active
					text-decoration none
				&:focus
					text-decoration none
			.uderline
				border-bottom 1px solid #ccc
				font-style normal
			p
				font-size 17px
				margin 0
			img
				margin-right 10px