.button-share-social
	display block
	float right
	margin-left 10px
	a
		display block
	&:after
		content '.'
		display block
		height 0
		visibility hidden
		clear both
	.vk-share-button
		display block
		float left
		height 10px
		a
			display block
			background-image url('../images/vk-share.png')
			width: 85px
			height 20px
		span
			display none
	.fb-share-button
		display block
		float left
		margin-left 10px
		a
			background-image url('../images/fb-share.png')
			background-repeat no-repeat
			width 57px
			height 20px