.slider-wrapper
	width 800px
	height 346px
	margin 0 auto
	background-image url('../images/slider-image-bg.png')
	background-repeat no-repeat
	background-size 100% 95%

.btndefault-class
	background-color transparent
	border 1px solid #5980cc
	padding 7px
	padding-right 25px
	padding-left 25px
	border-radius 50px

.infoslider-flex
	@extends .flexbox-class
	flex-flow row wrap
	justify-content center
	.flex-item
		&.order-1
			flex-basis 150px
			flex-shrink 1
		&.order-2
			flex-shrink 2
			flex-basis 60%
		&.order-3.flex-in-flex
			@extends .flexbox-class
			flex-basis 100%
			flex-flow row nowrap
			justify-content center
			border-top 1px solid #ccc
			margin-right 9px
			margin-left 9px
			margin-top 30px
			.flex-inner
				a
					@extends .btndefault-class
				&.order-1
					flex-basis 150px
					flex-shrink 0
					margin-right 10px
				&.order-2
					flex-shrink 1
