.section-solution
	background-color white
	.container
		@media (max-width: 560px)
			padding-left 0
			padding-right 0
	p
		font-size 20px
		line-height 25px
		@media (max-width: 1199px)
			font-size 18px
	h1
		font-weight 700
		line-height 50px
		font-size 50px
		color #000
		@media (max-width: 1199px)
			font-size 45px
			line-height 40px
		@media (max-width: 992px)
			line-height 28px
			font-size 28px
		@media (max-width: 768px)
			line-height 36px
			font-size 37px
		@media (max-width: 360px)
			font-size 33px
			
	h3
		font-size 30px
		color #000
		@media (max-width: 992px)
			font-size 25px
			line-heihgt 25px
		@media (max-width: 768px)
			line-height 30px
// OTHER
.section-solution.abon
	h1
		font-size 45px
		lin-height 45px
		@media (max-width: 768px)
			font-size 37px
// OTHER
.section-solution.activ
	p.margin-bottom
		margin-bottom 40px
		margin-top 40px
		font-weight 300
	ul
		padding-left 20px
		list-style-position outside
		font-weight 300
		li
			margin-bottom 15px
			font-weight 300
			span
				margin-left 10px
				font-weight 300
				display block
				font-weight 300
	h4
		font-size 17px
		line-height 22px
		margin-bottom 10px
		span
			font-weight normal
	p
		font-size 17px
		line-height 22px
.section-solution.sud
	background-color white
	.container>.row:first-child
		h1
			text-align center
			font-family 'PFD'
			font-size 60px
			@media (max-width: 560px)
				font-size 35px
				padding-left 33px
				padding-right 33px
		h4
			text-align center
			margin-bottom 30px
			@media (max-width: 767px)
				font-size 17px
				padding 0 80px
	.block-sud
		h4
			font-size 18px
			margin-bottom 10px
		p
			font-size 16px
			font-weight 300
.section-solutionnew.sud
	background-color #f4f4f4
	margin-bottom 0
	.container
		@media (max-width: 767px)
			padding-left 0
			padding-right 0
	h2
		font-size 35px
		font-weight 700
		line-height 40px
		font-family 'PFD'
		@media (max-width: 560px)
			font-size 20px
			line-height 29px
	
.section-solutionnew.nedv
	background-color #fff
	.container
		@media (max-width: 375px)
			padding-left 0
			padding-right 0
	h1
		margin-top 0
		font-size 60px
		font-weight bold
		margin-bottom 10px
		@media (max-width: 375px)
			font-size 40px
	h3
		font-size 40px
	h2
		@media (max-width: 375px)
			font-size 16px
	p
		font-size 17px
		font-weight 400
		margin-top 30px