.section-blockmaps
	background-color #fff
	.flex-container
			@extends .flexbox-class
			justify-content space-between
			align-items flex-start
			flex-flow row wrap
			padding 0
			.flex-item
				&.order-1
					order 2
					flex-basis 100%
					.mz-maps__img
						width 40%
						float left
						margin-right 5%
						margin-left 5%
						@media (max-width: 768px)
							width 80%
							float none
							text-align center
							margin 20px auto
							img
								display inline-block
				&.order-2
					order 1
					flex-basis 100%
					padding 0 30px
					@media (max-width: 768px)
						padding 0 0
					h2
						font-size 57px
						line-height 1
						margin-top 0
						text-align center
						margin-bottom 0
						@media (max-width: 768px)
							font-size 50px
					h3
						text-align center
						margin-bottom 50px
						@media (max-width: 768px)
							font-size 18px
