.section-startup
	.flex-container
		@extends .flexbox-class
		flex-flow row wrap
		justify-content space-around
		@media (max-width: 768px)
			flex-flow row wrap
		.flex-item
			flex-basis 45%
			@media (max-width: 768px)
				flex-basis 100%
			p
				font-size 17px
			h4
				font-size 24px
				margin-bottom 0
			.btn.btn-primary
				background-color #264fa0
				color white
				padding 5px 50px
				border-radius 50px

