@import 'addons/_variables.styl';

.section-table
	background-image url('../images/table-sect-bg.png')
	background-repeat no-repeat
	background-size cover
	text-align center
	.row:last-child
		a
			font-size 20px
			color white
			font-family 'AgoraSans'
			display block
			margin-top 50px
			text-decoration underline
		button
			display inline-block
			margin-top 20px
			background-color present-button-background
			border none
			border-radius 50px
			color white
			font-size 18px
			padding-right 40px
			padding-left 40px
			margin-bottom 80px
	h3
		margin-top 20px
		margin-bottom 90px
		color white
	.table
		font-size 16px
		table-layout fixed
		background-color white
		border-radius 8px
		overflow hidden
		@media (max-width: 768px)
			width 700px
			margin 0 auto
		thead
			border-radius 8px
			background-color #f0f1f3
			tr
				th
					border none
					padding 30px
					vertical-align middle
					text-align center
					img
						display inline-block
		tbody
			border-bottom none
			tr
				td:first-child, td:last-child
					font-weight 700
				&:nth-child(even)
					background-color #fbfbfb
				td
					padding 13px
					border 1px solid #e6e6e6
					border-bottom none
					border-top none
					img
						float left
						margin-right 10px
					.text-disc
						font-size 15px
						text-align left
						margin-top 0
						font-weight bold
						@media (max-width: 768px)
							font-size 13px
				&
					td:first-child
						text-align right
				&:last-child
					td
						border-bottom none
		tfoot
			tr
				border none
				td
					padding 25px
					border none
					button.btn-primary
						background-color #264fa0
						padding-right 60px
						padding-left 60px
						border-radius 50px
						font-size 16px
						margin-bottom 0
						@media (max-width: 768px)
							padding-right 40px
							padding-left 40px
			border-radius 8px
			background-color #fbfbfb
.section-table.abon
	padding-bottom 50px
	h1
		font-size 63px
		color white
		margin-bottom 0
	h3
		margin-top 20px
		margin-bottom 30px