.section-forthink
	.flex-container
		@extends .flexbox-class
		justify-content space-between
		align-items flex-start
		@media (max-width: 768px)
			justify-content center
		.flex-item
			&.order-1
				flex-basis 40%
				order 1
				@media (max-width: 768px)
					flex-basis 90%
			&.order-2
				flex-basis 80%
				order 2
				align-self center
				@media (max-width 768px)
					flex-basis 90%
				p
					font-size 17px
.section-iconstrend
	text-align center
	background-color #fff
	h3.centered
		font-size 34px
		margin 0
		line-height 1
		@media (max-width: 666px)
			font-size 24px
	h1.centered
		font-size 63px
		margin 0
		margin-bottom 30px
		@media (max-width: 666px)
			font-size 40px
	.flex-container
		@extends .flexbox-class
		flex-flox row nowrap
		justify-content space-between
		align-items flex-start
		@media (max-width: 768px)
			flex-flow row wrap
		@media (max-width: 666px)
			justify-content center
		.flex-item
			flex-basis 20%
			@media (max-width: 768px)
				flex-basis 40%
				margin-bottom 20px
			@media (max-width: 666px)
				flex-basis 80%
			h3
				font-size 17px
				font-weight bold
.section-tenderpresent
	.flex-container
		@extends .flexbox-class
		justify-content center
		align-items flex-start
		.flex-item
			&.order-1
				flex-basis 25%
				@media (max-width: 666px)
					display none
			&.order-2
				flex-basis 70%
				@media (max-width: 666px)
					flex-basis 90%
				p
					font-size 20px
					line-height 1.2
					padding-bottom 20px
				ul
					margin 0
					padding 0
					margin-left 15px
					li
						margin-bottom 12px
						font-weight lighter

.section-tablemanin
	background-color #f4f4f4
	.flex-container
		@extends .flexbox-class
		justify-content space-between
		align-items flex-start
		.flex-item
			&.order-1
				flex-basis 60%
				align-self center
				@media (max-width: 666px)
					flex-basis 90%
				p
					font-size 18px
				.button-function
					.btn.btn-primary
						background-color #264fa0
						padding 8px
						padding-right 30px
						padding-left 30px
						border-radius 50px

			&.order-2
				flex-basis 40%
