.section-trust
	background-image url('../images/group-slider-bg.png')
	background-size cover
	background-repeat no-repeat
	color white
	h1
		font-size 50px
		text-align center
		
		@media (max-width: 768px)
			font-size 40px
			margin-top 65px
	.item-block-trust
		margin-bottom 80px
		background-color white
		color #000
		border-radius 8px
		.item-trust-header
			padding 20px 45px
			border-bottom 1px solid #e6e6e6
			@media (max-width: 768px)
				padding 20px 20px
			.item-trust-button
				text-align center
				padding-top 10px
			h3
				font-size 20px
				font-weight 400
				margin-top 0
				margin-bottom 0
				@media (max-width: 768px)
					font-size 18px
			button
				display inline-block
				font-size 16px
				background-color transparent
				border-color #5980cc
				border-radius 50px
				padding-left 30px
				padding-right 30px
	.item-trust-body
		padding 20px
		.item-body-block
			.blocks-trust
				text-align center
				@media (max-width: 768px)
					margin-bottom 20px
				figure
					display inline-block
					img
						margin-bottom 20px
					h1
						font-size 28px
						margin 0
						font-weight 700
					h3
						font-weight 700
						font-size 14px
						margin 0
					h4
						margin-top 10px