.section-wecare
	background-color #f4f4f4
	margin 0
	.flex-container
		@extends .flexbox-class
		justify-content space-between
		align-items flex-start
		@media (max-width: 768px)
			justify-content center
		.flex-item.order-2
			padding 30px
			flex-basis 600px
			@media (max-width: 768px)
				margin-top 40px
			h1
				margin 0
			h3
				margin-top 0
				font-size 35px
			ul
				margin 15px
				padding 0
				li
					margin-bottom 15px
					font-size 17px
					font-weight lighter
			.flex-in-flex
				@extends .flexbox-class
				justify-content flex-start
				align-items flex-start
				flex-flow row nowrap
				@media (max-width: 500px)
					flex-flow row wrap
					justify-content space-around
				.flex-inner
					h2
						font-size 58px
						margin 0
						float left
						margin-right 20px
						padding 0
					p
						font-size 27px
						padding 10px
						margin 0
						line-height 25px
					&.order-1
					&.order-2
						flex-basis 50%
						@media (max-width: 620px)
							flex-basis 90%
						@media (max-width: 380px)
							flex-basis 100%
						h2
							@media (max-width: 380px)
								font-size 50px
