.section-yourquest
	background-color #fff
	@media (max-width: 616px)
		padding-bottom 0
	h1
		font-weight 400
		font-size 50px
		line-height 50px
		text-align center
		font-weight 700
		@media (max-width: 767px)
			font-size 40px
			line-height 40px
		@media (max-width: 566px)
			font-size 34px
			line-height 38px
		@media (max-width: 416px)
			font-size 25px
			line-height 29px
	h3
		font-weight 400
		text-align center
		font-size 33px
		@media (max-width: 767px)
			font-size 30px
			margin-top 20px
			margin-bottom 20px
		@media (max-width: 566px)
			font-size 23px
		@media (max-width: 416px)
			font-size 20px
	.block-quest.first
		@media (max-width: 992px)
			padding-left 0
	.block-quest
		p
			font-size 15px
		h1
			text-align left
		h3
			font-weight 700
			text-align left
			font-size 22px
			line-height 23px
			margin-bottom 5px
			margin-top 15px
	.block-relative-image
		position relative
		&:after
			content ""
			width 361px
			height 93px
			position absolute
			top 158px
			left -307px
			display block
			color #000
			font-size 14px
			background-image url('../images/arrow-yellow.png')
			background-repeat no-repeat
			@media (max-width: 1199px)
				top 180px
			@media (max-width: 768px)
				display none
	.last-block-responsive
		margin-bottom 200px
		@media (max-width: 768px)
			margin-bottom 0
.section-yourquest.nalog
	@media (max-width: 768px)
		padding-bottom 40px
.section-yourquest.abon
	background #f4f4f4
	h1
		margin-top 70px
		@media (max-width: 768px)
			margin-top 40px
			font-size 35px
			line-height 40px
		@media (max-width: 375px)
			font-size 31px
	.last-block-responsive
		.block-quest
			@media (max-width: 560px)
				padding-left 0
				padding-right 0
		@media (max-width: 768px)
			margin-bottom 40px
section.section-yourquest.nedv
	background-color #f4f4f4
	@media (max-width: 768px)
		padding-bottom 40px
	.text-center-in-block
		text-align center
		button.btn.btn-primary
			display inline-block
			background-color #264fa0
			color #fff
			padding 8px
			padding-left 20px
			padding-right 20px
			border-radius 50px
			font-size 17px
	ul
		li
			margin-bottom 20px
			font-size 17px
			font-weight 300
	h4
		text-align center
		margin-top 40px
		@media (max-width: 375px)
			font-size 18px
	h1
		@media (max-width: 375px)
			font-size 18px