@import 'addons/_variables.styl';
@import 'addons/_mixins.styl';
@import 'addons/_fonts.styl';


@import '_header.styl';
@import '_navbar.styl';
@import '_need.styl';
@import '_solution.styl';
@import '_sectgroup.styl';
@import '_yourquest.styl';
@import '_service.styl';
@import '_table.styl';
@import '_anybody.styl';
@import '_corslider.styl';
@import '_trusty.styl';
@import '_buss.styl';
@import '_footer.styl';
@import '_newservice.styl';
@import '_howpay.styl';
@import '_lawyer.styl';
@import '_navbar-fixed.styl';
@import '_modal.styl';
@import '_map.styl';
@import '_bighouse.styl';
@import '_formgroup.styl';
@import '_booklist.styl';
@import '_objectned.styl';
@import '_responstable.styl';
@import '_aboutflex.styl';
@import '_commentslider.styl';
@import '_flexcommend.styl';
@import '_newsec.styl';
@import '_flexmap.styl';
@import '_contact.styl';
@import '_newspage.styl';
@import '_slideinfo.styl';
@import '_clientsBlock.styl';
@import '_blocknew.styl';
@import '_startup.styl';
@import '_blockslide.styl';
@import '_blockcenter.styl';
@import '_wecare.styl';
@import '_tender.styl';
@import '_nalog.styl';
@import '_buhgalt.styl';
@import '_sfooter.styl';
@import '_sharebutton.styl';
@import '_documents.styl';
@import '_centeredphone.styl';
@import '_fix.styl';
@import '_indexslider.styl';
@import '_spec.styl';

*
	text-rendering optimizeLegibility
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	&:active
		outline none
	&:focus
		outline none

html
	overflow-x hidden

body
	font-family 'AgoraSans'
	font-style normal
	font-weight 400
	font-size 16px
	color #000
	background-color #fff


.rouble-course-font
	font-family 'RUBL'
	font-style normal
	
.jumbotron
	margin-bottom 0
	margin-top 0

.modal-backdrop
	background-color #122b5d
	opacity .9 !important

button.btn
	font-size 17px !important

@media (max-width: 767px)
	h1
	h2
	h3
	h4
	h5
	p
		br
			display none

.footer-melt-end
	margin 0
	padding 0