footer.jumbotron.section-footer-first
			.container
				.row
					aside.contact-logo.col-lg-2.col-md-3.col-sm-4.col-xs-4
						a(href="index.html")
							img(src="images/header-logo.png", alt="Мельцер")
					aside.contact-social.col-lg-2.col-md-2.hidden-sm.hidden-xs
						a.icon-facebook(href="https://www.facebook.com/meltzergroup" target="_blank")
						a.icon-googleplus(href="https://plus.google.com/u/0/102944153072348100139" target="_blank")
					aside.contact-int.col-lg-4.col-md-5.col-sm-6.col-xs-8
						adress
							a(href="tel:+74951210728") +7(495) 121-07-28
							br
							a.underline(href="mailto: info@meltzerfirm.com").
								info@meltzerfirm.com
					aside.contact-city.col-lg-4.col-md-7.col-sm-6.col-xs-8.hidden-xs
						adress
							a г. Москва
							br
							a ул. Земляной вал, д. 9
					aside.contact-days.col-lg-4.col-md-5.hidden-sm.hidden-md.hidden-xs
						a Пн-Чт / 09:00 - 20:00
						<br />
						a Пт-Сб / 13:00 - 17:00
					aside.contact-button.col-lg-4.col-md-3.col-sm-4.col-xs-8
						button.btn.btn-default.modal-contact-button-open(role="button").
							Заказать звонок