header.meltzer-header.hidden-xs
			div.container
				.row
					aside.contact-logo.visible-sm.col-sm-3.visible-xs.col-xs-4
						a(href="index.html")
							img(src="images/header-logo.png", alt="Мельцер")
					aside.contact-int.col-lg-4.col-md-4.col-sm-6.col-xs-8
						adress
							a(href="tel:+74951210728") +7(495) 121-07-28
							br
							a.underline(href="mailto: info@meltzerfirm.com").
								info@meltzerfirm.com
					aside.contact-city.col-lg-4.col-md-5.col-sm-6.col-xs-8
						adress
							a г. Москва
							br
							a ул. Земляной вал, д. 9
					div.contact-logo.col-lg-4.col-md-3.hidden-sm.hidden-xs
						a(href="index.html")
							img(src="images/melt-logo.jpg", alt="Мельцер")
					aside.contact-days.col-lg-4.col-md-5.hidden-sm.hidden-xs
						a Пн-Чт / 09:00 - 20:00
						<br />
						a Пт-Сб / 13:00 - 17:00
					aside.contact-button.col-lg-4.col-md-3.col-sm-5.hidden-xs
						button.btn.btn-default.modal-contact-button-open(role="button").
							Заказать звонок