.modal.fade#contactModal(tabindex="-1", role="dialog")
			.modal-dialog(role="document")
				.modal-content.contact
					.modal-header
						button.close(type="button", data-dismiss="modal")
							span.close-btn
						h2.modal-title.
							Оставьте заявку
					.modal-body
						.row.center-div
								form#formodalValidate(action="php/form-submit.php" method="post")
									.form-group
										input.form-control#idNameContact(type="text",
												placeholder="Ваше имя",
												name="name",
												autofocus)
									.form-group
										input.form-control#idPhoneContact(type="phone",
												name="phone",
												placeholder="Телефон")
									.form-group
										textarea.form-control(placeholder="Текст комментария",
												name="text")

									.form-group.button-center
										button.btn.btn-primary.
											Отправить
