nav.navbar.navbar-default
			div.container
				header.navbar-header
					button.navbar-toggle.collapsed(role="button" data-target="#id-main-collapse" data-toggle="collapse" aria-expanded="false")
						span.icon-bar
						span.icon-bar
						span.icon-bar
				section.navbar-collapse.collapse#id-main-collapse
					ul.nav.navbar-nav
						li.dropdown.hover-navbar-link
							a.dropdown-toggle(href="#" data-toggle="dropdown-menu" role="button" aria-haspopup="true" aria-expanded="false").
								 Услуги
							ul.dropdown-menu
								li
									a(href="abon.html") Абонентское юридическое обслуживание
								li
									a(href="sud.html") Представление интересов в суде
								li
									a(href="activ.html") Поиск и возврат активов
								li
									a(href="nedv.html") Сопровождение сделок с недвижимостью
								li
									a(href="tender.html") Сопровождение участия в тендерах
								li
									a(href="nalog.html") Налоговое планирование
								li
									a(href="buhgalt.html") Бухгалтерское обслуживание
						li
							a(href="comments.html") Отзывы
						li.dropdown.hover-navbar-link
							a.dropdown-toggle(data-toggle="droppster" aria-haspopup="true" aria-expanded="false").
								О компании
							ul.dropdown-menu.droppster
								li
									a(href="about.html") История <span>M</span>eltzer <span>G</span>roup
								li
									a(href="map.html") Наши партнеры
								li
									a(href="client.html") Наши клиенты
						li
							a(href="newspage.html") Блог
						li
							a(href="spec.html") Специальные предложения
						li
							a(href="contact.html") Контакты