footer.jumbotron.section-footer
		.container
			.flex-container
				.flex-item.order-1
					p.
						ООО «Мельцер Групп»
					span.
						&copy; 
					script.
						document.write(new Date().getFullYear());
					span.
						 Все права защищены
				.flex-item.order-2.hidden-sm.hidden-xs
					span.
						Расскажите всем:
						<span class="button-share-social">
							<div class="vk-share-button">
								<!-- Put this script tag to the place, where the Share button will be -->
								<!-- Put this script tag to the place, where the Share button will be -->
								<script type="text/javascript"><!--
									document.write(VK.Share.button(false,{type: "link_noicon", text: ""}));
									--></script>
							</div>
							<div class="fb-share-button" data-href="http://metlzer.kdm1.ru" data-layout="button" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fmetlzer.kdm1.ru%2F&amp;src=sdkpreparse"></a></div>
						</span>
				.flex-item.order-3.flex-in-flex
					.flex-inner.order-1
						a(href="http://kdm1.ru" target="_blank")
							img.img-responsive(src="images/minilogo.png", alt="Лого")
					.flex-inner.order-2
						p.
							Сайт разработан в агентстве
						a(href="http://kdm1.ru" target="_blank").
							«<i class="uderline">Клиника доброго маркетолога</i>»
