-
	var sudSlide = [
		{
			id: 1,
			title: 'Выигранные дела группы компаний КС-погрузчик',
			image: 'images/indexslider/2.jpg',
			status: 'active',
			docs: [
				{
					id: 1,
					orderBy: 'order-1',
					link: 'pdf/progr/1.pdf',
					title: 'Решение и постановление 23.05.2014',
				},
				{
					id: 2,
					orderBy: 'order-1',
					link: 'pdf/progr/2.pdf',
					title: 'Решение и постановление 23.06.2014',
				},
				{
					id: 3,
					orderBy: 'order-1',
					link: 'pdf/progr/3.pdf',
					title: 'Решение и постановление 07.07.2014',
				},
				{
					id: 4,
					orderBy: 'order-1',
					link: 'pdf/progr/4.pdf',
					title: 'Постановление апелляционной инстанции 03.10.2014 ',
				},
				{
					id: 5,
					orderBy: 'order-1',
					link: 'pdf/progr/5.pdf',
					title: 'Решение и постановление 19.12.2014',
				},
				{
					id: 6,
					orderBy: 'order-1',
					link: 'pdf/progr/6.pdf',
					title: ' Определение 09.10.2014',
				},
				{
					id: 7,
					orderBy: 'order-1',
					link: 'pdf/progr/7.pdf',
					title: 'Решение и постановление 21.07.2015',
				},
				{
					id: 8,
					orderBy: 'order-1',
					link: 'pdf/progr/8.pdf',
					title: ' Взыскание задолженности ',
				},
				{
					id: 9,
					orderBy: 'order-1',
					link: 'pdf/progr/9.pdf',
					title: ' Апелляция',
				}
			],
		},
		{
			id: 2,
			title: 'Выигранные дела группы компаний ЗАО ВЕСТ',
			image: 'images/indexslider/3.jpg',
			status: '',
			docs: [
				{
					id: 1,
					orderBy: 'order-1',
					link: 'pdf/west/1.pdf',
					title: 'Постановление 15.02.2008',
				},
				{
					id: 2,
					orderBy: 'order-1',
					link: 'pdf/west/2.pdf',
					title: 'Постановление 17.07.2008',
				},
				{
					id: 3,
					orderBy: 'order-1',
					link: 'pdf/west/3.pdf',
					title: 'Определение 17.04.2009',
				}
			],
		},
		{
			id: 3,
			title: 'ОАО корпорация тактическое военное вооружение дело по «Государственное машиностроительное конструкторское бюро «Вымпел» им. И.И. Торопова»',
			image: 'images/indexslider/10.jpg',
			status: '',
			docs: [
				{
					id: 1,
					orderBy: 'order-1',
					link: 'pdf/corp/1.pdf',
					title: 'Краткая информация по судебному делу',
				},
				{
					id: 2,
					orderBy: 'order-1',
					link: 'pdf/corp/2.pdf',
					title: 'Постановление 15.03.2011 ',
				},
				{
					id: 3,
					orderBy: 'order-1',
					link: 'pdf/corp/3.pdf',
					title: 'Постановление 14.06.2011',
				}
			],
		},
		{
			id: 4,
			title: 'ОАО корпорация тактическое военное вооружение дело по ОАО «Государственное машиностроительное конструкторское бюро «Радуга» имени А.Я. Березняка»',
			image: 'images/indexslider/5.jpg',
			status: '',
			docs: [
				{
					id: 1,
					orderBy: 'order-1',
					link: 'pdf/rad/1.pdf',
					title: ' Краткая информация по судебному делу ',
				},
				{
					id: 2,
					orderBy: 'order-1',
					link: 'pdf/rad/2.pdf',
					title: 'Решение 13.09.2011',
				},
				{
					id: 3,
					orderBy: 'order-1',
					link: 'pdf/rad/3.pdf',
					title: 'Постановление 20.01.2012',
				},
				{
					id: 4,
					orderBy: 'order-1',
					link: 'pdf/rad/4.pdf',
					title: 'Постановление 04.06.2012 ',
				},
				{
					id: 5,
					orderBy: 'order-1',
					link: 'pdf/rad/5.pdf',
					title: 'Постановление 06.02.2013',
				},
				{
					id: 6,
					orderBy: 'order-1',
					link: 'pdf/rad/6.pdf',
					title: 'Определение 13.08.2013 ',
				}
			],
		}
	];




-
	var indexSliderJade = [

		{
			id: 1,
			image: 'images/indexslider/11.jpg',
			title: 'Департамент имущества города Москвы',
			handshake: '24',
			hummer: '1',
			cash: '1 500 000',
			status: 'active'
		},
		{
			id: 2,
			image: 'images/indexslider/1.jpg',
			title: 'ФГБУ ЛОЦ “ЕЛОЧКИ”',
			handshake: '11',
			hummer: '4',
			cash: '550 000',
			status: ''
		},
		{
			id: 3,
			image: 'images/indexslider/2.jpg',
			title: 'Группа компаний КС-Погрузчик',
			handshake: '35',
			hummer: '21',
			cash: '17 000 000',
			status: ''
		},
		{
			id: 4,
			image: 'images/indexslider/3.jpg',
			title: '«ЗАО ВЕСТ»',
			handshake: '72',
			hummer: '18',
			cash: '975 000 000',
			status: ''
		},
		{
			id: 5,
			image: 'images/indexslider/4.jpg',
			title: 'Межгосударственная корпорация развития',
			handshake: '7',
			hummer: '26',
			cash: '72 000 000',
			status: ''
		},
		{
			id: 6,
			image: 'images/indexslider/7.jpg',
			title: 'Аvakian',
			handshake: '2',
			hummer: '0',
			cash: '1 200 000',
			status: ''
		},
	];




-
	var firstFromSix = [
		{
			id: 1,
			idName: 'TO5',
			name: 'square',
			label: 'До 5 площадок'
		},
		{
			id: 2,
			idName: 'TO15',
			name: 'square',
			label: 'До 15',
		},
		{
			id: 3,
			idName: 'FROM15',
			name: 'square',
			label: 'Свыше 15',
		},
	];

-
	var secondFromSix  = [
		{
			id: 1,
			idName: 'mouth2',
			name: 'tender',
			label: '2 раза в месяц'
		},
		{
			id: 2,
			idName: 'mouth4',
			name: 'tender',
			label: '4 раза в месяц',
		},
		{
			id: 3,
			idName: 'from4',
			name: 'tender',
			label: 'Свыше 4 запросов в месяц'
		}
	];

-
	var thirdFromSix = [
		{
			id: 1,
			idName: 'from22',
			name: 'query',
			label: '2 запроса в месяц',
		},
		{
			id: 2,
			idName: 'from44',
			name: 'query',
			label: 'Свыше 4 запросов в месяц',
		},
		{
			id: 3,
			idName: 'from444',
			name: 'query',
			label: 'Свыше 4 запросов в месяц'
		}
	];

-
	var FourthFromSix = [
		{
			id: 1,
			idName: 'to22',
			name: 'does',
			label: '2 заявки в месяц',
		},
		{
			id: 2,
			idName: 'to33',
			name: 'does',
			label: '4 заявки в месяц',
		},
		{
			id: 3,
			idName: 'to44',
			name: 'does',
			label: 'Свыше 4 заявок в месяц'
		}
	];

-
	var FiveFromSix = [
		{
			id: 1,
			idName: 'to55',
			name: 'contr',
			label: '2 конракта в месяц',
		},
		{
			id: 2,
			idName: 'to66',
			name: 'contr',
			label: '4 контракта в месяц',
		},
		{
			id: 3,
			idName: 'to77',
			name: 'contr',
			label: 'Свыше 4 контрактов в мясяц'
		}
	];

-
	var SixFromSix = [
		{
			id: 1,
			idName: 'to88',
			name: 'client',
			label: '2 раза в месяц',
		},
		{
			id: 2,
			idName: 'to99',
			name: 'client',
			label: '4 раза в месяц',
		},
		{
			id: 3,
			idName: 'client',
			name: 'client',
			label: 'Свыше 4 раз в месяц'
		}
	];

-
	var orderingInfoSixth = [
		{
			id: 1,
			idName: 'TO500',
			name: 'mon',
			label: 'до 500 000 <i class="rouble-course-font">у</i>'
		},
		{
			id: 2,
			idName: 'TO100000',
			name: 'mon',
			label: 'до 1 000 000 <i class="rouble-course-font">у</i>'
		},
		{
			id: 3,
			idName: 'TO1000',
			name: 'mon',
			label: 'до 10 000 000 <i class="rouble-course-font">у</i>'
		},
		{
			id: 4,
			idName: 'FROM1000',
			name: 'mon',
			label: 'от 10 000 000 <i class="rouble-course-font">у</i>'
		}
	];

-
	var orderingInfoFiveth = [
		{
			id: 1,
			idName: 'SERV',
			name: 'busin',
			label: 'Услуги'
		},
		{
			id: 2,
			idName: 'SELL',
			name: 'busin',
			label: 'Торговля'
		},
		{
			id: 3,
			idName: 'BUY',
			name: 'busin',
			label: 'Производство',
		}
	];


-
	var orderingInfoFourth = [
		{
			id: 1,
			idName: 'TO5',
			name: 'emp',
			label: 'До 5'
		},
		{
			id: 2,
			idName: 'TO15',
			name: 'emp',
			label: 'До 15'
		},
		{
			id: 3,
			idName: 'TO25',
			name: 'emp',
			label: 'До 25'
		},
		{
			id: 4,
			idName: 'FROM25',
			name: 'emp',
			label: 'От 25'
		}
	];


-
	var orderingInfoThird = [
		{
			id: 1,
			idName: 'TO10',
			name: 'operation',
			label: 'До 10'
		},
		{
			id: 2,
			idName: 'TO50',
			name: 'operation',
			label: 'До 50'
		},
		{
			id: 3,
			idName: 'TO100',
			name: 'operation',
			label: 'До 100'
		},
		{
			id: 4,
			idName: 'FROM100',
			name: 'operation',
			label: 'От 100'
		}
	];

-
	var orderingInfoSecond = [
		{
			id: 1,
			idName: 'USN6',
			name: 'system',
			label: 'УСН 6%'
		},
		{
			id: 2,
			idName: 'USM15',
			name: 'system',
			label: 'УСН 15%',
		},
		{
			id:3,
			idName: 'NAL',
			name: 'system',
			label: '<div style="float:right">Общая система<br>налогообложения</div>'
		},
		{
			id: 4,
			idName: 'PAT',
			name: 'system',
			label: 'Патент',
		}
	];



-
	var orderingInfoFirst = [
		{
			id: 1,
			idName: 'IP-radio',
			name: 'reg',
			label: 'ИП'
		},
		{
			id: 2,
			idName: 'OOO-radio',
			name: 'reg',
			label: 'ООО'
		},
		{
			id: 3,
			idName: 'PAOAO-radio',
			name: 'reg',
			label: 'ПАО/АО'
		},
		{
			id: 4,
			idName: 'INTUL-radio',
			name: 'reg',
			label: 'Иностранное ЮЛ'
		}
	];







-
	var infoNalogInfo = [
		{
			id: 1,
			text: 'Испробованные ранее способы оптимизации расходов не&nbsp;смогли решить проблему',
			image: 'images/icon-calc.png',
		},
		{
			id: 2,
			text: 'Регулярные налоговые проверки сильно бьют по&nbsp;бюджету',
			image: 'images/c-tablet.png'
		},
		{
			id: 3,
			text: 'Компания находится на&nbsp;грани банкротства и&nbsp;не&nbsp;может решить проблему самостоятельно',
			image: 'images/icon-museum.png'
		},
		{
			id: 4,
			text: 'Клиент не&nbsp;знает всех нюансов налоговой политики и&nbsp;бухгалтерского дела',
			image: 'images/icon-user.png'
		},
		{
			id: 5,
			text: 'Постоянные штрафы сильно бьют по&nbsp;бюджету',
			image: 'images/c-pig.png'
		},
		{
			id: 6,
			text: 'Практически весь бюджет компании приходится на&nbsp;налоги',
			image: 'images/icon-graph.png',
		},
		{
			id: 7,
			text: 'Необходимо провести профессиональный финансовый и&nbsp;юридический аудит компании',
			image: 'images/c-mantable.png'
		},
		{
			id: 8,
			text: 'Компания вынуждена использовать нелегальные схемы, чтобы остаться конкурентоспособной',
			image: 'images/c-chain.png'
		}
	];



-
	var sliderInfoSpec = [
		{
			id: 1,
			title: 'Месяц обслуживания в подарок',
			text: 'Мы&nbsp;разыгрываем месяц бесплатного юридического обслуживания.Просто предъявите этот купон и&nbsp;следите за&nbsp;результатами. Может быть именно вам повезет: наш менеджер вскоре позвонит с&nbsp;хорошими новостями.',
			image: 'images/sliderinfo/gift.png',
			imageName: 'Подарок',
			button: 'Скачать купон',
			notation: 'Количество купонов ограничено. Акция длится до 31 декабря.'
		}
	];

-
	var startupInfo = [
		{
			id: 1,
			title: 'Стартап',
			text: 'Недавно зарегистрировали компанию? Или хотите, чтобы за&nbsp;вас это сделали&nbsp;мы? С&nbsp;этим лучше справится команда. Чтобы не&nbsp;переплачивать на&nbsp;старте, первые три месяца юридическое + бухгалтерское обслуживание будут стоить для вас 25&nbsp;000&nbsp;Р в&nbsp;месяц.',
		},
		{
			id: 2,
			title: 'Работа на три фронта',
			text: 'Мы&nbsp;предоставим вам 30&nbsp;% скидку при заключении соглашения на&nbsp;юридическое + бухгалтерское + тендерное обслуживание на&nbsp;срок от&nbsp;6&nbsp;месяцев.',
		},
		{
			id: 3,
			title: 'Группа компаний',
			text: 'Передать нам несколько бизнесов – выгодно. Обслуживание каждой следующей компании будет обходится вам дешевле на 20%.'
		},
		{
			id: 4,
			title: 'Набор индивидуальных услуг',
			text: 'Если вам не&nbsp;подходят готовые тарифные планы, мы&nbsp;всегда готовы за&nbsp;чашкой чая у&nbsp;нас в&nbsp;гостях обсудить интересующий вас набор услуг.',
		}
	];


-
	var iconsInfo = [
		{
			id: 1,
			icon: 'images/a-people.png',
			text: 'Подробную юридическую консультацию об участии в&nbsp;тендере или&nbsp;аукционе с&nbsp;детальной расшифровкой правил и&nbsp;юридических нюансов',
		},
		{
			id: 2,
			icon: 'images/icon-pageplus.png',
			text: 'Экспертиза тендерной и&nbsp;аукционной документации',
		},
		{
			id: 3,
			icon: 'images/c-mantable.png',
			text: 'Помощь в&nbsp;составлении заявки на&nbsp;участие',
		},
		{
			id: 4,
			icon: 'images/a-stand.png',
			text: 'Сопровождение участия в&nbsp;тендере и&nbsp;аукционе на&nbsp;протяжение всей&nbsp;процедуры',
		}
	];

-
	var clientInfoPageAfter = [
		{
			id: 1,
			title: 'AVAKIAN',
			image: 'images/clients/5.png',
			userInfo: [
				{
					icon: 'images/clients/handshake.png',
					solution: '2',
					text: 'Успешно</br> совершенные сделки'
				},
				{
					icon: 'images/clients/hummer.png',
					solution: '0',
					text: 'Выиграно дел в суде',
				},
				{
					icon: 'images/clients/cash.png',
					solution: '1&nbsp;200&nbsp;000',
					text: 'Сэкономлено свыше',
				}
			]
		},
		{
			id: 2,
			title: 'Студия красоты Дарьи Гросс',
			image: 'images/clients/6.png',
			userInfo: [
				{
					icon: 'images/clients/handshake.png',
					solution: '6',
					text: 'Успешно</br> совершенные сделки'
				},
				{
					icon: 'images/clients/hummer.png',
					solution: '0',
					text: 'Выиграно дел в суде',
				},
				{
					icon: 'images/clients/cash.png',
					solution: '127&nbsp;000',
					text: 'Сэкономлено свыше',
				}
			]
		},
		{
			id: 3,
			title: 'HILL International',
			image: 'images/clients/7.png',
			userInfo: [
				{
					icon: 'images/clients/handshake.png',
					solution: '9',
					text: 'Успешно</br> совершенные сделки'
				},
				{
					icon: 'images/clients/hummer.png',
					solution: '2',
					text: 'Выиграно дел в суде',
				},
				{
					icon: 'images/clients/cash.png',
					solution: '482&nbsp;000',
					text: 'Сэкономлено свыше',
				}
			]
		},
		{
			id: 4,
			title: 'ООО «Высокие технологии в промышленности»',
			image: 'images/clients/8.png',
			userInfo: [
				{
					icon: 'images/clients/handshake.png',
					solution: '1',
					text: 'Успешно</br> совершенные сделки'
				},
				{
					icon: 'images/clients/hummer.png',
					solution: '1',
					text: 'Выиграно дел в суде',
				},
				{
					icon: 'images/clients/cash.png',
					solution: '671&nbsp;000',
					text: 'Сэкономлено свыше',
				}
			]
		},
		{
			id: 5,
			title: 'Департамент городского имущества города Москвы',
			image: 'images/clients/9.png',
			userInfo: [
				{
					icon: 'images/clients/handshake.png',
					solution: '24',
					text: 'Успешно</br> совершенные сделки'
				},
				{
					icon: 'images/clients/hummer.png',
					solution: '1',
					text: 'Выиграно дел в суде',
				},
				{
					icon: 'images/clients/cash.png',
					solution: '1&nbsp;500&nbsp;000',
					text: 'Сэкономлено свыше',
				}
			]
		},
		{
			id: 6,
			title: 'Департамент образования города Москвы',
			image: 'images/clients/10.png',
			userInfo: [
				{
					icon: 'images/clients/handshake.png',
					solution: '0',
					text: 'Успешно</br> совершенные сделки'
				},
				{
					icon: 'images/clients/hummer.png',
					solution: '11',
					text: 'Выиграно дел в суде',
				},
				{
					icon: 'images/clients/cash.png',
					solution: '58&nbsp;000&nbsp;000',
					text: 'Сэкономлено свыше',
				}
			]
		},
		{
			id: 7,
			title: 'Целевой маркетинг',
			image: 'images/clients/10.png',
			userInfo: [
				{
					icon: 'images/clients/handshake.png',
					solution: '3',
					text: 'Успешно</br> совершенные сделки'
				},
				{
					icon: 'images/clients/hummer.png',
					solution: '0',
					text: 'Выиграно дел в суде',
				},
				{
					icon: 'images/clients/cash.png',
					solution: '315&nbsp;000',
					text: 'Сэкономлено свыше',
				}
			]
		},
		{
			id: 8,
			title: 'Eleonplace',
			image: 'images/clients/10.png',
			userInfo: [
				{
					icon: 'images/clients/handshake.png',
					solution: '14',
					text: 'Успешно</br> совершенные сделки'
				},
				{
					icon: 'images/clients/hummer.png',
					solution: '1',
					text: 'Выиграно дел в суде',
				},
				{
					icon: 'images/clients/cash.png',
					solution: '2&nbsp;930&nbsp;000',
					text: 'Сэкономлено свыше',
				}
			]
		}
	];


-
	var clientInfoPage = [
		{
			id: 1,
			title: 'ФГБУ ЛОЦ «Елочки»',
			image: 'images/clients/1.png',
			userInfo: [
				{
					icon: 'images/clients/handshake.png',
					solution: '11',
					text: 'Успешно</br> совершенные сделки',
				},
				{
					icon: 'images/clients/hummer.png',
					solution: '4',
					text: 'Выиграно дел в суде',
				},
				{
					icon: 'images/clients/cash.png',
					solution: '550&nbsp;000',
					text: 'Сэкономлено свыше',
				}
			],
		},
		{
			id: 2,
			title: 'ГК «КС-Погрузчик»',
			image: 'images/clients/2.png',
			userInfo: [
				{
					icon: 'images/clients/handshake.png',
					solution: '35',
					text: 'Успешно</br> совершенные сделки',
				},
				{
					icon: 'images/clients/hummer.png',
					solution: '21',
					text: 'Выиграно дел в суде',
				},
				{
					icon: 'images/clients/cash.png',
					solution: '17&nbsp;000&nbsp;000',
					text: 'Сэкономлено свыше',
				}
			],
		},
		{
			id: 3,
			title: 'ЗАО «Вест»',
			image: 'images/clients/3.png',
			userInfo: [
				{
					icon: 'images/clients/handshake.png',
					solution: '72',
					text: 'Успешно</br> совершенные сделки',
				},
				{
					icon: 'images/clients/hummer.png',
					solution: '18',
					text: 'Выиграно дел в суде',
				},
				{
					icon: 'images/clients/cash.png',
					solution: '975&nbsp;000&nbsp;000',
					text: 'Сэкономлено свыше',
				}
			],
		},
		{
			id: 4,
			title: 'Межгосударственная корпорация развития',
			image: 'images/clients/4.png',
			userInfo: [
				{
					icon: 'images/clients/handshake.png',
					solution: '7',
					text: 'Успешно</br> совершенные сделки',
				},
				{
					icon: 'images/clients/hummer.png',
					solution: '26',
					text: 'Выиграно дел в суде',
				},
				{
					icon: 'images/clients/cash.png',
					solution: '72&nbsp;000&nbsp;000',
					text: 'Сэкономлено свыше',
				}
			],
		},
		{
			id: 5,
			title: 'Астеримед',
			image: 'images/clients/4.png',
			userInfo: [
				{
					icon: 'images/clients/handshake.png',
					solution: '3',
					text: 'Успешно</br> совершенные сделки',
				},
				{
					icon: 'images/clients/hummer.png',
					solution: '2',
					text: 'Выиграно дел в суде',
				},
				{
					icon: 'images/clients/cash.png',
					solution: '800&nbsp;000&nbsp;',
					text: 'Сэкономлено свыше',
				}
			],
		},
		{
			id: 6,
			title: 'Фанкор',
			image: 'images/clients/4.png',
			userInfo: [
				{
					icon: 'images/clients/handshake.png',
					solution: '5',
					text: 'Успешно</br> совершенные сделки',
				},
				{
					icon: 'images/clients/hummer.png',
					solution: '3',
					text: 'Выиграно дел в суде',
				},
				{
					icon: 'images/clients/cash.png',
					solution: '420&nbsp;000&nbsp;',
					text: 'Сэкономлено свыше',
				}
			],
		},
		{
			id: 7,
			title: 'Улувату',
			image: 'images/clients/4.png',
			userInfo: [
				{
					icon: 'images/clients/handshake.png',
					solution: '11',
					text: 'Успешно</br> совершенные сделки',
				},
				{
					icon: 'images/clients/hummer.png',
					solution: '0',
					text: 'Выиграно дел в суде',
				},
				{
					icon: 'images/clients/cash.png',
					solution: '280&nbsp;000&nbsp;',
					text: 'Сэкономлено свыше',
				}
			],
		},
		{
			id: 8,
			title: 'Де куизон',
			image: 'images/clients/4.png',
			userInfo: [
				{
					icon: 'images/clients/handshake.png',
					solution: '20',
					text: 'Успешно</br> совершенные сделки',
				},
				{
					icon: 'images/clients/hummer.png',
					solution: '8',
					text: 'Выиграно дел в суде',
				},
				{
					icon: 'images/clients/cash.png',
					solution: '3&nbsp;110&nbsp;000&nbsp;',
					text: 'Сэкономлено свыше',
				}
			],
		},
	];



-
	var sliderInfoContent = [
		{
			id: 1,
			title: 'Бесплатная консультация',
			text: 'При предъявлении купона VIP консультация бесплатна.',
			image: 'images/sliderinfo/gift.png',
			imageName: 'Подарок',
			button: 'Скачать купон',
			notation: 'Количество купонов ограничено.',
		},
	];


-
	var newsPost = [
		{
			id: 1,
			tagname: 'Банки',
			title: 'Что делать, если банкомат не выдает деньги?',
			preview: 'После оформления заказа вы&nbsp; будете получать уведомления о&nbsp;статусе заказа по&nbsp;электронной почте. После проверки договора мы&nbsp;вышлем вам правовое заключение.',
			image: 'images/news/1-s.jpg',
			catData: 'bank'
		},
		{
			id: 2,
			tagname: 'Банки',
			title: 'Что делать, если Вы&nbsp;купили машину, за&nbsp;которую не&nbsp;выплачен кредит?',
			preview: 'Покупая машину из&nbsp;частных рук, у&nbsp;вас есть шанс нарваться на&nbsp;мошенников, которые ее&nbsp;не&nbsp;купили, а&nbsp;взяли в&nbsp;кредит, не&nbsp;оплатив его.',
			image: 'images/news/2.jpg',
			catData: 'bank'
		},
		{
			id: 3,
			tagname: 'Валюта',
			title: 'Денежные переводы за&nbsp;рубеж: способы, особенности и&nbsp;ограничения',
			preview: 'Существует несколько способов	отправить деньги за&nbsp;границу, в&nbsp;этой	статье мы&nbsp;рассмотрим основные	из&nbsp;них.',
			image: 'images/news/3.jpg',
			catData: 'currency'
		},
		{
			id: 4,
			tagname: 'Медицина',
			title: 'Что делать, если банкомат не выдает деньги?',
			preview: 'Каждый гражданин РФ&nbsp;по&nbsp;закону имеет право на&nbsp;медицинское обслуживание и&nbsp;бесплатную медицинскую помощь на&nbsp;территории России. Однако, российский полис ОМС, как правило, не&nbsp;действует за&nbsp;пределами страны.',
			image: 'images/news/4.jpg',
			catData: 'med'
		},
		{
			id: 5,
			tagname: 'Суд',
			title: 'Судебное разбирательство затянулось <nobr>из-за</nobr> действий оппонента',
			preview: 'В&nbsp;судебном разбирательстве по&nbsp;гражданским делам обычно участвуют минимум две стороны &mdash; истец и&nbsp;ответчик.',
			image: 'images/news/5.jpg',
			catData: 'court'
		},
	];


-
	var newsTags = [
		{
			name: 'Все',
			data: 'all',
		},
		{
			name: 'Банки',
			data: 'bank',
		},
		{
			name: 'Бизнес',
			data: 'business',
		},
		{
			name: 'Валюта',
			data: 'currency'
		},
		{
			name: 'Интернет',
			data: 'internet',
		},
		{
			name: 'Медицина',
			data: 'med',
		},
		{
			name: 'Недвижимость',
			data: 'property',
		},
		{
			name: 'Налоги',
			data: 'charge',
		},
		{
			name: 'Страхование',
			data: 'insurance'
		},
		{
			name: 'Суд',
			data: 'court',
		},
		{
			name: 'Товары и услуги',
			data: 'service',
		},
		{
			name: 'Транспорт',
			data: 'transport'
		},
		{
			name: 'Туризм',
			data: 'tourism'
		},
	];


-
	var aboutCompany = [
		{
			id: 1,
			title: '2000\&nbsp;г. &mdash;&nbsp;Начало',
			imagePath: 'images/about/lion-orange.png',
			imageName: 'Начало',
			text: "На&nbsp;старте третьего тысячелетия была сформирована универсальная команда юристов с&nbsp;одной лишь целью увеличивать число довольных клиентов, работая в&nbsp;свое удовольствие. Компания MLC взяла курс на&nbsp;освоение вновь зародившегося в&nbsp;те&nbsp;времена рынка юридических услуг.&nbsp;Конкуренция диктовала условия ведения игры, но&nbsp;мы&nbsp;не&nbsp;собирались играть по&nbsp;чужим правилам. Мы&nbsp;установили свои. Мы&nbsp;пришли к&nbsp;выводу, что должны иметь дело лишь с&nbsp;теми людьми, которые нам&nbsp;нравятся, которым мы&nbsp;доверяем и&nbsp;восхищаемся. История компании МLC создается каждым нашим клиентом уже&nbsp;на&nbsp;протяжении 15 лет.",
			name: 'about-start',
		},
		{
			id: 2,
			title: '2005&nbsp;г. &mdash;&nbsp;Первая пятилетка',
			imagePath: 'images/about/lion-blue.png',
			imageName: 'Пятилетка',
			text: "На&nbsp;дворе <nobr>2005-й</nobr> год. Рекордные цены на&nbsp;нефть и&nbsp;титанические усилия юристов MLC способствовали укрупнению многих наших клиентов. Сарафанное радио и&nbsp;рекомендации выстроили перед нашими дверьми очередь из&nbsp;потенциальных клиентов. А&nbsp;в&nbsp;начале пути мало кто в&nbsp;нас верил, не&nbsp;правда&nbsp;ли? Первая пятилетка послужила гигантским толчком к&nbsp;дальнейшему развитию компании. Мы&nbsp;установили контакты с&nbsp;новыми зарубежными партнерами, благодаря которым мы&nbsp;по&nbsp;сей день отстаиваем интересы наших клиентов по&nbsp;всему миру.",
			name: 'about-first',
		},
		{
			id: 3,
			title: '2008&nbsp;г. &mdash;&nbsp;Кризис',
			imagePath: 'images/about/hummer-green.png',
			imageName: 'Кризис',
			text: "2008 год запомнился как год кризиса: массовое банкротство компаний, падение цен на&nbsp;нефть, дефицит бюджета&nbsp;&mdash; всё это повлияло на&nbsp;платежеспособность бизнеса и&nbsp;населения. Конкуренты разбрасывались лозунгами &laquo;антикризисное управление&raquo;, &laquo;оптимизация <nobr>бизнес-процессов</nobr>&raquo;, которые на&nbsp;деле только ускоряли погружение бизнеса на&nbsp;дно. Адаптируясь под изменения рынка, мы&nbsp;разработали для наших клиентов оптимальный продукт&nbsp;&mdash; комплексное юридическое обслуживание. Данное решение позволило многим компаниям полностью отказаться от&nbsp;затрат на&nbsp;содержание юридического отдела (штатного юриста). А&nbsp;мы&nbsp;<nobr>по-прежнему</nobr> защищали интересы клиентов до&nbsp;последней капли чернил в&nbsp;принтере, но&nbsp;теперь это&nbsp;обходилось им&nbsp;ещё дешевле.",
			name: 'about-crysis',
		},
		{
			id: 4,
			title: '2012&nbsp;г. &mdash;&nbsp;Мы&nbsp;в&nbsp;цифрах',
			imagePath: 'images/about/size.png',
			imageName: 'Цифры',
			text: "Черная полоса сменилось белой, красная икра уступила место черной, а&nbsp;мы&nbsp;<nobr>по-прежнему</nobr> обеспечивали нашим клиентам превосходство над другими компаниями. С&nbsp;начала кризиса мы&nbsp;сэкономили клиентам более одного миллиарда рублей, обеспечили заключение 134 успешных сделок и&nbsp;уничтожали своих соперников во&nbsp;всех судебных инстанциях.",
			name: 'about-numbers',
		},
		{
			id: 5,
			title: '2012&nbsp;г. &mdash;&nbsp;Мы во&nbsp;всемирной паутине',
			imagePath: 'images/about/melt-logo.png',
			imageName: 'Паутина',
			text: "В&nbsp;октябре 2016 года компания МLC презентовала обновленную версию сайта по&nbsp;адресу: <a href='http://meltzerfirm.com'>meltzerfirm.com</a>. Мы&nbsp;сделали его&nbsp;настолько красивым и&nbsp;удобным, что&nbsp;скоро он&nbsp;обгонит Facebook по&nbsp;количеству посещений (это&nbsp;не&nbsp;шутка, это&nbsp;свидетельство наших амбиций). А&nbsp;ещё мы&nbsp;не&nbsp;размещаем тупой рекламы, не&nbsp;пичкаем наш сайт глупыми роботами, навязывающими обратный звонок любому кто&nbsp;&laquo;напишет о&nbsp;своей проблеме&raquo;. В&nbsp;общем все, что мы&nbsp;делаем, мы&nbsp;делаем для&nbsp;Вас! И&nbsp;мы&nbsp;знаем, что&nbsp;Вы&nbsp;это&nbsp;цените. <br /> <br /> <nobr>P. S.</nobr> Команда MLC безгранично благодарна агентству &laquo;<a href='http://kdm1.ru' target='_blank'>Клиника доброго маркетолога</a>&raquo; за&nbsp;создание лучшего юридического сайта в&nbsp;рунете!",
			name: 'about-web',
		}
	];



-
	var commentsSlider = [
		{
			id: 1,
			author: 'Галоян Гагик',
			title: 'Генеральный директор ГК&nbsp;&laquo;ЗМК ПРОМ&raquo;',
			text: 'Мельцеры классные. Обратились к&nbsp;ним по&nbsp;рекомендации своего товарища, да&nbsp;так&nbsp;давно, что&nbsp;уже невозможно посчитать, сколько денег я&nbsp;заработал с&nbsp;их&nbsp;помощью. <nobr>Как-то</nobr> позвонил им&nbsp;в&nbsp;офис, на&nbsp;часах было уже за&nbsp;полночь, и&nbsp;сложно поверить, но&nbsp;они ещё работали! Наверное, любовь к&nbsp;своему делу и&nbsp;помогает им постоянно расти. Приятно работать с&nbsp;людьми, заряженными энергией, искренностью и&nbsp;энтузиазмом.',
			image: 'images/Slider/1.png',
			imageName: this.author,
			status: 'active'
		},
		{
			id: 2,
			author: 'Avakian',
			text: 'MLC did great job concerning our handbook issue. We&nbsp;are very satisfied with the outcome. Easy process, communication was great. The Lawfirm took care of&nbsp;everything for&nbsp;us. Highly recommend MLC&nbsp;services.',
			image: 'images/Slider/AVAKIAN.jpg',
			imageName: this.author,
			status: ''
		},
		{
			id: 3,
			author: 'Владимир Конев',
			title: 'Группа компаний "КС-Погрузчик"',
			text: 'Нам было тяжело отказаться от&nbsp;собственного юридического отдела в&nbsp;пользу аутсорсинга, но&nbsp;уже первый месяц сотрудничества с&nbsp;&laquo;Мельцер Групп&raquo; сэкономил наши средства: мы&nbsp;избавились от&nbsp;затрат на&nbsp;социальные взносы и&nbsp;отчисления, на&nbsp;офисную мебель и&nbsp;технику, на&nbsp;аренду помещения для юридического отдела и&nbsp;дорогие правовые базы, и&nbsp;при&nbsp;этом мы&nbsp;получили более высокий уровень обслуживания, чем могли предоставить нам&nbsp;штатные юристы. Нацеленность на&nbsp;результат, эффективность и&nbsp;оперативность&nbsp;&mdash; вот&nbsp;что&nbsp;можно сказать о&nbsp;сотрудниках &laquo;Мельцер Групп&raquo;.',
			image: 'images/Slider/Konev.jpg',
			imageName: this.author,
			status: ''
		},
		{
			id: 4,
			author: 'Дарья Гросс',
			title: 'Студия красоты Дарьи Гросс',
			text: 'Я&nbsp;владею студией красоты и&nbsp;долго думала, стоит&nbsp;ли регистрировать свой товарный знак&nbsp;&mdash; меня останавливало&nbsp;то, что&nbsp;это&nbsp;долгая процедура. Юристы &laquo;Мельцер групп&raquo;, к&nbsp;которым я&nbsp;обратилась по&nbsp;рекомендации своих знакомых, объяснили мне, почему товарный знак лучше зарегистрировать, и&nbsp;именно они занялись этой регистрацией. Сейчас я&nbsp;понимаю, что&nbsp;регистрация товарного знака была важным шагом&nbsp;&mdash; с&nbsp;развитием моего бизнеса и&nbsp;развитием бренда, мой товарный знак стали незаконно использовать конкуренты, что крайне негативно сказалось на&nbsp;репутации салона. Однако на&nbsp;данный момент юристы &laquo;Мельцер групп&raquo; уже&nbsp;готовят против них&nbsp;иск в&nbsp;суд.',
			image: 'images/Slider/Gross.jpg',
			imageName: this.author,
			status: ''
		},
		{
			id: 5,
			author: 'HILL International',
			text: 'Meltzer Litigation and Consulting does exactly what they say they will&nbsp;do. They are an&nbsp;amazing company. We&nbsp;would highly recommend this firm to&nbsp;anyone who wants to&nbsp;initiate the trial. This is&nbsp;the place to&nbsp;go. They&rsquo;re highly respected and been in&nbsp;the business the longest!',
			image: 'images/Slider/HILL-150x150.jpg',
			imageName: this.author,
			status: ''
		},
		{
			id: 6,
			author: 'Максим Борисов',
			text: 'Страховая превратила мою спокойную размеренную жизнь в&nbsp;страшный сон. Небольшое ДТП на&nbsp;окраине Москвы и&nbsp;намеренное завышение страховой лимита по&nbsp;ОСАГО обернулось для&nbsp;меня письмами, угрозами и&nbsp;заочным решением суда без&nbsp;моего ведома. Кошмар так&nbsp;и&nbsp;продолжал&nbsp;бы меня затягивать все глубже в&nbsp;бездну клеветы и&nbsp;несправдливости, если&nbsp;бы не&nbsp;Meltzer. В&nbsp;итоге, я&nbsp;не&nbsp;только вытерся от&nbsp;грязи в&nbsp;которую меня окунула страховая, но&nbsp;и&nbsp;получил солидную компенсацию за&nbsp;моральный вред и&nbsp;потерю рабочего времени. Теперь я&nbsp;чист и&nbsp;сплю спокойно.',
			image: 'images/Slider/new.jpg',
			imageName: this.author,
			status: ''
		}
	];

-
	var recommendSlides = [
		{
			id: 1,
			logo: 'images/documents/1.jpg',
			document: 'images/documents/1.png',
			logoName: 'Компания',
			documentName: 'Документ',
		},
		{
			id: 2,
			logo: 'images/documents/2.jpg',
			document: 'images/documents/2.png',
			logoName: 'Компания',
			documentName: 'Документ',
		},
		{
			id: 3,
			logo: 'images/documents/3.jpg',
			document: 'images/documents/3.png',
			logoName: 'Компания',
			documentName: 'Документ',
		},
		{
			id: 4,
			logo: 'images/documents/4.jpg',
			document: 'images/documents/4.png',
			logoName: 'Компания',
			documentName: 'Документ',
		},
		{
			id: 5,
			logo: 'images/documents/5.jpg',
			document: 'images/documents/5.png',
			logoName: 'Компания',
			documentName: 'Документ',
		},
		{
			id: 6,
			logo: 'images/documents/6.jpg',
			document: 'images/documents/6.png',
			logoName: 'Компания',
			documentName: 'Документ',
		}
	];

-
	var Text = [
		{
			id: 1,
			subtitle: 'Всем известно, что&nbsp;банкомат является надежным устройством для&nbsp;осуществления множества денежных операций, будь то&nbsp;перевод денег другим лицам или&nbsp;оплата коммунальных и&nbsp;иных услуг.&nbsp;Однако, как и&nbsp;в&nbsp;любом техническом устройстве, в&nbsp;работе банкомата могут происходить сбои.',
			listtitle: 'Основные причины сбоев в&nbsp;работе банкомата:',
			list: ['Неполадки в программном обеспечении устройства;', 'Превышение лимита допустимой для снятия суммы;', 'Перебои в электропитании;', 'Карта повреждена;', 'Отсутствие в банкомате достаточного количества купюр;', 'Недостаточная сумма на счету для снятия.'],
			image: 'images/news/1.jpg',
			imageName: 'Банкомат',
			text: 'По&nbsp;законодательству РФ, а&nbsp;именно ФЗ&nbsp;от&nbsp;<nobr>27.06.2011</nobr> &laquo;О&nbsp;национальной платёжной системе&raquo; &#8470;&nbsp;<nobr>161-ФЗ</nobr>, банк обязан предоставлять уведомления своим клиентам обо всех электронных операциях, проводимых с&nbsp;их&nbsp;счетами. Так,&nbsp;если при&nbsp;обналичивании денежных средств с&nbsp;пластиковой карты банкомат не&nbsp;выдает деньги, но&nbsp;вам&nbsp;приходит уведомление об&nbsp;их&nbsp;списании, не&nbsp;паникуйте&nbsp;&mdash; по&nbsp;законодательству банк берет ответственность за&nbsp;работу и&nbsp;поломку банкомата на&nbsp;себя согласно ФЗ&nbsp;от&nbsp;<nobr>02.12.1990</nobr> &laquo;О&nbsp;банках и&nbsp;банковской деятельности&raquo; &#8470;&nbsp;395&ndash;1.'
		}
	];

-
	var mapList = [
		{
			id: 1,
			title: 'Швейцария',
			logo: 'images/map/l1.jpg',
			icon: 'images/map/1.png',
			name: 'Bank Von Roll LTD',
		},
		{
			id: 2,
			title: 'Кипр',
			logo: 'images/map/l2.jpg',
			icon: 'images/map/2.png',
			name: 'PNO Legal Consultancy',
		},
		{
			id: 3,
			title: 'Италия',
			logo: 'images/map/l3.jpg',
			icon: 'images/map/3.png',
			name: 'Nunziante Magrone Studio Legale Associato'
		},
		{
			id: 4,
			title: 'Испания',
			logo: 'images/map/l4.jpg',
			icon: 'images/map/4.png',
			name: 'Bufete Barrilero y Asociados',
		},
		{
			id: 5,
			title: 'Германия',
			logo: 'images/map/l5.jpg',
			icon: 'images/map/5.png',
			name: 'Advocate Stephan Muller – Sheffsky',
		},
		{
			id: 6,
			title: 'Болгария',
			logo: 'images/map/l6.jpg',
			icon: 'images/map/6.png',
			name: 'Bank Von Roll LTD',
		},
		{
			id: 7,
			title: 'Финляндия',
			logo: 'images/map/l7.jpg',
			icon: 'images/map/7.png',
			name: 'Finnlaw Timo Antti Riissanen',
		},
		{
			id: 8,
			title: 'ОАЭ',
			logo: 'images/map/l8.jpg',
			icon: 'images/map/8.png',
			name: 'Metropolitan Consulting',
		},
		{
			id: 9,
			title: 'Армения',
			logo: 'images/map/l9.jpg',
			icon: 'images/map/9.png',
			name: 'MARI-STEG LLC',
		}
	];