mixin iconic(image, desc)
	figure.flex-item
		img(src=image, alt="Иконка")
		figcaption
			p!=desc

mixin specMaps(image, alt)
		figure.mz-maps__img
			img.img-responsive(src=image, alt=alt)

mixin sudSlider(datas)
	div.item(class=datas.status)
		article.mz-sudslide
			//- HEADER SLIDER
			header.mz-sudslider-header
				figure.flex-container
					div.index-slider-header__logo.order-1
						img(src=datas.image, alt="Логотип")
					figcaption.index-slider-header__title.order-2!=datas.title
			//- BODY SLIDER
			div.mz-sudslider-body
				div.flex-container
					each docs in datas.docs
							div.flex-item(class=docs.orderBy)
								figure
									img(src="images/slide-paper.png", alt="Иконка")
									figcaption
										a.mz-sudslide__title(href=docs.link,
											target="_blank")!=docs.title

mixin indexSlider(datas)
	div.item(class=datas.status)
		article.article-slide
			//- HEADER SLIDER
			header.index-slider-header
				figure.flex-container
					div.index-slider-header__logo.order-1
						img(src=datas.image, alt="Логотип")
					figcaption.index-slider-header__title.order-2!=datas.title
			//- BODY SLIDER
			div.index-slider-body
				div.flex-container
					div.order-1
						img(src="images/icon-handshake.png", alt="Рукопожатие")
						h2!=datas.handshake
						h3.
							Успешно совершенные сделки
					div.order-2
						img(src="images/icon-hummer.png", alt="Молот")
						h2!=datas.hummer
						h3.
							Выиграно дел в суде
					div.order-2
						img(src="images/icon-wallet.png", alt="Кошель")
						h3.
							Сэкономлено свыше
						h2!=datas.cash
							<i class="rouble-course-font">у</i>

mixin imagetext(link)
	section(class=link.name)
		.container
			.flex-container
				.flex-item.order-1
					img.img-responsive(src=link.imagePath, alt=link.imageName)
				.flex-item.order-2
					h1!=link.title
					p!=link.text

mixin commentSlider(user)
			.item(class=user.status)
				.flex-container
						.flex-item.order-1
							img.img-responsive(src=user.image, alt=user.imageName)
						.flex-item.order-2
							p.comment-text!=user.text
							h3.comment-author!=user.author
							- if(user.title){
							h4.comment-title!=user.title
							-}

mixin block-recomend(recom)
	section.jumbotron.section-documents
		.container
				.flex-container
					if block
						block

mixin blocknews
	section.jumbotron.section-newsec
		.container
				.flex-container
					if block
						block
					else
						h1 Have't content

mixin anyblock(name)
	section.jumbotron(class=name)
		.container
				if block
					block
				else
					h1 This block is empty

mixin sliderInformation(sliderinfo)

	.slider-wrapper.infoslider-flex
		.flex-item.order-1
			img(src=sliderinfo.image, alt=sliderinfo.imageName)

		.flex-item.order-2
			h2!=sliderinfo.title
			p!=sliderinfo.text


		.flex-item.order-3.flex-in-flex
			if sliderinfo.button
				.flex-inner.order-1
					a.btn.btn-default(
								  href="/images/coupon.jpg" download)!=sliderinfo.button
				.flex-inner.order-2
					p!=sliderinfo.notation
			else
				.flex-inner.order-2
					p.sliderinfo-alone!=slider.notation

mixin blockclients(client)
	.flex-container
		.flex-item.order-1
			img(src=client.image, alt='Компания')
			h4
				a()!=client.title
		.flex-item.order-2.flex-in-flex
			each dataC in client.userInfo
				.flex-inner
					.order-1
						img(src=dataC.icon, alt="Иконка")
					.order-2
						h3!=dataC.solution
							span(style="margin-left: 10px").rouble-course-font.
								у
					.order-3
						p!=dataC.text

mixin tendericons(iconic)
		.flex-item
			img(src=iconic.icon, alt="Иконка")
			h3!=iconic.text
			if iconic.price
				h3!=iconic.price
mixin radioChecks(radioChecking)
	input(type="radio",
				id=radioChecking.idName,
				name=radioChecking.name)

	label(for=radioChecking.idName)!=radioChecking.label
		<span></span>
